Repository IntersectMBO/cardano-ledger, pull requests merged in 2019-10, with the labels that each got.

#894 Add LEDGER property for conservation of value in UTXO and DELEGS
  shelley/chain-and-ledger/executable-spec/test/Rules/TestLedger.hs
Labels: property test :slot_machine:, shelley :shell:

#895 Add property-based test for `NEWEPOCH`
  shelley/chain-and-ledger/executable-spec/delegation.cabal
  shelley/chain-and-ledger/executable-spec/src/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Epoch.hs
  shelley/chain-and-ledger/executable-spec/src/STS/NewEpoch.hs
  shelley/chain-and-ledger/executable-spec/test/MockTypes.hs
  shelley/chain-and-ledger/executable-spec/test/Rules/TestNewEpoch.hs
Labels: property test :slot_machine:, shelley :shell:

#881 Move instantaneous rewards
  shelley/chain-and-ledger/formal-spec/chain.tex
  shelley/chain-and-ledger/formal-spec/delegation.tex
  shelley/chain-and-ledger/formal-spec/epoch.tex
  shelley/chain-and-ledger/formal-spec/ledger-spec.tex
  shelley/chain-and-ledger/formal-spec/ledger.tex
  shelley/chain-and-ledger/formal-spec/protocol-parameters.tex
  shelley/chain-and-ledger/formal-spec/utxo.tex
Labels: formal-spec :scroll:, shelley :shell:, work in progress :construction:

#910 Add descriptions for moving instanatneous rewards
  shelley/chain-and-ledger/formal-spec/delegation.tex
  shelley/chain-and-ledger/formal-spec/epoch.tex
  shelley/chain-and-ledger/formal-spec/ledger.tex
  shelley/chain-and-ledger/formal-spec/utxo.tex
Labels: formal-spec :scroll:, shelley :shell:

#858 KH updates to multi-sig
  shelley/chain-and-ledger/formal-spec/IOHKCoverPage.sty
  shelley/chain-and-ledger/formal-spec/default.nix
  shelley/chain-and-ledger/formal-spec/habbrv.bst
  shelley/chain-and-ledger/formal-spec/iohk-share-logo.jpg
  shelley/chain-and-ledger/formal-spec/iohk.sty
  shelley/chain-and-ledger/formal-spec/multi-sig.tex
  shelley/chain-and-ledger/formal-spec/references.bib
Labels: formal-spec :scroll:, shelley :shell:

#915 Remove checkmarks for exponentation in `poolReward` function
  shelley/chain-and-ledger/formal-spec/non-integral.tex
Labels: formal-spec :scroll:, shelley :shell:

#920 Consistently do not use parentheses for STS environments
  shelley/chain-and-ledger/formal-spec/chain.tex
  shelley/chain-and-ledger/formal-spec/delegation.tex
  shelley/chain-and-ledger/formal-spec/epoch.tex
  shelley/chain-and-ledger/formal-spec/ledger.tex
  shelley/chain-and-ledger/formal-spec/update.tex
  shelley/chain-and-ledger/formal-spec/utxo.tex
Labels: formal-spec :scroll:, shelley :shell:

#921 Formalize Proof of No Double-Spending Property
  README.md
  byron/ledger/formal-spec/Isabelle/Ledger_Rules.thy
  byron/ledger/formal-spec/Isabelle/Ledger_Rules_Formalization.pdf
Labels: formal-spec :scroll:

#936 Add proof of UTxO difference property and other stuff
  byron/ledger/formal-spec/Isabelle/Ledger_Rules.thy
  byron/ledger/formal-spec/Isabelle/Ledger_Rules_Formalization.pdf
  byron/ledger/formal-spec/Isabelle/Ledger_Rules_Formalization/Ledger_Rules.thy
  byron/ledger/formal-spec/Isabelle/Ledger_Rules_Formalization/ROOT
  byron/ledger/formal-spec/Isabelle/Ledger_Rules_Formalization/document/root.tex
  byron/ledger/formal-spec/Isabelle/Makefile
  byron/ledger/formal-spec/Isabelle/README.md
  byron/ledger/formal-spec/Isabelle/ROOTS
Labels: formal-spec :scroll:

#959 Add MIR examples
  shelley/chain-and-ledger/executable-spec/src/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Bbody.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Chain.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Deleg.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Delegs.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Delpl.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Ledger.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Ledgers.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Utxow.hs
  shelley/chain-and-ledger/executable-spec/src/UTxO.hs
  shelley/chain-and-ledger/executable-spec/test/Examples.hs
  shelley/chain-and-ledger/executable-spec/test/MockTypes.hs
  shelley/chain-and-ledger/executable-spec/test/STSTests.hs
  shelley/chain-and-ledger/formal-spec/epoch.tex
  shelley/chain-and-ledger/formal-spec/utxo.tex
Labels: executable-model :gear:, shelley :shell:

#964 Add example for MIR application
  shelley/chain-and-ledger/executable-spec/src/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Overlay.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Prtcl.hs
  shelley/chain-and-ledger/executable-spec/test/Examples.hs
  shelley/chain-and-ledger/executable-spec/test/STSTests.hs
Labels: executable-model :gear:, shelley :shell:

#973 Extend example for rewards with MIR certificate
  shelley/chain-and-ledger/executable-spec/src/STS/Deleg.hs
  shelley/chain-and-ledger/executable-spec/src/TxData.hs
  shelley/chain-and-ledger/executable-spec/test/Examples.hs
  shelley/chain-and-ledger/formal-spec/epoch.tex
Labels: executable-model :gear:, shelley :shell:
