Repository IntersectMBO/cardano-ledger, pull requests merged in 2019-09, with the labels that each got.

#820 Adapt and implement `DELEG` STS rule properties
  shelley/chain-and-ledger/executable-spec/src/EpochBoundary.hs
  shelley/chain-and-ledger/executable-spec/src/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/TxData.hs
  shelley/chain-and-ledger/executable-spec/src/UTxO.hs
  shelley/chain-and-ledger/executable-spec/test/Rules/TestDeleg.hs
  shelley/chain-and-ledger/formal-spec/properties.tex
Labels: executable-model :gear:, property test :slot_machine:, shelley :shell:

#822 Implement and adapt the `POOL` properties in the formal spec
  shelley/chain-and-ledger/executable-spec/delegation.cabal
  shelley/chain-and-ledger/executable-spec/src/STS/Pool.hs
  shelley/chain-and-ledger/executable-spec/test/MockTypes.hs
  shelley/chain-and-ledger/executable-spec/test/Rules/TestDeleg.hs
  shelley/chain-and-ledger/executable-spec/test/Rules/TestPool.hs
  shelley/chain-and-ledger/formal-spec/properties.tex
Labels: executable-model :gear:, property test :slot_machine:, shelley :shell:

#825 Property for `POOLREAP` rule
  shelley/chain-and-ledger/executable-spec/delegation.cabal
  shelley/chain-and-ledger/executable-spec/src/STS/PoolReap.hs
  shelley/chain-and-ledger/executable-spec/test/MockTypes.hs
  shelley/chain-and-ledger/executable-spec/test/Rules/TestPoolreap.hs
  shelley/chain-and-ledger/formal-spec/properties.tex
Labels: executable-model :gear:, property test :slot_machine:, shelley :shell:

#826 Issues #686 Convert tuples to data types
  shelley/chain-and-ledger/executable-spec/src/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Avup.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Bbody.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Bhead.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Chain.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Deleg.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Delegs.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Delpl.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Epoch.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Ledger.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Ledgers.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Newpp.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Overlay.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Pool.hs
  shelley/chain-and-ledger/executable-spec/src/STS/PoolReap.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Ppup.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Prtcl.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Rupd.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Snap.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Up.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Updn.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Utxo.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Utxow.hs
  shelley/chain-and-ledger/executable-spec/src/Updates.hs
  shelley/chain-and-ledger/executable-spec/test/Examples.hs
  shelley/chain-and-ledger/executable-spec/test/MockTypes.hs
  shelley/chain-and-ledger/executable-spec/test/MultiSigExamples.hs
  shelley/chain-and-ledger/executable-spec/test/Rules/TestDeleg.hs
  shelley/chain-and-ledger/executable-spec/test/Rules/TestPool.hs
  shelley/chain-and-ledger/executable-spec/test/Rules/TestPoolreap.hs
  shelley/chain-and-ledger/executable-spec/test/STSTests.hs
Labels: executable-model :gear:, shelley :shell:

#855 STS-based properties for UTXOW
  shelley/chain-and-ledger/executable-spec/delegation.cabal
  shelley/chain-and-ledger/executable-spec/src/STS/Utxo.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Utxow.hs
  shelley/chain-and-ledger/executable-spec/test/MockTypes.hs
  shelley/chain-and-ledger/executable-spec/test/Rules/TestUtxow.hs
Labels: executable-model :gear:, property test :slot_machine:, shelley :shell:

#854 Shelley spec Review 15
  shelley/chain-and-ledger/formal-spec/address.tex
  shelley/chain-and-ledger/formal-spec/crypto-primitives.tex
  shelley/chain-and-ledger/formal-spec/ledger-spec.tex
  shelley/chain-and-ledger/formal-spec/transactions.tex
  shelley/chain-and-ledger/formal-spec/utxo.tex
Labels: formal-spec :scroll:, shelley :shell:

#862 The `BHEAD` rule used `Set VKeyG` in its environment
  shelley/chain-and-ledger/formal-spec/chain.tex
Labels: formal-spec :scroll:, shelley :shell:

#848 handwritten properties
  shelley/chain-and-ledger/formal-spec/Properties.md
Labels: property test :slot_machine:, shelley :shell:

#886 Wrap source / signal / target triples in proper type
  byron/semantics/executable-spec/src/Control/State/Transition/Trace.hs
  shelley/chain-and-ledger/executable-spec/delegation.cabal
  shelley/chain-and-ledger/executable-spec/test/Rules/TestDeleg.hs
  shelley/chain-and-ledger/executable-spec/test/Rules/TestPool.hs
  shelley/chain-and-ledger/executable-spec/test/Rules/TestPoolreap.hs
  shelley/chain-and-ledger/executable-spec/test/Rules/TestUtxow.hs
  shelley/chain-and-ledger/executable-spec/test/Test/Utils.hs
Labels: property test :slot_machine:, shelley :shell:

#887 Property test for `DELEGS`
  shelley/chain-and-ledger/executable-spec/delegation.cabal
  shelley/chain-and-ledger/executable-spec/src/STS/Delegs.hs
  shelley/chain-and-ledger/executable-spec/test/MockTypes.hs
  shelley/chain-and-ledger/executable-spec/test/Rules/TestDelegs.hs
Labels: executable-model :gear:, property test :slot_machine:, shelley :shell:

#888 Propertyies for `UTXO` STS rule
  shelley/chain-and-ledger/executable-spec/delegation.cabal
  shelley/chain-and-ledger/executable-spec/src/STS/Utxo.hs
  shelley/chain-and-ledger/executable-spec/test/MockTypes.hs
  shelley/chain-and-ledger/executable-spec/test/Rules/TestUtxo.hs
Labels: property test :slot_machine:, shelley :shell:

#889 Add property to check for rewards balance invariant in `DELEG`
  shelley/chain-and-ledger/executable-spec/test/Rules/TestDeleg.hs
  shelley/chain-and-ledger/formal-spec/Properties.md
Labels: property test :slot_machine:, shelley :shell:

#893 Add properties for `POOLREAP`
  shelley/chain-and-ledger/executable-spec/src/STS/PoolReap.hs
  shelley/chain-and-ledger/executable-spec/test/Rules/TestPoolreap.hs
Labels: property test :slot_machine:, shelley :shell:
