Repository IntersectMBO/cardano-ledger, pull requests merged in 2019-07, with the labels that each got.

#631 Reduce number of weeder warnings
  byron/ledger/executable-spec/cs-ledger.cabal
  byron/ledger/executable-spec/test/Ledger/Delegation/Properties.hs
  nix/.stack.nix/cs-blockchain.nix
  nix/.stack.nix/cs-ledger.nix
  nix/.stack.nix/delegation.nix
  nix/.stack.nix/non-integer.nix
  shelley/chain-and-ledger/dependencies/non-integer/non-integer.cabal
  shelley/chain-and-ledger/executable-spec/delegation.cabal
Labels: technical-debt

#633 Spec for multi-signature staking
  shelley/chain-and-ledger/formal-spec/multi-sig.tex
Labels: formal-spec, shelley

#638 Simple Multi-signature scheme
  shelley/chain-and-ledger/executable-spec/delegation.cabal
  shelley/chain-and-ledger/executable-spec/src/Address.hs
  shelley/chain-and-ledger/executable-spec/src/BlockChain.hs
  shelley/chain-and-ledger/executable-spec/src/Delegation/Certificates.hs
  shelley/chain-and-ledger/executable-spec/src/Delegation/PoolParams.hs
  shelley/chain-and-ledger/executable-spec/src/EpochBoundary.hs
  shelley/chain-and-ledger/executable-spec/src/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Bbody.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Chain.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Deleg.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Delegs.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Delpl.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Ledger.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Ledgers.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Pool.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Utxo.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Utxow.hs
  shelley/chain-and-ledger/executable-spec/src/Tx.hs
  shelley/chain-and-ledger/executable-spec/src/TxData.hs
  shelley/chain-and-ledger/executable-spec/src/UTxO.hs
  shelley/chain-and-ledger/executable-spec/test/Generator.hs
  shelley/chain-and-ledger/executable-spec/test/MockTypes.hs
  shelley/chain-and-ledger/executable-spec/test/Mutator.hs
  shelley/chain-and-ledger/executable-spec/test/PropertyTests.hs
  shelley/chain-and-ledger/executable-spec/test/UnitTests.hs
Labels: executable-model, shelley

#642 Adds two UTxO properties
  byron/ledger/executable-spec/src/Cardano/Ledger/Spec/STS/UTXO.hs
  byron/ledger/executable-spec/test/Ledger/UTxO/Properties.hs
  byron/ledger/executable-spec/test/Main.hs
Labels: byron-shelley bridge, executable-model

#647 First example use-cases for multi-signature output spending
  shelley/chain-and-ledger/executable-spec/src/STS/Utxow.hs
  shelley/chain-and-ledger/executable-spec/test/MockTypes.hs
  shelley/chain-and-ledger/executable-spec/test/STSTests.hs
Labels: executable-model, shelley

#654 Multiple Scripts, Scripts and Key Witnesses, Mutli-Sig Withdrawal examples
  shelley/chain-and-ledger/executable-spec/test/MockTypes.hs
  shelley/chain-and-ledger/executable-spec/test/STSTests.hs
Labels: executable-model :gear:, shelley

#656 Simplify predicates in UTXOW rule for multi-signature / change script format
  shelley/chain-and-ledger/executable-spec/src/Delegation/Certificates.hs
  shelley/chain-and-ledger/executable-spec/src/EpochBoundary.hs
  shelley/chain-and-ledger/executable-spec/src/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Delegs.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Delpl.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Utxow.hs
  shelley/chain-and-ledger/executable-spec/src/Tx.hs
  shelley/chain-and-ledger/executable-spec/src/TxData.hs
  shelley/chain-and-ledger/executable-spec/src/UTxO.hs
  shelley/chain-and-ledger/executable-spec/test/Generator.hs
  shelley/chain-and-ledger/executable-spec/test/MockTypes.hs
  shelley/chain-and-ledger/executable-spec/test/Mutator.hs
  shelley/chain-and-ledger/executable-spec/test/STSTests.hs
  shelley/chain-and-ledger/executable-spec/test/UnitTests.hs
  shelley/chain-and-ledger/formal-spec/multi-sig.tex
Labels: executable-model :gear:, shelley

#657 Remove native script examples, this is now implemented in exec spec
  shelley/chain-and-ledger/formal-spec/multi-sig.tex
Labels: formal-spec, shelley

#658 Fix the order of transactions applied in UTXOWS
  byron/ledger/executable-spec/src/Cardano/Ledger/Spec/STS/UTXOWS.hs
  byron/ledger/executable-spec/test/Ledger/UTxO/Properties.hs
Labels: byron-shelley bridge :bridge_at_night:, executable-model :gear:

#666 Add `AddrBase` / `AddrEnterprise` types
  shelley/chain-and-ledger/executable-spec/src/Address.hs
  shelley/chain-and-ledger/executable-spec/src/Delegation/Certificates.hs
  shelley/chain-and-ledger/executable-spec/src/EpochBoundary.hs
  shelley/chain-and-ledger/executable-spec/src/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Tx.hs
  shelley/chain-and-ledger/executable-spec/src/TxData.hs
  shelley/chain-and-ledger/executable-spec/src/UTxO.hs
  shelley/chain-and-ledger/executable-spec/test/Generator.hs
  shelley/chain-and-ledger/executable-spec/test/MockTypes.hs
  shelley/chain-and-ledger/executable-spec/test/Mutator.hs
  shelley/chain-and-ledger/executable-spec/test/STSTests.hs
  shelley/chain-and-ledger/executable-spec/test/UnitTests.hs
Labels: executable-model :gear:, shelley

#690 Explicitly list potential failure predicates for STS rules
  shelley/chain-and-ledger/executable-spec/src/STS/Ppup.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Utxo.hs
  shelley/chain-and-ledger/formal-spec/chain.tex
  shelley/chain-and-ledger/formal-spec/delegation.tex
  shelley/chain-and-ledger/formal-spec/update.tex
  shelley/chain-and-ledger/formal-spec/utxo.tex
Labels: formal-spec, shelley

#693 Restructure multi-sig examples
  shelley/chain-and-ledger/executable-spec/delegation.cabal
  shelley/chain-and-ledger/executable-spec/test/Examples.hs
  shelley/chain-and-ledger/executable-spec/test/MultiSigExamples.hs
  shelley/chain-and-ledger/executable-spec/test/STSTests.hs
Labels: executable-model :gear:, shelley

#697 Take into account audit review comments from 29/7/2019
  shelley/chain-and-ledger/formal-spec/multi-sig.tex
Labels: formal-spec, shelley
