Repository IntersectMBO/cardano-ledger, pull requests merged in 2019-04, with the labels that each got.

#366 Blockchain Layer STS rules
  hs/delegation.cabal
  hs/src/BaseTypes.hs
  hs/src/BlockChain.hs
  hs/src/Delegation/Certificates.hs
  hs/src/Delegation/PoolParams.hs
  hs/src/EpochBoundary.hs
  hs/src/Keys.hs
  hs/src/LedgerState.hs
  hs/src/OCert.hs
  hs/src/PParams.hs
  hs/src/STS/Bbody.hs
  hs/src/STS/Bhead.hs
  hs/src/STS/Chain.hs
  hs/src/STS/Epoch.hs
  hs/src/STS/Ledgers.hs
  hs/src/STS/NewEpoch.hs
  hs/src/STS/Newpp.hs
  hs/src/STS/Ocert.hs
  hs/src/STS/PoolReap.hs
  hs/src/STS/Rupd.hs
  hs/src/STS/Snap.hs
  hs/src/STS/Updn.hs
  hs/src/STS/Vrf.hs
  hs/test/Generator.hs
  hs/test/Mutator.hs
  hs/test/UnitTests.hs
  latex/chain.tex
  latex/ledger.tex
Labels: executable-model, shelley

#383 Haskell version of the optimized leader election calculation
  shelley/chain-and-ledger/dependencies/non-integer/app/Main.hs
  shelley/chain-and-ledger/dependencies/non-integer/doc/haskell.png
  shelley/chain-and-ledger/dependencies/non-integer/doc/non-integer-calculations.tex
  shelley/chain-and-ledger/dependencies/non-integer/reference/non_integral.c
  shelley/chain-and-ledger/dependencies/non-integer/reference/non_integral_test.cpp
  shelley/chain-and-ledger/dependencies/non-integer/src/NonIntegral.hs
  shelley/chain-and-ledger/dependencies/non-integer/test/Spec.hs
Labels: executable-model, shelley

#398 Fix some typos / style changes
  shelley/design-spec/delegation_design_spec.tex
Labels: formal-spec, shelley

#392 Remove moving average from the Shelley specification
  shelley/chain-and-ledger/formal-spec/appendix.tex
  shelley/chain-and-ledger/formal-spec/chain.tex
  shelley/chain-and-ledger/formal-spec/delegation.tex
  shelley/chain-and-ledger/formal-spec/epoch.tex
  shelley/chain-and-ledger/formal-spec/non-integral.tex
  shelley/chain-and-ledger/formal-spec/properties.tex
  shelley/chain-and-ledger/formal-spec/protocol-parameters.tex
Labels: formal-spec, shelley

#405 Fix prose to not mention unrealized rewards any more.
  shelley/chain-and-ledger/formal-spec/epoch.tex
Labels: formal-spec, shelley

#406 Adapt to revised incentives and remove moving average
  shelley/chain-and-ledger/executable-spec/src/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/STS/PoolReap.hs
Labels: executable-model, shelley

#408 remove the old reward pot, total pot to reward pot
  shelley/chain-and-ledger/formal-spec/epoch.tex
  shelley/chain-and-ledger/formal-spec/intro.tex
  shelley/chain-and-ledger/formal-spec/properties.tex
Labels: formal-spec, shelley

#411 adding bootstrap addresses
  shelley/chain-and-ledger/formal-spec/address.tex
  shelley/chain-and-ledger/formal-spec/ledger-spec.tex
Labels: formal-spec, shelley

#412 [#262] Derive a Semigroup instance for PairSet
  byron/ledger/executable-spec/src/Ledger/Core.hs
  byron/ledger/executable-spec/src/Ledger/Update.hs
Labels: byron-shelley bridge, executable-model

#400 [#326] Replace Map with Bimap in the delegation state
  byron/chain/executable-spec/cs-blockchain.cabal
  byron/chain/executable-spec/src/Cardano/Spec/Chain/STS/Rule/BHead.hs
  byron/chain/executable-spec/src/Cardano/Spec/Chain/STS/Rule/Chain.hs
  byron/chain/executable-spec/src/Cardano/Spec/Chain/STS/Rule/SigCnt.hs
  byron/ledger/executable-spec/cs-ledger.cabal
  byron/ledger/executable-spec/src/Ledger/Core.hs
  byron/ledger/executable-spec/src/Ledger/Delegation.hs
  byron/ledger/executable-spec/test/Ledger/Delegation/Examples.hs
  byron/ledger/executable-spec/test/Ledger/Delegation/Properties.hs
  nix/.stack.nix/cs-blockchain.nix
  nix/.stack.nix/cs-ledger.nix
Labels: byron-shelley bridge, executable-model

#413 Use dom function rather than Map.keysSet
  byron/ledger/executable-spec/src/Ledger/Core.hs
  byron/ledger/executable-spec/src/Ledger/UTxO.hs
Labels: byron-shelley bridge, executable-model

#417 [skip ci] Add Makefile for reference implementation
  shelley/chain-and-ledger/dependencies/non-integer/reference/Makefile
Labels: shelley

#420 Correct comment for `normalizeInts` function
  shelley/chain-and-ledger/dependencies/non-integer/test/Spec.hs
Labels: executable-model, shelley
