Repository IntersectMBO/cardano-ledger, pull requests merged in 2019-11, with the labels that each got.

#989 Add proof of UTxO constant money property
  byron/ledger/formal-spec/Isabelle/Ledger_Rules_Formalization/Ledger_Rules.thy
  byron/ledger/formal-spec/Isabelle/Ledger_Rules_Formalization/ROOT
  byron/ledger/formal-spec/Isabelle/Ledger_Rules_Formalization/document/root.tex
Labels: formal-spec :scroll:

#995 Redesign MIR scheme
  shelley/chain-and-ledger/formal-spec/delegation.tex
  shelley/chain-and-ledger/formal-spec/epoch.tex
Labels: formal-spec :scroll:, shelley :shell:

#990 Correct type of `ptrs` map in `DState`
  shelley/chain-and-ledger/formal-spec/delegation.tex
Labels: formal-spec :scroll:, shelley :shell:

#1005 Adapt executable spec for MIR certificate change
  shelley/chain-and-ledger/executable-spec/src/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/STS/NewEpoch.hs
  shelley/chain-and-ledger/executable-spec/test/Examples.hs
  shelley/chain-and-ledger/executable-spec/test/STSTests.hs
  shelley/chain-and-ledger/formal-spec/delegation.tex
  shelley/chain-and-ledger/formal-spec/epoch.tex
Labels: executable-model :gear:, shelley :shell:

#1008 Transfer Isabelle/HOL proofs
  README.md
  byron/ledger/formal-spec/Isabelle/Ledger_Rules_Formalization/Ledger_Rules.thy
  byron/ledger/formal-spec/Isabelle/Ledger_Rules_Formalization/ROOT
  byron/ledger/formal-spec/Isabelle/Ledger_Rules_Formalization/document/root.tex
  byron/ledger/formal-spec/Isabelle/Makefile
  byron/ledger/formal-spec/Isabelle/README.md
  byron/ledger/formal-spec/Isabelle/ROOTS
Labels: formal-spec :scroll:

#1022 Remove duplicated functionality and reduce exports
  shelley/chain-and-ledger/executable-spec/delegation.cabal
  shelley/chain-and-ledger/executable-spec/src/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/PParams.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Ledger.hs
  shelley/chain-and-ledger/executable-spec/src/STS/PoolReap.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Utxo.hs
  shelley/chain-and-ledger/executable-spec/src/STS/Utxow.hs
  shelley/chain-and-ledger/executable-spec/src/Validation.hs
  shelley/chain-and-ledger/executable-spec/test/Generator.hs
  shelley/chain-and-ledger/executable-spec/test/MockTypes.hs
  shelley/chain-and-ledger/executable-spec/test/PropertyTests.hs
  shelley/chain-and-ledger/executable-spec/test/UnitTests.hs
Labels: executable-model :gear:, shelley :shell:
