Repository IntersectMBO/cardano-ledger, pull requests merged in 2020-03, with the labels that each got.

#1301 Script stuff moved to Scripts
  shelley/chain-and-ledger/executable-spec/shelley-spec-ledger.cabal
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Address.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Scripts.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Tx.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/TxData.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/UTxO.hs
  shelley/chain-and-ledger/executable-spec/test/Test/Shelley/Spec/Ledger/ConcreteCryptoTypes.hs
  shelley/chain-and-ledger/executable-spec/test/Test/Shelley/Spec/Ledger/Examples/Fees.hs
  shelley/chain-and-ledger/executable-spec/test/Test/Shelley/Spec/Ledger/Examples/MultiSigExamples.hs
  shelley/chain-and-ledger/executable-spec/test/Test/Shelley/Spec/Ledger/Examples/Serialization.hs
  shelley/chain-and-ledger/executable-spec/test/Test/Shelley/Spec/Ledger/Generator/Core.hs
  shelley/chain-and-ledger/executable-spec/test/Test/Shelley/Spec/Ledger/Shrinkers.hs
Labels: shelley era

#1306 Remove unused PredicateFailure constructors
  cabal.project
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Mir.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Newpp.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/PoolReap.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Rupd.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Snap.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Updn.hs
  stack.yaml
Labels: shelley era, technical-debt :credit_card:

#1308 Add cabal-install to shell.nix
  shell.nix
Labels: devops :hammer_and_wrench:

#1344 fix up stale variable occurrences
  shelley/chain-and-ledger/formal-spec/chain.tex
Labels: documentation :fountain_pen:, formal-spec :scroll:

#1347 fix a couple typos
  shelley/chain-and-ledger/formal-spec/chain.tex
  shelley/chain-and-ledger/formal-spec/properties.tex
Labels: documentation :fountain_pen:
