Repository IntersectMBO/cardano-ledger, pull requests merged in 2020-08, with the labels that each got.

#1756 Multi-Asset Spec Revision
  shelley-mc/formal-spec/IOHKCoverPage.sty
  shelley-mc/formal-spec/chain.tex
  shelley-mc/formal-spec/frontmatter.tex
  shelley-mc/formal-spec/mps-language.tex
  shelley-mc/formal-spec/multi-asset.tex
  shelley-mc/formal-spec/transactions.tex
  shelley-mc/formal-spec/utxo.tex
Labels: design :triangular_ruler:, formal-spec :scroll:, multi-asset

#1758 Add nix build for Shelley multi-currency formal specification
  byron/cddl-spec/default.nix
  byron/chain/formal-spec/default.nix
  byron/ledger/formal-spec/default.nix
  default.nix
  nix/default.nix
  nix/latex.nix
  release.nix
  semantics/formal-spec/default.nix
  shelley-mc/formal-spec/default.nix
  shelley/chain-and-ledger/dependencies/non-integer/doc/default.nix
  shelley/chain-and-ledger/formal-spec/default.nix
  shelley/design-spec/default.nix
Labels: formal-spec :scroll:, multi-asset, technical-debt :credit_card:

#1796 deleted dead symlink "cddl-spec"
  shelley/chain-and-ledger/cddl-spec
Labels: bug
