Repository IntersectMBO/cardano-ledger, pull requests merged in 2020-04, with the labels that each got.

#1350 more minor typos
  shelley/chain-and-ledger/formal-spec/chain.tex
  shelley/chain-and-ledger/formal-spec/delegation.tex
Labels: documentation :fountain_pen:, formal-spec :scroll:

#1357 clarify which tau in Praos reference
  byron/cddl-spec/default.nix
  semantics/formal-spec/default.nix
  shelley/chain-and-ledger/dependencies/non-integer/doc/default.nix
  shelley/chain-and-ledger/formal-spec/default.nix
  shelley/chain-and-ledger/formal-spec/protocol-parameters.tex
  shelley/design-spec/default.nix
Labels: formal-spec :scroll:, shelley era

#1389 Appendix for cryptographic algorithms
  shelley/chain-and-ledger/formal-spec/cddl.tex
  shelley/chain-and-ledger/formal-spec/crypto-details.tex
  shelley/chain-and-ledger/formal-spec/ledger-spec.tex
  shelley/chain-and-ledger/formal-spec/references.bib
Labels: formal-spec :scroll:

#1401 fix overlay schedule bug with no genesis nodes
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/test/Test/Shelley/Spec/Ledger/Examples/UnitTests.hs
Labels: bug
