Repository IntersectMBO/cardano-ledger, changes with the owners that CODEOWNERS names for each.
All owners: @kantp, @brunjlar, @dcoutts, @jcorduan, @polinavino, @WhatisRT, @redxaxder, @TimSheard, @devops

added native token section
  voltaire/design-doc/changelog.tex
  voltaire/design-doc/native-tokens.tex
  voltaire/design-doc/param-update.tex
Owners: none

small fixes to alonzo UTXOW rule
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
Owners: none

added expert ballot appendix
  voltaire/design-doc/changelog.tex
  voltaire/design-doc/param-update.tex
Owners: none

added expert ballot appendix
  voltaire/design-doc/expert-ballots.tex
Owners: none

sync parameter name with spec for indexedRdmrs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
Owners: none

valContext to return Data, not [Data]
  alonzo/impl/src/Cardano/Ledger/Alonzo/PlutusScriptApi.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
Owners: none

Add optional network ID to alonzo transaction body
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxBody.hs
  alonzo/impl/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
Owners: none

data hash size via heapwords
  alonzo/impl/src/Cardano/Ledger/Alonzo/Data.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
Owners: none

Add serialization tests
  byron/crypto/src/Cardano/Crypto/Signing/Redeem/Compact.hs
  byron/crypto/test/Test/Cardano/Crypto/CBOR.hs
  byron/ledger/impl/cardano-ledger-byron.cabal
  byron/ledger/impl/src/Cardano/Chain/Genesis/Config.hs
  byron/ledger/impl/test/Test/Cardano/Chain/Genesis/CBOR.hs
  byron/ledger/impl/test/Test/Cardano/Chain/Genesis/Gen.hs
  byron/ledger/impl/test/Test/Cardano/Chain/UTxO/CBOR.hs
  byron/ledger/impl/test/cardano-ledger-byron-test.cabal
  byron/ledger/impl/test/test.hs
Owners: none

Added deserialisation tests for length-of Plutus ByteStrings > 64.
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo/Data.hs
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/Serialisation/Tripping.hs
  semantics/executable-spec/src/Data/Coders.hs
Owners: @TimSheard

Removed calls to error.
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Data.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/PParams.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxBody.hs
  alonzo/impl/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/Serialisation/Tripping.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/Mempool.hs
Owners: none

Changed Alonzo Scripts to simple (no Memoized) sum type.
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/PlutusScriptApi.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/Serialisation/Tripping.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/CompactAddr.hs
Owners: none

Added some necessary constrants to Test.Cardano.Ledger benchamrks.
  cardano-ledger-test/bench/Bench/Cardano/Ledger/ApplyTx.hs
Owners: none

ormolize
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  cardano-ledger-test/bench/Bench/Cardano/Ledger/ApplyTx.hs
Owners: none

Drop Ord instances for ExUnits.
  alonzo/impl/src/Cardano/Ledger/Alonzo/PParams.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Bbody.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
Owners: none

dataHashSize
  alonzo/impl/src/Cardano/Ledger/Alonzo/Data.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
Owners: none

Redo Alonzo script as a simple Sum. replaces PR 2221
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/PlutusScriptApi.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
Owners: none

Redo Alonzo script as a simple Sum. replaces PR 2221 (#2226)
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/PlutusScriptApi.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
Owners: none

feesOK now aligns with Specification.
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
Owners: none

ormolise
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
Owners: none

Update shelley-ma to use SupportsSegWit.
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Rules/Utxo.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Rules/Utxow.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Timelocks.hs
  shelley-ma/shelley-ma-test/test/Test/Cardano/Ledger/Mary/Examples.hs
  shelley-ma/shelley-ma-test/test/Test/Cardano/Ledger/Mary/Examples/MultiAssets.hs
Owners: none

Generalise Shelley ledger over TxSeq/TxInBlock.
  cardano-ledger-core/src/Cardano/Ledger/Era.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Rules/Utxow.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Pretty.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Shelley.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/Types.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/BlockChain.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Bbody.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Chain.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Delegs.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Ledger.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Ledgers.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Utxow.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Tx.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/UTxO.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Core.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/EraIndepGenerators.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Utils.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rules/ClassifyTraces.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rules/TestChain.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Serialisation/Golden/Encoding.hs
Owners: none

Rename Alonzo.Tx -> Alonzo.ValidatedTx.
  alonzo/impl/src/Cardano/Ledger/Alonzo/PlutusScriptApi.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Bbody.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Ledger.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  alonzo/impl/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/BlockChain.hs
Owners: none

Introduce an era-generic fixed Tx type.
  cardano-ledger-core/cardano-ledger-core.cabal
  cardano-ledger-core/src/Cardano/Ledger/Core.hs
  cardano-ledger-core/src/Cardano/Ledger/Tx.hs
  cardano-ledger-core/src/Cardano/Ledger/Tx.hs-boot
Owners: none

Introduce SegWit and TxInBlock.
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  cardano-ledger-core/src/Cardano/Ledger/Era.hs
  cardano-ledger-core/src/Cardano/Ledger/Tx.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Pretty.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Shelley.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/BlockChain.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Bbody.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Delegs.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Ledger.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Utxo.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Utxow.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Tx.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/BenchmarkFunctions.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Core.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Trace/Ledger.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Utxo.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/EraIndepGenerators.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Shrinkers.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Utils.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/GenesisDelegation.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/Mir.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Fees.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/MultiSigExamples.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rules/ClassifyTraces.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rules/TestChain.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Serialisation/Golden/Encoding.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/UnitTests.hs
Owners: none

Drop 'FromCBOR' for ValidatedTx.
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/Serialisation/Tripping.hs
Owners: none

Alonzo Tx/TxInBlock separation.
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/PlutusScriptApi.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Bbody.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Ledger.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxBody.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxSeq.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxWitness.hs
  alonzo/impl/src/Cardano/Ledger/DescribeEras.hs
Owners: none

solved compiler error
  shelley/chain-and-ledger/formal-spec/delegation.tex
Owners: @jcorduan, @polinavino

solved some labels multiply defined
  shelley/chain-and-ledger/formal-spec/chain.tex
  shelley/chain-and-ledger/formal-spec/update.tex
Owners: @jcorduan, @polinavino

Fix issues pointed out in the audit
  alonzo/formal-spec/introduction.tex
  alonzo/formal-spec/protocol-parameters.tex
  alonzo/formal-spec/transactions.tex
  alonzo/formal-spec/utxo.tex
Owners: @polinavino, @WhatisRT

Changed the actual macro, to avoid future errors
  shelley/chain-and-ledger/formal-spec/delegation.tex
  shelley/chain-and-ledger/formal-spec/ledger-spec.tex
Owners: @jcorduan, @polinavino

added section on differentiated types of submission
  voltaire/design-doc/changelog.tex
  voltaire/design-doc/submission.tex
  voltaire/design-doc/todo.tex
Owners: none

added appendix covering efficiency concerns
  voltaire/design-doc/changelog.tex
  voltaire/design-doc/efficiency.tex
  voltaire/design-doc/param-update.tex
  voltaire/design-doc/todo.tex
Owners: none

added note about voting centre
  voltaire/design-doc/efficiency.tex
Owners: none

Better collectNNScriptInputs
  alonzo/impl/src/Cardano/Ledger/Alonzo/PlutusScriptApi.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
Owners: none

added a design note about stake-based voting
  voltaire/design-doc/notes.tex
Owners: none

added a design note about stake-based voting
  voltaire/design-doc/notes.tex
Owners: none

Fix merge conflict.
  alonzo/impl/src/Cardano/Ledger/Alonzo/PlutusScriptApi.hs
Owners: none

stick with abstractions at this point
  shelley/chain-and-ledger/formal-spec/crypto-primitives.tex
Owners: @jcorduan, @polinavino

move chain macros to ledger-spec
  shelley/chain-and-ledger/formal-spec/chain.tex
  shelley/chain-and-ledger/formal-spec/ledger-spec.tex
Owners: @jcorduan, @polinavino

CODEOWNERS:

# code owners are automatically assigned to review PRs

# Shelley Design Spec
shelley/design_spec/ @kantp @brunjlar @dcoutts

# Formal Specs
shelley/chain-and-ledger/formal-spec/ @jcorduan @polinavino
shelley-ma/formal-spec/ @polinavino @WhatisRT
alonzo/formal-spec/ @polinavino @WhatisRT

# CDDL
shelley/chain-and-ledger/shelley-spec-ledger-test/cddl-files/ @redxaxder
shelley-ma/shelley-ma-test/cddl-files/                        @redxaxder

# Set Algebra
semantics/executable-spec/src/Control/Iterate/      @TimSheard
semantics/executable-spec/src/Control/Provenance.hs @TimSheard
semantics/executable-spec/src/Control/SetAlgebra.hs @TimSheard

# Coders library for CBOR encoding and decoding
semantics/executable-spec/src/Data/Coders.hs @TimSheard

# Devops
.buildkite @devops
.github    @devops
nix        @devops
*.nix      @devops
bors.toml  @devops
