Repository IntersectMBO/cardano-ledger, changes with the owners that CODEOWNERS names for each.
All owners: @mgudemann, @JaredCorduan, @kantp, @nc6, @ruhatch, @mdimjasevic, @dnadales

CODEOWNERS:

# code owners are automatically assigned to review PRs

# The goal is to not have more than 2 people responsible to avoid having too
# many reviewers which often leads to nobody feeling responsible to actually
# perform the review.

dependencies/non-integer/ @mgudemann
docs/delegation_design_spec/ @JaredCorduan @kantp
hs/ @mgudemann @JaredCorduan
latex/ @JaredCorduan @mgudemann
nix/ @nc6 @ruhatch
scripts/ @nc6 @ruhatch
specs/chain/ @nc6 @mdimjasevic
specs/ledger/ @nc6 @dnadales
specs/semantics/ @nc6 @dnadales

Remove brittany from buildkite pipeline for now
  .buildkite/pipeline.yml
Owners: none

[312][313] Build internal haddocks in CI
  scripts/buildkite/rebuild.hs
Owners: @nc6, @ruhatch

Fix: tasty-hedgehog-coverage build
  nix/.stack.nix/cs-blockchain.nix
  nix/config.nix
  nix/pkgs.nix
Owners: @nc6, @ruhatch

Fix: tasty-hedgehog-coverage build
  nix/.stack.nix/cs-blockchain.nix
  nix/config.nix
  nix/pkgs.nix
Owners: @nc6, @ruhatch

Fix doctest-discover use
  .stack-to-nix.cache
  default.nix
  iohk-nix.json
  nix/.stack-pkgs.nix
  nix/.stack.nix/plutus-prototype.nix
  nix/canonical-json.nix
  nix/cardano-crypto.nix
  nix/cborg.nix
  nix/cs-blockchain.nix
  nix/cs-ledger.nix
  nix/default.nix
  nix/delegation.nix
  nix/hedgehog.nix
  nix/non-integer.nix
  nix/pkgs.nix
  nix/small-steps.nix
  specs/ledger/hs/cs-ledger.cabal
  specs/semantics/hs/small-steps.cabal
Owners: @nc6, @ruhatch, @dnadales

Fix doctest-discover use
  .stack-to-nix.cache
  default.nix
  iohk-nix.json
  nix/.stack-pkgs.nix
  nix/.stack.nix/plutus-prototype.nix
  nix/canonical-json.nix
  nix/cardano-crypto.nix
  nix/cborg.nix
  nix/cs-blockchain.nix
  nix/cs-ledger.nix
  nix/default.nix
  nix/delegation.nix
  nix/hedgehog.nix
  nix/non-integer.nix
  nix/pkgs.nix
  nix/small-steps.nix
  specs/ledger/hs/cs-ledger.cabal
  specs/semantics/hs/small-steps.cabal
Owners: @nc6, @ruhatch, @dnadales

Concretise the type inside the `GenesisHash` newtype wrapper
  src/Cardano/Chain/Block/Block.hs
  src/Cardano/Chain/Block/Header.hs
  src/Cardano/Chain/Block/Validation.hs
  src/Cardano/Chain/Genesis/Hash.hs
  test/Test/Cardano/Chain/Elaboration/Block.hs
Owners: none

Factor out common functionality for getting the configuration header hash.
  src/Cardano/Chain/Block/Validation.hs
  src/Cardano/Chain/Genesis/Config.hs
  test/Test/Cardano/Chain/Elaboration/Block.hs
Owners: none

cabal.project/stack.yaml: Use latest cardano-prelude
  cabal.project
  stack.yaml
Owners: none

cabal.project: Add hedgehog
  cabal.project
Owners: none

Slotting: Remove bodgy Enum-like functions
  src/Cardano/Chain/Block/Validation.hs
  src/Cardano/Chain/Slotting/SlotId.hs
  test/Test/Cardano/Chain/Slotting/Properties.hs
Owners: none

cabal.project: Drop plutus-prototype
  cabal.project
Owners: none

crypto: Replace hspec-discover because it wasn't finding all tests
  crypto/cardano-crypto-wrapper.cabal
  crypto/test/Spec.hs
  crypto/test/test.hs
Owners: none

Rename SlotCount to EpochSlots
  cardano-chain.cabal
  src/Cardano/Chain/Block/SlogUndo.hs
  src/Cardano/Chain/Block/Undo.hs
  src/Cardano/Chain/Delegation/Validation.hs
  src/Cardano/Chain/Genesis/Config.hs
  src/Cardano/Chain/ProtocolConstants.hs
  src/Cardano/Chain/Slotting.hs
  src/Cardano/Chain/Slotting/EpochSlots.hs
  src/Cardano/Chain/Slotting/LocalSlotIndex.hs
  src/Cardano/Chain/Slotting/SlotCount.hs
  src/Cardano/Chain/Slotting/SlotId.hs
  test/Test/Cardano/Chain/Block/Gen.hs
  test/Test/Cardano/Chain/Elaboration/Delegation.hs
  test/Test/Cardano/Chain/Genesis/Dummy.hs
  test/Test/Cardano/Chain/Slotting/Gen.hs
  test/Test/Cardano/Chain/Slotting/Properties.hs
  test/Test/Cardano/Chain/Update/Gen.hs
Owners: none

Remove more dangerous derived typeclasses
  src/Cardano/Chain/Delegation/Validation.hs
  src/Cardano/Chain/ProtocolConstants.hs
  src/Cardano/Chain/Slotting/Data.hs
  src/Cardano/Chain/Slotting/LocalSlotIndex.hs
  src/Cardano/Chain/Slotting/SlotId.hs
  test/Test/Cardano/Chain/Elaboration/Delegation.hs
  test/Test/Cardano/Chain/Slotting/Example.hs
  test/Test/Cardano/Chain/Slotting/Gen.hs
  test/Test/Cardano/Chain/Slotting/Properties.hs
Owners: none

Rename accessor of FlatSlotId type
  src/Cardano/Chain/Delegation/Validation.hs
  src/Cardano/Chain/Slotting/SlotId.hs
Owners: none

Update references to cardano-ledger-specs
  cabal.project
  stack.yaml
Owners: none

[#368] Move cardano-binary to cardano-base repo
  binary/LICENSE
  binary/README.md
  binary/Setup.hs
  binary/cardano-binary.cabal
  binary/src/Cardano/Binary/Class.hs
  binary/src/Cardano/Binary/Class/Annotated.hs
  binary/src/Cardano/Binary/Class/Core.hs
  binary/src/Cardano/Binary/Class/Drop.hs
  binary/src/Cardano/Binary/Class/Primitive.hs
  binary/src/Cardano/Binary/EvilInstances.hs
  binary/src/Cardano/Binary/FromCBOR.hs
  binary/src/Cardano/Binary/Limit.hs
  binary/src/Cardano/Binary/ToCBOR.hs
  binary/stack.yaml
  binary/test/LICENSE
  binary/test/Test/Cardano/Binary/Bi.hs
  binary/test/Test/Cardano/Binary/BiSizeBounds.hs
  binary/test/Test/Cardano/Binary/Helpers.hs
  binary/test/Test/Cardano/Binary/Helpers/GoldenRoundTrip.hs
  binary/test/cardano-binary-test.cabal
  binary/test/golden/TestSimpleIndexed1
  binary/test/golden/TestSimpleIndexed2
  binary/test/golden/TestSimpleIndexed3
  binary/test/golden/TestSimpleIndexed4
  binary/test/golden/TestSimpleIndexed5
  binary/test/test.hs
  crypto/cardano-crypto-wrapper.cabal
  crypto/stack.yaml
  crypto/test/cardano-crypto-test.cabal
Owners: none

Add tar to stack-rebuild default.nix
  scripts/buildkite/default.nix
Owners: @nc6, @ruhatch

[#368] Update cardano-base dependency in cardano-chain
  .stack-to-nix.cache
  cardano-chain.cabal
  nix/.stack-pkgs.nix
  nix/.stack.nix/cardano-base-test.nix
  nix/.stack.nix/cardano-base.nix
  nix/.stack.nix/cardano-chain-test.nix
  nix/.stack.nix/cardano-chain.nix
  nix/.stack.nix/cardano-crypto-test.nix
  nix/.stack.nix/cardano-crypto-wrapper.nix
  scripts/buildkite/rebuild.hs
  stack.yaml
  test/cardano-chain-test.cabal
Owners: @nc6, @ruhatch

Update references to repo name
  README.md
  latex/references.bib
  release.nix
  specs/chain/latex/references.bib
  weekly-reports/2018-12-13/README.md
  weekly-reports/2018-12-20/README.md
  weekly-reports/2019-01-17/README.md
  weekly-reports/2019-01-24/README.md
  weekly-reports/2019-01-31/README.md
  weekly-reports/2019-02-07/README.md
Owners: @JaredCorduan, @mgudemann, @nc6, @mdimjasevic

Update references to repo name
  README.md
  latex/references.bib
  release.nix
  specs/chain/latex/references.bib
  weekly-reports/2018-12-13/README.md
  weekly-reports/2018-12-20/README.md
  weekly-reports/2019-01-17/README.md
  weekly-reports/2019-01-24/README.md
  weekly-reports/2019-01-31/README.md
  weekly-reports/2019-02-07/README.md
Owners: @JaredCorduan, @mgudemann, @nc6, @mdimjasevic

Bump iohk-nix
  iohk-nix.json
Owners: none

Bump iohk-nix
  iohk-nix.json
Owners: none

[#362] Remove scripts, script addresses, and script witnesses
  cardano-chain.cabal
  src/Cardano/Chain/Common.hs
  src/Cardano/Chain/Common/AddrSpendingData.hs
  src/Cardano/Chain/Common/Address.hs
  src/Cardano/Chain/Common/Script.hs
  src/Cardano/Chain/Txp/TxWitness.hs
  src/Cardano/Chain/Txp/Validation.hs
  src/Cardano/Chain/Update/ProtocolParameterUpdate.hs
  src/Cardano/Chain/Update/ProtocolParameters.hs
  src/Cardano/Chain/Update/Undo.hs
  src/Cardano/Chain/Update/Validation/Registration.hs
  test/Test/Cardano/Chain/Common/Example.hs
  test/Test/Cardano/Chain/Common/Gen.hs
  test/Test/Cardano/Chain/Txp/Bi.hs
  test/Test/Cardano/Chain/Txp/Gen.hs
  test/Test/Cardano/Chain/Txp/Json.hs
  test/Test/Cardano/Chain/Update/Example.hs
  test/golden/bi/txp/TxInWitness_ScriptWitness
  test/golden/json/txp/TxpConfiguration2
Owners: none

Update cabal.project to cover building tests
  cabal.project
  stack.yaml
Owners: none

Add cardano-base to cabal.project
  cabal.project
Owners: none
