Repository IntersectMBO/cardano-ledger, changes with the owners that CODEOWNERS names for each.
All owners: @mgudemann, @JaredCorduan, @kantp, @nc6, @ruhatch, @mdimjasevic, @dnadales

CODEOWNERS:

# code owners are automatically assigned to review PRs

# The goal is to not have more than 2 people responsible to avoid having too
# many reviewers which often leads to nobody feeling responsible to actually
# perform the review.

shelley/chain-and-ledger/dependencies/non-integer/ @mgudemann
shelley/design_spec/ @JaredCorduan @kantp
shelley/chain-and-ledger/executable-spec/ @mgudemann @JaredCorduan
shelley/chain-and-ledger/formal-spec/ @JaredCorduan @mgudemann
nix/ @nc6 @ruhatch
scripts/ @nc6 @ruhatch
byron/chain/ @nc6 @mdimjasevic
byron/ledger/ @nc6 @dnadales
byron/semantics/ @nc6 @dnadales

Count and return iterations of Taylor expansion for `exp`
  shelley/chain-and-ledger/dependencies/non-integer/reference/non_integral.c
  shelley/chain-and-ledger/dependencies/non-integer/reference/non_integral.h
  shelley/chain-and-ledger/dependencies/non-integer/reference/non_integral.hpp
  shelley/chain-and-ledger/dependencies/non-integer/reference/non_integral_test.cpp
Owners: @mgudemann

Count and return iterations of Taylor expansion for `exp`
  shelley/chain-and-ledger/dependencies/non-integer/reference/non_integral.c
  shelley/chain-and-ledger/dependencies/non-integer/reference/non_integral.h
  shelley/chain-and-ledger/dependencies/non-integer/reference/non_integral.hpp
  shelley/chain-and-ledger/dependencies/non-integer/reference/non_integral_test.cpp
Owners: @mgudemann

Update README.md
  README.md
Owners: none

[#398] Remove Undos from the codebase
  cardano-ledger.cabal
  src/Cardano/Chain/Block.hs
  src/Cardano/Chain/Block/SlogUndo.hs
  src/Cardano/Chain/Block/Undo.hs
  src/Cardano/Chain/Delegation.hs
  src/Cardano/Chain/Delegation/Undo.hs
  src/Cardano/Chain/Epoch/File.hs
  src/Cardano/Chain/Slotting.hs
  src/Cardano/Chain/Slotting/Data.hs
  src/Cardano/Chain/Txp.hs
  src/Cardano/Chain/Txp/TxOutAux.hs
  src/Cardano/Chain/Txp/Undo.hs
  src/Cardano/Chain/Update.hs
  src/Cardano/Chain/Update/Undo.hs
  test/Test/Cardano/Chain/Block/Bi.hs
  test/Test/Cardano/Chain/Block/Gen.hs
  test/Test/Cardano/Chain/Block/Validation.hs
  test/Test/Cardano/Chain/Delegation/Example.hs
  test/Test/Cardano/Chain/Delegation/Gen.hs
  test/Test/Cardano/Chain/Slotting/Example.hs
  test/Test/Cardano/Chain/Slotting/Gen.hs
  test/Test/Cardano/Chain/Slotting/Properties.hs
  test/Test/Cardano/Chain/Txp/Example.hs
  test/Test/Cardano/Chain/Txp/Gen.hs
  test/Test/Cardano/Chain/Txp/Validation.hs
  test/Test/Cardano/Chain/Update/Example.hs
  test/Test/Cardano/Chain/Update/Gen.hs
  test/golden/bi/block/Undo
  test/golden/bi/txp/TxOutAux
Owners: none

Update README.md
  README.md
Owners: none

[#314] Run weeder and pay off some other technical debt
  cardano-ledger.cabal
  crypto/cardano-crypto-wrapper.cabal
  nix/.stack.nix/cardano-crypto-wrapper.nix
  nix/.stack.nix/cardano-ledger-test.nix
  nix/.stack.nix/cardano-ledger.nix
  src/Cardano/Chain/Block/Block.hs
  src/Cardano/Chain/Block/Header.hs
  src/Cardano/Chain/Block/Validation.hs
  src/Cardano/Chain/Delegation/Validation.hs
  src/Cardano/Chain/Genesis/AvvmBalances.hs
  src/Cardano/Chain/Genesis/Generate.hs
  src/Cardano/Chain/Genesis/NonAvvmBalances.hs
  src/Cardano/Chain/Genesis/Spec.hs
  src/Cardano/Chain/Genesis/WStakeholders.hs
  src/Cardano/Chain/Slotting/SlotId.hs
  src/Cardano/Chain/Txp/GenesisUTxO.hs
  src/Cardano/Chain/Txp/Tx.hs
  src/Cardano/Chain/Txp/UTxO.hs
  src/Cardano/Chain/Txp/Validation.hs
  src/Cardano/Chain/Update/ApplicationName.hs
  src/Cardano/Chain/Update/SoftwareVersion.hs
  test/Test/Cardano/Chain/Block/Bi.hs
  test/Test/Cardano/Chain/Block/Gen.hs
  test/Test/Cardano/Chain/Elaboration/Block.hs
  test/Test/Cardano/Chain/Genesis/Example.hs
  test/Test/Cardano/Chain/Txp/Bi.hs
  test/Test/Cardano/Chain/Update/Properties.hs
  test/cardano-ledger-test.cabal
  test/golden/bi/block/BlockSignature
  test/golden/bi/block/BlockSignature_Heavy
  test/golden/bi/block/ConsensusData
  test/golden/bi/block/Header
Owners: @nc6, @ruhatch

[#365] Basid edit
  shelley/chain-and-ledger/formal-spec/address.tex
  shelley/chain-and-ledger/formal-spec/appendix.tex
  shelley/chain-and-ledger/formal-spec/chain.tex
  shelley/chain-and-ledger/formal-spec/crypto-primitives.tex
  shelley/chain-and-ledger/formal-spec/delegation.tex
  shelley/chain-and-ledger/formal-spec/epoch.tex
  shelley/chain-and-ledger/formal-spec/frontmatter.tex
  shelley/chain-and-ledger/formal-spec/intro.tex
  shelley/chain-and-ledger/formal-spec/ledger.tex
  shelley/chain-and-ledger/formal-spec/non-integral.tex
  shelley/chain-and-ledger/formal-spec/notation.tex
  shelley/chain-and-ledger/formal-spec/properties.tex
  shelley/chain-and-ledger/formal-spec/protocol-parameters.tex
  shelley/chain-and-ledger/formal-spec/scripts-multicurrency.tex
  shelley/chain-and-ledger/formal-spec/utxo.tex
Owners: @JaredCorduan, @mgudemann

[#365] Basid edit
  shelley/chain-and-ledger/formal-spec/address.tex
  shelley/chain-and-ledger/formal-spec/appendix.tex
  shelley/chain-and-ledger/formal-spec/chain.tex
  shelley/chain-and-ledger/formal-spec/crypto-primitives.tex
  shelley/chain-and-ledger/formal-spec/delegation.tex
  shelley/chain-and-ledger/formal-spec/epoch.tex
  shelley/chain-and-ledger/formal-spec/frontmatter.tex
  shelley/chain-and-ledger/formal-spec/intro.tex
  shelley/chain-and-ledger/formal-spec/ledger.tex
  shelley/chain-and-ledger/formal-spec/non-integral.tex
  shelley/chain-and-ledger/formal-spec/notation.tex
  shelley/chain-and-ledger/formal-spec/properties.tex
  shelley/chain-and-ledger/formal-spec/protocol-parameters.tex
  shelley/chain-and-ledger/formal-spec/scripts-multicurrency.tex
  shelley/chain-and-ledger/formal-spec/utxo.tex
Owners: @JaredCorduan, @mgudemann

[#365] Remove Figure prefix for Eq + SlotsPrior{}
  shelley/chain-and-ledger/formal-spec/chain.tex
  shelley/chain-and-ledger/formal-spec/utxo.tex
Owners: @JaredCorduan, @mgudemann

[#365] Remove Figure prefix for Eq + SlotsPrior{}
  shelley/chain-and-ledger/formal-spec/chain.tex
  shelley/chain-and-ledger/formal-spec/utxo.tex
Owners: @JaredCorduan, @mgudemann

[#365] Final touches
  shelley/chain-and-ledger/formal-spec/chain.tex
  shelley/chain-and-ledger/formal-spec/epoch.tex
  shelley/chain-and-ledger/formal-spec/non-integral.tex
Owners: @JaredCorduan, @mgudemann

[#365] Final touches
  shelley/chain-and-ledger/formal-spec/chain.tex
  shelley/chain-and-ledger/formal-spec/epoch.tex
  shelley/chain-and-ledger/formal-spec/non-integral.tex
Owners: @JaredCorduan, @mgudemann

Design doc title update
  shelley/design-spec/delegation_design_spec.tex
Owners: none

Design doc title update
  shelley/design-spec/delegation_design_spec.tex
Owners: none

Consistent capitalisation of ada
  shelley/design-spec/delegation_design_spec.tex
Owners: none

Rework incentives, in particular handling of performance
  shelley/design-spec/delegation_design_spec.tex
Owners: none

Rework incentives, in particular handling of performance
  shelley/design-spec/delegation_design_spec.tex
Owners: none

Consistent capitalisation of ada
  shelley/design-spec/delegation_design_spec.tex
Owners: none

Replace "operator stake" by "owner stake" consistently
  shelley/design-spec/delegation_design_spec.tex
Owners: none

Replace "operator stake" by "owner stake" consistently
  shelley/design-spec/delegation_design_spec.tex
Owners: none

Added section on initialising apparent performance for new pools
  shelley/design-spec/delegation_design_spec.tex
Owners: none

Added section on initialising apparent performance for new pools
  shelley/design-spec/delegation_design_spec.tex
Owners: none

Gitignore .DS_Store
  .gitignore
Owners: none

Rephrased paragraph on initialising apparent performance
  shelley/design-spec/delegation_design_spec.tex
Owners: none

Rephrased paragraph on initialising apparent performance
  shelley/design-spec/delegation_design_spec.tex
Owners: none

There are no contributions to rewards from the last epoch anymore.
  shelley/design-spec/delegation_design_spec.tex
Owners: none

There are no contributions to rewards from the last epoch anymore.
  shelley/design-spec/delegation_design_spec.tex
Owners: none

Enable full mainnet UTxO validation
  test/Test/Cardano/Chain/Txp/Validation.hs
Owners: none

Fix coveralls reference in README
  README.md
Owners: none

Update README.md
  README.md
Owners: none

[#396] Convert NetworkMagic & ProtocolMagic Int32 to Word32
  crypto/src/Cardano/Crypto/ProtocolMagic.hs
  crypto/test/Test/Cardano/Crypto/Example.hs
  crypto/test/Test/Cardano/Crypto/Gen.hs
  crypto/test/golden/json/ProtocolMagic_Legacy_NMMustBeNothing
  src/Cardano/Chain/Common/NetworkMagic.hs
  test/Test/Cardano/Chain/Common/Gen.hs
Owners: none

Support short-cutting for leader election / verification
  shelley/chain-and-ledger/dependencies/non-integer/reference/non_integral.c
  shelley/chain-and-ledger/dependencies/non-integer/reference/non_integral.h
  shelley/chain-and-ledger/dependencies/non-integer/reference/non_integral.hpp
  shelley/chain-and-ledger/dependencies/non-integer/reference/non_integral_test.cpp
  shelley/chain-and-ledger/dependencies/non-integer/reference/randomize.cpp
Owners: @mgudemann

Add description of optimisation for slot leader probability
  shelley/chain-and-ledger/dependencies/non-integer/doc/Makefile
  shelley/chain-and-ledger/dependencies/non-integer/doc/non-integer-calculations.tex
Owners: @mgudemann

Support short-cutting for leader election / verification
  shelley/chain-and-ledger/dependencies/non-integer/reference/non_integral.c
  shelley/chain-and-ledger/dependencies/non-integer/reference/non_integral.h
  shelley/chain-and-ledger/dependencies/non-integer/reference/non_integral.hpp
  shelley/chain-and-ledger/dependencies/non-integer/reference/non_integral_test.cpp
  shelley/chain-and-ledger/dependencies/non-integer/reference/randomize.cpp
Owners: @mgudemann

Add description of optimisation for slot leader probability
  shelley/chain-and-ledger/dependencies/non-integer/doc/Makefile
  shelley/chain-and-ledger/dependencies/non-integer/doc/non-integer-calculations.tex
Owners: @mgudemann

Specify how to calculate eta and number of expected blocks
  shelley/design-spec/delegation_design_spec.tex
  shelley/design-spec/references.bib
Owners: none

Specify how to calculate eta and number of expected blocks
  shelley/design-spec/delegation_design_spec.tex
  shelley/design-spec/references.bib
Owners: none

Finish the implementation of the update mechanism.
  cardano-ledger.cabal
  src/Cardano/Chain/Slotting/SlotId.hs
  src/Cardano/Chain/Update/ProtocolParameters.hs
  src/Cardano/Chain/Update/Validation/Endorsement.hs
  src/Cardano/Chain/Update/Validation/Interface.hs
  src/Cardano/Chain/Update/Validation/Interface/ProtocolVersionBump.hs
  src/Cardano/Chain/Update/Validation/Registration.hs
  src/Cardano/Chain/Update/Validation/Voting.hs
Owners: none

Changes after Lars' review.
  shelley/design-spec/delegation_design_spec.tex
Owners: none

Changes after Lars' review.
  shelley/design-spec/delegation_design_spec.tex
Owners: none
