Repository IntersectMBO/cardano-ledger, changes with the owners that CODEOWNERS names for each.
All owners: @kantp, @brunjlar, @dcoutts, @jcorduan, @polinavino, @WhatisRT, @redxaxder, @TimSheard, @devops

CODEOWNERS:

# code owners are automatically assigned to review PRs

# Shelley Design Spec
shelley/design_spec/ @kantp @brunjlar @dcoutts

# Formal Specs
shelley/chain-and-ledger/formal-spec/ @jcorduan @polinavino
shelley-ma/formal-spec/ @polinavino @WhatisRT
alonzo/formal-spec/ @polinavino @WhatisRT

# CDDL
shelley/chain-and-ledger/shelley-spec-ledger-test/cddl-files/ @redxaxder
shelley-ma/shelley-ma-test/cddl-files/                        @redxaxder

# Set Algebra
semantics/executable-spec/src/Control/Iterate/      @TimSheard
semantics/executable-spec/src/Control/Provenance.hs @TimSheard
semantics/executable-spec/src/Control/SetAlgebra.hs @TimSheard

# Coders library for CBOR encoding and decoding
semantics/executable-spec/src/Data/Coders.hs @TimSheard

# Devops
.buildkite @devops
.github    @devops
nix        @devops
*.nix      @devops
bors.toml  @devops

serializing cost models as a list of values
  alonzo/impl/src/Cardano/Ledger/Alonzo/Genesis.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/PParams.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  alonzo/test/cddl-files/alonzo.cddl
  alonzo/test/cddl-files/alonzo_extra.cddl
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Serialisation/Tripping.hs
  semantics/executable-spec/src/Data/Coders.hs
Owners: @TimSheard

Simplify `feesOK` a little
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
Owners: none

Switch to strict `foldl'`. Reduce code duplication.
  alonzo/impl/src/Cardano/Ledger/Alonzo/PlutusScriptApi.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxWitness.hs
Owners: none

Improve performance of `ruffle` helper
  shelley/chain-and-ledger/shelley-spec-ledger-test/shelley-spec-ledger-test.cabal
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Utxo.hs
Owners: none

Fix 'antecedent' spelling
  semantics/formal-spec/small-step-semantics.tex
Owners: none

Debug help for failed plutus scripts
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  plutus-preprocessor/plutus-preprocessor.cabal
  plutus-preprocessor/src/Debug.hs
Owners: none

Expand events around MIR transfers.
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Mir.hs
Owners: none

separate plutus debug info in predicate failure
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo/PlutusScriptApi.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/Examples/TwoPhaseValidation.hs
Owners: none

Potential work around a bug in Ord, which was fixed in #2419
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Tx.hs
Owners: none

Alonzo specific properties
  alonzo/test/cardano-ledger-alonzo-test.cabal
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/AlonzoEraGen.hs
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/PropertyTests.hs
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Trials.hs
  example-shelley/test/Tests.hs
  shelley-ma/shelley-ma-test/test/Tests.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Core.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/EraGen.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Trace/Ledger.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/PropertyTests.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rules/ClassifyTraces.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rules/TestChain.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Tests.hs
Owners: none

Remove usage of deprecated `"isValidating"`
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
Owners: none

Refactored shrinking code
  cardano-ledger-test/src/Test/Cardano/Ledger/ModelChain/Properties.hs
Owners: none

Fix the specification definition of CHAINHEAD
  shelley/chain-and-ledger/formal-spec/chain.tex
  shelley/chain-and-ledger/formal-spec/frontmatter.tex
  shelley/chain-and-ledger/formal-spec/properties.tex
Owners: @jcorduan, @polinavino

Refactored RewardSnapShot, and added Pulsing to SnapShots.
  alonzo/impl/src/Cardano/Ledger/Alonzo/PlutusScriptApi.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Translation.hs
  cardano-ledger-core/src/Cardano/Ledger/Era.hs
  example-shelley/src/Cardano/Ledger/Example/Translation.hs
  shelley-ma/impl/src/Cardano/Ledger/Allegra/Translation.hs
  shelley-ma/impl/src/Cardano/Ledger/Mary/Translation.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Pretty.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/Wallet.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/EpochBoundary.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/RewardUpdate.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Epoch.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/NewEpoch.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Snap.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Tick.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/UTxO.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Trace/Chain.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/EraIndepGenerators.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/Combinators.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Serialisation/Golden/Encoding.hs
Owners: none

startStep now computes an initial RewardProvenance.
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Rupd.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Examples/Consensus.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/PoolLifetime.hs
Owners: none

provide remain provenance and test it
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/PoolLifetime.hs
Owners: none

MIR event should filter to extant reward accounts.
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Mir.hs
Owners: none

Bump nix and fix darwin build
  nix/haskell.nix
  nix/sources.json
  release.nix
Owners: @devops

Make Alonzo TxOut a sum type to save memory
  alonzo/impl/src/Cardano/Ledger/Alonzo/Translation.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxBody.hs
Owners: none

Skeleton of passing redeemers in TxInfo
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  cabal.project
Owners: none

translate the redeemers for plutus context
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
Owners: none

tmp
  alonzo/formal-spec/alonzo-changes.tex
  alonzo/formal-spec/properties.tex
  alonzo/formal-spec/protocol-parameters.tex
  alonzo/formal-spec/references.bib
  alonzo/formal-spec/transactions.tex
  alonzo/formal-spec/utxo.tex
Owners: @polinavino, @WhatisRT

value update to align with code
  alonzo/formal-spec/properties.tex
  shelley-ma/formal-spec/chain.tex
  shelley-ma/formal-spec/epoch.tex
  shelley-ma/formal-spec/introduction.tex
  shelley-ma/formal-spec/properties.tex
  shelley-ma/formal-spec/references.bib
  shelley-ma/formal-spec/shelley-ma.tex
  shelley-ma/formal-spec/timelock-language.tex
  shelley-ma/formal-spec/transactions.tex
  shelley-ma/formal-spec/utxo.tex
  shelley-ma/formal-spec/valmonoid-examples.tex
  shelley-ma/formal-spec/value-size.tex
  shelley-ma/formal-spec/value.tex
Owners: @polinavino, @WhatisRT

Test multiple, identicle plutus-locked certs
  cardano-ledger-test/src/Test/Cardano/Ledger/Examples/TwoPhaseValidation.hs
Owners: none

Add some missing information
  alonzo/formal-spec/protocol-parameters.tex
Owners: @polinavino, @WhatisRT

Fix arrow for bootstrap address size checks
  shelley-ma/formal-spec/utxo.tex
  shelley/chain-and-ledger/formal-spec/utxo.tex
Owners: @polinavino, @WhatisRT, @jcorduan

export TxOut constructor TxOutCompactDH
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxBody.hs
Owners: none

Add neededTxInsForBlock function for UTxO on-disk
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/BlockChain.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rules/TestChain.hs
Owners: none

Fix slotToPosixTime computation.
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
Owners: none

At PV6, translate time for Plutus correctly.
  alonzo/impl/src/Cardano/Ledger/Alonzo/PlutusScriptApi.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tools.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/Alonzo/Tools.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/Examples/TwoPhaseValidation.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/HardForks.hs
Owners: none

upgrading cardano base
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  cabal.project
  cardano-ledger-core/src/Cardano/Ledger/Address.hs
  cardano-ledger-core/src/Cardano/Ledger/Credential.hs
  cardano-ledger-core/src/Cardano/Ledger/Hashes.hs
  cardano-ledger-core/src/Cardano/Ledger/Keys.hs
  cardano-ledger-core/src/Cardano/Ledger/SafeHash.hs
  cardano-protocol-tpraos/src/Cardano/Protocol/TPraos/BHeader.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Orphans.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/RewardProvenance.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/TxBody.hs
Owners: none

HLint for shelley-ma impl is done
  shelley-ma/impl/src/Cardano/Ledger/Allegra.hs
  shelley-ma/impl/src/Cardano/Ledger/Allegra/Translation.hs
  shelley-ma/impl/src/Cardano/Ledger/Mary.hs
  shelley-ma/impl/src/Cardano/Ledger/Mary/Translation.hs
  shelley-ma/impl/src/Cardano/Ledger/Mary/Value.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/AuxiliaryData.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Rules/Utxo.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Rules/Utxow.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Timelocks.hs
Owners: none

HLint Shelley MA tests are done too.
  shelley-ma/shelley-ma-test/cardano-ledger-shelley-ma-test.cabal
  shelley-ma/shelley-ma-test/src/Test/Cardano/Ledger/AllegraEraGen.hs
  shelley-ma/shelley-ma-test/src/Test/Cardano/Ledger/EraBuffet.hs
  shelley-ma/shelley-ma-test/src/Test/Cardano/Ledger/Mary/Golden.hs
  shelley-ma/shelley-ma-test/src/Test/Cardano/Ledger/MaryEraGen.hs
  shelley-ma/shelley-ma-test/src/Test/Cardano/Ledger/ShelleyMA/Serialisation/Coders.hs
  shelley-ma/shelley-ma-test/src/Test/Cardano/Ledger/ShelleyMA/Serialisation/Generators.hs
  shelley-ma/shelley-ma-test/src/Test/Cardano/Ledger/ShelleyMA/Serialisation/Roundtrip.hs
  shelley-ma/shelley-ma-test/src/Test/Cardano/Ledger/TranslationTools.hs
  shelley-ma/shelley-ma-test/test/Test/Cardano/Ledger/Allegra/Translation.hs
  shelley-ma/shelley-ma-test/test/Test/Cardano/Ledger/Mary/Examples.hs
  shelley-ma/shelley-ma-test/test/Test/Cardano/Ledger/Mary/Examples/MultiAssets.hs
  shelley-ma/shelley-ma-test/test/Test/Cardano/Ledger/Mary/Translation.hs
  shelley-ma/shelley-ma-test/test/Test/Cardano/Ledger/Mary/Value.hs
  shelley-ma/shelley-ma-test/test/Test/Cardano/Ledger/ShelleyMA/Serialisation/Golden/Encoding.hs
  shelley-ma/shelley-ma-test/test/Test/Cardano/Ledger/ShelleyMA/Serialisation/Timelocks.hs
Owners: none

Refactor reusable functions and reduce number of long wraparound lines
  semantics/executable-spec/src/Data/CanonicalMaps.hs
  shelley-ma/shelley-ma-test/test/Test/Cardano/Ledger/Mary/Value.hs
Owners: none

Remove usage of unsafePerformIO and get rid of dead code
  shelley-ma/shelley-ma-test/test/Test/Cardano/Ledger/Mary/Value.hs
Owners: none

Initial work on Alonzo UTXOW property tests
  cardano-ledger-test/cardano-ledger-test.cabal
  cardano-ledger-test/src/Test/Cardano/Ledger/Properties.hs
  cardano-ledger-test/test/Tests.hs
Owners: none

Fix spelling mistake in spec
  alonzo/formal-spec/utxo.tex
Owners: @polinavino, @WhatisRT

Continue work on generators for testing UTXOW:
  cardano-ledger-test/cardano-ledger-test.cabal
  cardano-ledger-test/src/Test/Cardano/Ledger/Examples/TwoPhaseValidation.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/Properties.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/Wallet.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Utils.hs
Owners: none

Implement Generation of Certificates. Bug repro with '-p UTXOW --quickcheck-replay=565274'
  cardano-ledger-test/src/Test/Cardano/Ledger/Properties.hs
Owners: none

Finish work on UTXOW generators:
  cardano-ledger-test/src/Test/Cardano/Ledger/Properties.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/TxBody.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Utils.hs
Owners: none
