Repository IntersectMBO/cardano-ledger, changes with the owners that CODEOWNERS names for each.
All owners: @kantp, @brunjlar, @dcoutts, @jcorduan, @polinavino, @WhatisRT, @redxaxder, @TimSheard, @devops

Updated example era to track changes in master
  example-shelley/impl/src/Cardano/Ledger/Example.hs
Owners: none

Added Data.Closure, serializable functions.
  semantics/executable-spec/small-steps.cabal
  semantics/executable-spec/src/Data/Closure.hs
  semantics/executable-spec/src/Data/Pulse.hs
Owners: none

Added Data.Closure for serializable functions. Redid reward calculation this way. Replaces type LL with SLP (Serializable List based Pulser).
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/Wallet.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Rewards.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rewards.hs
Owners: none

Final cleanup, extra stuff to RewardSnapShot, defined PulsState.
  semantics/executable-spec/src/Data/Closure.hs
  semantics/executable-spec/src/Data/Pulse.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/BaseTypes.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Orphans.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Rewards.hs
Owners: none

Remove unused 'Hashing' file.
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Hashing.hs
Owners: none

WIP new testing
  cabal.project
  cardano-ledger-test/CHANGELOG.md
  cardano-ledger-test/Setup.hs
  cardano-ledger-test/cardano-ledger-test.cabal
  cardano-ledger-test/src/Test.Cardano.Ledger/TestableEra.hs
  hie.yaml
Owners: none

Move MA benchmarks to new package.
  cardano-ledger-test/bench/Bench/Cardano/Ledger/Serialisation/Generators.hs
  cardano-ledger-test/bench/Main.hs
  cardano-ledger-test/cardano-ledger-test.cabal
  cardano-ledger-test/src/Test/Cardano/Ledger/TestableEra.hs
  hie.yaml
  shelley-ma/shelley-ma-test/cardano-ledger-shelley-ma-test.cabal
Owners: none

bug fix: do not fold over range in applyRUpd
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
Owners: none

Added completion to newEpochTransition
  semantics/executable-spec/src/Data/Pulse.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Rewards.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/NewEpoch.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Rupd.hs
Owners: none

Removed Waiting as constructor of PulsingRewUpdate, and use (StrictMaybe(PulsingRewUpdate)) instead
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/ByronTranslation.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Chain.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/NewEpoch.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Rupd.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Tick.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/EraIndepGenerators.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/Combinators.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Serialisation/Golden/Encoding.hs
Owners: none

Mary era translations fixed.
  shelley-ma/impl/src/Cardano/Ledger/Allegra/Translation.hs
  shelley-ma/impl/src/Cardano/Ledger/Mary/Translation.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Rupd.hs
Owners: none

ormolised
  shelley-ma/impl/src/Cardano/Ledger/Allegra/Translation.hs
  shelley-ma/impl/src/Cardano/Ledger/Mary/Translation.hs
Owners: none

fix byron nightly script
  .buildkite/nightly-tests.sh
Owners: @devops

Add benchmarks for transaction application.
  cardano-ledger-test/bench/Bench/Cardano/Ledger/ApplyTx.hs
  cardano-ledger-test/bench/Main.hs
  cardano-ledger-test/bench/resources/0_ledgerstate.cbor
  cardano-ledger-test/bench/resources/0_tx.cbor
  cardano-ledger-test/bench/resources/DESCRIPTION.md
  cardano-ledger-test/cardano-ledger-test.cabal
  scripts/ormolise.sh
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/Mempool.hs
Owners: none

created initial version of the design document
  voltaire/design-doc/IOHKCoverPage.sty
  voltaire/design-doc/comments.sty
  voltaire/design-doc/default.nix
  voltaire/design-doc/frontmatter.tex
  voltaire/design-doc/introduction.tex
  voltaire/design-doc/iohk-share-logo.jpg
  voltaire/design-doc/iohk.sty
  voltaire/design-doc/param-update.tex
  voltaire/design-doc/references.bib
Owners: @devops

Upgrade to ghc-8.10.3 in Github Actions CI
  .github/workflows/haskell.yml
  cabal.project
  nix/sources.json
Owners: @devops

Upgrade to ghc-8.10.3 in Github Actions CI
  .github/workflows/haskell.yml
  cabal.project
  nix/sources.json
Owners: @devops

Add deserialisation benchmarks.
  cardano-ledger-test/bench/Bench/Cardano/Ledger/ApplyTx.hs
Owners: none

Add second transaction benchmark.
  cardano-ledger-test/bench/Bench/Cardano/Ledger/ApplyTx.hs
  cardano-ledger-test/bench/resources/1_ledgerstate.cbor
  cardano-ledger-test/bench/resources/1_tx.cbor
Owners: none

initial text
  voltaire/design-doc/frontmatter.tex
  voltaire/design-doc/introduction.tex
  voltaire/design-doc/param-update.tex
Owners: none

added makefile
  voltaire/design-doc/Makefile
Owners: none

Update Language.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Language.hs
Owners: none

adding plutus-ledger-api to the cabal project
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  cabal.project
Owners: none

draft text added
  voltaire/design-doc/enactment.tex
  voltaire/design-doc/endorsement.tex
  voltaire/design-doc/frontmatter.tex
  voltaire/design-doc/goals.tex
  voltaire/design-doc/introduction.tex
  voltaire/design-doc/on-chain.tex
  voltaire/design-doc/param-update.tex
  voltaire/design-doc/submission.tex
  voltaire/design-doc/voting.tex
Owners: none

updating plutus to master
  cabal.project
Owners: none

Added to the Cardano.Ledger.Pretty module the capability tp pretty print ChainState, also added the (Nice t) newtype that gives a Show instance to (Nice t) is there is a PrettyA instance for t.
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Pretty.hs
Owners: none

Fix performance regression in shelley-ma
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Rules/Utxo.hs
Owners: none

added groups
  voltaire/design-doc/endorsement.tex
  voltaire/design-doc/frontmatter.tex
  voltaire/design-doc/goals.tex
  voltaire/design-doc/introduction.tex
  voltaire/design-doc/param-update.tex
  voltaire/design-doc/voting.tex
Owners: none

added groups
  voltaire/design-doc/delegation.tex
  voltaire/design-doc/groups.tex
Owners: none

added vote delegation
  voltaire/design-doc/delegation.tex
Owners: none

added voting, sidechains, priviledge
  voltaire/design-doc/deadlines.tex
  voltaire/design-doc/delegation.tex
  voltaire/design-doc/frontmatter.tex
  voltaire/design-doc/goals.tex
  voltaire/design-doc/on-chain.tex
  voltaire/design-doc/param-update.tex
  voltaire/design-doc/priviledge.tex
  voltaire/design-doc/rewards.tex
  voltaire/design-doc/sidechain.tex
  voltaire/design-doc/submission.tex
  voltaire/design-doc/voting.tex
Owners: none

Add 'CanStartFromGenesis' class to API.
  shelley-ma/impl/cardano-ledger-shelley-ma.cabal
  shelley-ma/impl/src/Cardano/Ledger/Allegra.hs
  shelley-ma/impl/src/Cardano/Ledger/Mary.hs
  shelley/chain-and-ledger/executable-spec/shelley-spec-ledger.cabal
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/SafeHash.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/Genesis.hs
Owners: none

Add a means to initialise the 'ChainDepState'.
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/Protocol.hs
Owners: none

added workflows
  voltaire/design-doc/Workflow1.pdf
  voltaire/design-doc/Workflow2.pdf
  voltaire/design-doc/Workflow3.pdf
  voltaire/design-doc/Workflow4.pdf
  voltaire/design-doc/frontmatter.tex
  voltaire/design-doc/goals.tex
  voltaire/design-doc/param-update.tex
  voltaire/design-doc/priviledge.tex
  voltaire/design-doc/voting.tex
Owners: none

added workflows
  voltaire/design-doc/workflows.tex
Owners: none

minor edits
  voltaire/design-doc/introduction.tex
  voltaire/design-doc/rewards.tex
Owners: none

Reward Calculation Pulsing
  alonzo/impl/src/Cardano/Ledger/Alonzo/Data.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/PParams.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxWitness.hs
  semantics/executable-spec/small-steps.cabal
  semantics/executable-spec/src/Control/Provenance.hs
  semantics/executable-spec/src/Data/Coders.hs
  semantics/executable-spec/src/Data/Pulse.hs
  shelley/chain-and-ledger/executable-spec/shelley-spec-ledger.cabal
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Pretty.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/Wallet.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/BaseTypes.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/EpochBoundary.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Orphans.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/RewardProvenance.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/RewardUpdate.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Rewards.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/NewEpoch.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Rupd.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Tick.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Serialization.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/bench/Shelley/Spec/Ledger/Bench/Rewards.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/EraIndepGenerators.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/Combinators.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/GenesisDelegation.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/Mir.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/PoolLifetime.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/PoolReReg.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/TwoPools.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/Updates.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rewards.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Serialisation/Golden/Encoding.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Serialisation/Tripping/CBOR.hs
Owners: @TimSheard

Upgrade to cabal-3.4.0.0
  .github/workflows/haskell.yml
Owners: @devops

Upgrade to ghc-8.10.4
  .github/workflows/haskell.yml
Owners: @devops

Added module Cardano.Ledger.Alonzo.Rules.Utxo.
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo/PParams.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxBody.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Rules/Utxo.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/UTxO.hs
Owners: none

CODEOWNERS:

# code owners are automatically assigned to review PRs

# Shelley Design Spec
shelley/design_spec/ @kantp @brunjlar @dcoutts

# Formal Specs
shelley/chain-and-ledger/formal-spec/ @jcorduan @polinavino
shelley-ma/formal-spec/ @polinavino @WhatisRT
alonzo/formal-spec/ @polinavino @WhatisRT

# CDDL
shelley/chain-and-ledger/shelley-spec-ledger-test/cddl-files/ @redxaxder
shelley-ma/shelley-ma-test/cddl-files/                        @redxaxder

# Set Algebra
semantics/executable-spec/src/Control/Iterate/      @TimSheard
semantics/executable-spec/src/Control/Provenance.hs @TimSheard
semantics/executable-spec/src/Control/SetAlgebra.hs @TimSheard

# Coders library for CBOR encoding and decoding
semantics/executable-spec/src/Data/Coders.hs @TimSheard

# Devops
.buildkite @devops
.github    @devops
nix        @devops
*.nix      @devops
bors.toml  @devops
