Repository IntersectMBO/cardano-ledger, changes with the owners that CODEOWNERS names for each.
All owners: @kantp, @brunjlar, @dcoutts, @jcorduan, @polinavino, @WhatisRT, @redxaxder, @TimSheard, @devops

CODEOWNERS:

# code owners are automatically assigned to review PRs

# Shelley Design Spec
shelley/design_spec/ @kantp @brunjlar @dcoutts

# Formal Specs
shelley/chain-and-ledger/formal-spec/ @jcorduan @polinavino
shelley-ma/formal-spec/ @polinavino @WhatisRT
alonzo/formal-spec/ @polinavino @WhatisRT

# CDDL
shelley/chain-and-ledger/shelley-spec-ledger-test/cddl-files/ @redxaxder
shelley-ma/shelley-ma-test/cddl-files/                        @redxaxder

# Set Algebra
semantics/executable-spec/src/Control/Iterate/      @TimSheard
semantics/executable-spec/src/Control/Provenance.hs @TimSheard
semantics/executable-spec/src/Control/SetAlgebra.hs @TimSheard

# Coders library for CBOR encoding and decoding
semantics/executable-spec/src/Data/Coders.hs @TimSheard

# Devops
.buildkite @devops
.github    @devops
nix        @devops
*.nix      @devops
bors.toml  @devops

remove exunits from txbody
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxBody.hs
  alonzo/impl/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
Owners: none

remove extra aux data hash
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxBody.hs
Owners: none

remove extra aux data hash
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxBody.hs
  alonzo/impl/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
Owners: none

fix rebase
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
Owners: none

Added module Cardano.Ledger.Alonzo.Rules.Utxo.
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo/PParams.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxBody.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Rules/Utxo.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/UTxO.hs
Owners: none

fix
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
Owners: none

fix
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
Owners: none

fix
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
Owners: none

tmp
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxBody.hs
Owners: none

ormolise
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
Owners: none

Nick's comments
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
Owners: none

added diagram of address structure
  voltaire/design-doc/Address-Structure.pdf
  voltaire/design-doc/Address-Structure.pptx
  voltaire/design-doc/Indirection.pptx
  voltaire/design-doc/delegation.tex
Owners: none

Bump iohk-nix to bump nixpkgs
  nix/sources.json
Owners: @devops

Port latex fix from Plutus
  nix/latex.nix
Owners: @devops

updated delegation, certs etc; added diagrams
  voltaire/design-doc/Address-Structure.pdf
  voltaire/design-doc/Address-Structure.pptx
  voltaire/design-doc/Indirection.pptx
  voltaire/design-doc/delegation.tex
  voltaire/design-doc/frontmatter.tex
  voltaire/design-doc/introduction.tex
  voltaire/design-doc/todo.tex
Owners: none

updated delegation, certs etc; added diagrams
  voltaire/design-doc/Relationships.pptx
Owners: none

Stub instances for alonzo
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/PParams.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  semantics/executable-spec/src/Control/State/Transition/Extended.hs
Owners: none

Added self-describing features to Era instances.
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/DescribeEras.hs
  shelley-ma/impl/src/Cardano/Ledger/Allegra.hs
  shelley-ma/impl/src/Cardano/Ledger/Mary.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Shelley.hs
Owners: none

Added tests, that test each era against its description.
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/DescribeEras.hs
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/DescribeEra.hs
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/Serialisation/Tripping.hs
  alonzo/impl/test/test/Tests.hs
  shelley-ma/impl/src/Cardano/Ledger/Allegra.hs
Owners: none

ormolise
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/DescribeEra.hs
Owners: none

Update nix infrastrucutre:
  nix/haskell.nix
  nix/sources.json
  shell.nix
Owners: @devops

Port latex fix from Plutus
  nix/latex.nix
Owners: @devops

Bump iohk-nix to bump nixpkgs
  nix/sources.json
Owners: @devops

Add `extraKeys` to transactions
  alonzo/formal-spec/introduction.tex
  alonzo/formal-spec/protocol-parameters.tex
  alonzo/formal-spec/references.bib
  alonzo/formal-spec/transactions.tex
  alonzo/formal-spec/utxo.tex
Owners: @polinavino, @WhatisRT

Added the Utxo rule in the Alonzo era.
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxBody.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxWitness.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Rules/Utxo.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/TxBody.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Era.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Tx.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/TxBody.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/UTxO.hs
Owners: none

Addressed comment by Nick.
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/DescribeEras.hs
  alonzo/impl/test/test/Tests.hs
  cardano-ledger-test/cardano-ledger-test.cabal
  cardano-ledger-test/src/Test/Cardano/Ledger/DescribeEra.hs
  shelley-ma/impl/src/Cardano/Ledger/Allegra.hs
  shelley-ma/impl/src/Cardano/Ledger/Mary.hs
  shelley-ma/shelley-ma-test/src/Test/Cardano/Ledger/EraBuffet.hs
  shelley/chain-and-ledger/executable-spec/shelley-spec-ledger.cabal
  shelley/chain-and-ledger/executable-spec/src/Cardano/Crypto/VRF/Fake.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Crypto.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Shelley.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/shelley-spec-ledger-test.cabal
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/ConcreteCryptoTypes.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Core.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/SafeHash.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Serialisation/Golden/Encoding.hs
Owners: none

added story board
  voltaire/design-doc/StoryBoard.pdf
Owners: none

added images
  voltaire/design-doc/Indirection.pdf
  voltaire/design-doc/Relationships.pdf
Owners: none

minor edits on endorsement
  voltaire/design-doc/endorsement.tex
  voltaire/design-doc/workflows.tex
Owners: none

added unsafeForHashingPPDeltaDecoder decoder
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/PParams.hs
Owners: none

changes to Priviledge comparison
  voltaire/design-doc/priviledge.tex
Owners: none

Remove redundant package dependencies.
  alonzo/impl/cardano-ledger-alonzo.cabal
  byron/chain/executable-spec/byron-spec-chain.cabal
  byron/crypto/cardano-crypto-wrapper.cabal
  byron/crypto/test/cardano-crypto-test.cabal
  byron/ledger/executable-spec/byron-spec-ledger.cabal
  byron/ledger/impl/cardano-ledger-byron.cabal
  byron/ledger/impl/test/cardano-ledger-byron-test.cabal
  cardano-ledger-test/cardano-ledger-test.cabal
  semantics/executable-spec/small-steps.cabal
  semantics/small-steps-test/small-steps-test.cabal
  shelley-ma/impl/cardano-ledger-shelley-ma.cabal
  shelley-ma/shelley-ma-test/cardano-ledger-shelley-ma-test.cabal
  shelley/chain-and-ledger/dependencies/non-integer/shelley-spec-non-integral.cabal
  shelley/chain-and-ledger/executable-spec/shelley-spec-ledger.cabal
  shelley/chain-and-ledger/shelley-spec-ledger-test/shelley-spec-ledger-test.cabal
Owners: none

Use conventional syntax for base stanza
  byron/crypto/cardano-crypto-wrapper.cabal
  byron/crypto/test/cardano-crypto-test.cabal
  byron/ledger/executable-spec/byron-spec-ledger.cabal
  byron/ledger/impl/cardano-ledger-byron.cabal
  byron/ledger/impl/test/cardano-ledger-byron-test.cabal
  cardano-ledger-test/cardano-ledger-test.cabal
  semantics/executable-spec/small-steps.cabal
  semantics/small-steps-test/small-steps-test.cabal
  shelley-ma/impl/cardano-ledger-shelley-ma.cabal
  shelley-ma/shelley-ma-test/cardano-ledger-shelley-ma-test.cabal
  shelley/chain-and-ledger/executable-spec/shelley-spec-ledger.cabal
  shelley/chain-and-ledger/shelley-spec-ledger-test/shelley-spec-ledger-test.cabal
Owners: none

New section on protocol parameters
  voltaire/design-doc/frontmatter.tex
  voltaire/design-doc/groups.tex
  voltaire/design-doc/param-update.tex
  voltaire/design-doc/parameters.tex
  voltaire/design-doc/todo.tex
  voltaire/design-doc/ux.tex
  voltaire/design-doc/workflows.tex
Owners: none

minor changes
  voltaire/design-doc/deadlines.tex
  voltaire/design-doc/param-update.tex
  voltaire/design-doc/parameters.tex
  voltaire/design-doc/rewards.tex
  voltaire/design-doc/ux.tex
Owners: none

Remove defunct nix regenerate script.
  nix/regenerate.sh
Owners: @devops

feedback from Andre/Philipp
  voltaire/design-doc/endorsement.tex
  voltaire/design-doc/frontmatter.tex
  voltaire/design-doc/goals.tex
  voltaire/design-doc/param-update.tex
  voltaire/design-doc/priviledge.tex
  voltaire/design-doc/rewards.tex
  voltaire/design-doc/submission.tex
  voltaire/design-doc/todo.tex
Owners: none

updated workflow diagram
  voltaire/design-doc/New-Workflow.pptx
  voltaire/design-doc/New-Workflow2.pdf
  voltaire/design-doc/todo.tex
  voltaire/design-doc/workflows.tex
Owners: none

Return FromCBOR instance to NewEpochState
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/PParams.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Serialisation/Tripping/CBOR.hs
Owners: none

Filled in the Utxow rule
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxBody.hs
Owners: none
