Repository IntersectMBO/cardano-ledger, changes with the owners that CODEOWNERS names for each.
All owners: @kantp, @brunjlar, @dcoutts, @jcorduan, @polinavino, @WhatisRT, @redxaxder, @TimSheard, @devops

temp
  alonzo/formal-spec/alonzo-changes.tex
  alonzo/formal-spec/introduction.tex
  alonzo/formal-spec/ledger.tex
  alonzo/formal-spec/properties.tex
  alonzo/formal-spec/protocol-parameters.tex
  alonzo/formal-spec/transactions.tex
  alonzo/formal-spec/utxo.tex
  alonzo/formal-spec/value-size.tex
  shelley-ma/formal-spec/timelock-language.tex
Owners: @polinavino, @WhatisRT

Update to new cardano-base
  cabal.project
  cardano-ledger-core/src/Cardano/Ledger/BaseTypes.hs
Owners: none

implements model based testing framework.
  cardano-ledger-test/cardano-ledger-test.cabal
  cardano-ledger-test/src/Test/Cardano/Ledger/Elaborators.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/Elaborators/Alonzo.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/Elaborators/Shelley.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/ModelChain.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/ModelChain/Address.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/ModelChain/FeatureSet.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/ModelChain/Properties.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/ModelChain/Script.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/ModelChain/Utils.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/ModelChain/Value.hs
  cardano-ledger-test/test/Tests.hs
  shelley-ma/shelley-ma-test/cardano-ledger-shelley-ma-test.cabal
  shelley/chain-and-ledger/executable-spec/shelley-spec-ledger.cabal
Owners: none

Update cardano-base and derive Measure for ExUnits
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  cabal.project
Owners: none

removed some comments
  voltaire/design-doc/delegation.tex
  voltaire/design-doc/efficiency.tex
  voltaire/design-doc/goals.tex
  voltaire/design-doc/notes.tex
  voltaire/design-doc/off-chain.tex
  voltaire/design-doc/submission.tex
  voltaire/design-doc/ux.tex
Owners: none

removed comments
  voltaire/design-doc/submission.tex
  voltaire/design-doc/voting.tex
Owners: none

removed comments
  voltaire/design-doc/Newer-Workflow.pptx
  voltaire/design-doc/Newer-Workflow2.pdf
  voltaire/design-doc/Newer-Workflow2.pptx
  voltaire/design-doc/Newer-Workflow3.pdf
  voltaire/design-doc/Newer-Workflow3.pptx
Owners: none

Generate abstract ledger actions and their dependencies (with loose threads)
  cardano-ledger-test/cardano-ledger-test.cabal
  cardano-ledger-test/src/Test/Cardano/Ledger/DependGraph.hs
Owners: none

WIP: Generate transactions from the action graph
  cardano-ledger-test/src/Test/Cardano/Ledger/DependGraph.hs
Owners: none

Generate transactions from Spend actions
  cardano-ledger-test/src/Test/Cardano/Ledger/DependGraph.hs
Owners: none

Emit Withdrawal transactions
  cardano-ledger-test/src/Test/Cardano/Ledger/DependGraph.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/ModelChain.hs
Owners: none

Add inputs to withdrawal transactions
  cardano-ledger-test/src/Test/Cardano/Ledger/DependGraph.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/ModelChain/FeatureSet.hs
Owners: none

Don't use TH
  cardano-ledger-test/src/Test/Cardano/Ledger/DependGraph.hs
Owners: none

No extra redeemers
  alonzo/formal-spec/utxo.tex
  alonzo/impl/src/Cardano/Ledger/Alonzo/PlutusScriptApi.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxWitness.hs
Owners: @polinavino, @WhatisRT

fix mistake
  alonzo/formal-spec/utxo.tex
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
Owners: @polinavino, @WhatisRT

change test
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/Examples/TwoPhaseValidation.hs
Owners: none

examples
  cardano-ledger-test/src/Test/Cardano/Ledger/Examples/TwoPhaseValidation.hs
Owners: none

fix example
  cardano-ledger-test/src/Test/Cardano/Ledger/Examples/TwoPhaseValidation.hs
Owners: none

addressed all comments
  voltaire/design-doc/endorsement.tex
  voltaire/design-doc/submission.tex
  voltaire/design-doc/ux.tex
Owners: none

fix master
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Tools.hs
Owners: none

Injectivity for core type families
  cardano-ledger-core/src/Cardano/Ledger/Core.hs
  cardano-ledger-core/src/Cardano/Ledger/Era.hs
Owners: none

remove some type applications
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/Examples/TwoPhaseValidation.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Rules/Utxo.hs
  shelley-ma/shelley-ma-test/test/Test/Cardano/Ledger/Mary/Examples/MultiAssets.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Utxo.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/UTxO.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Core.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/PoolLifetime.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/PoolReReg.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/Updates.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/MultiSigExamples.hs
Owners: none

remove AllowAmbiguousTypes when possible
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tools.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
  cardano-ledger-core/src/Cardano/Ledger/AuxiliaryData.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Timelocks.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/Wallet.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Address/Bootstrap.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/BlockChain.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/EpochBoundary.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Metadata.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Rewards.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Scripts.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/UTxO.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Presets.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/EraIndepGenerators.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/GoldenUtils.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Serialisation/CDDL.hs
Owners: none

Moved Test.Cardano.Ledger.Alonzo.Tools into cardano-ledger-test
  alonzo/test/cardano-ledger-alonzo-test.cabal
  alonzo/test/test/Tests.hs
  cardano-ledger-test/cardano-ledger-test.cabal
  cardano-ledger-test/src/Test/Cardano/Ledger/Alonzo/Tools.hs
  cardano-ledger-test/test/Tests.hs
Owners: none

rename IsValidating to IsValid
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Ledger.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Translation.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxSeq.hs
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/AlonzoEraGen.hs
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/Examples/Consensus.hs
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/Examples/TwoPhaseValidation.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/Generic/Updaters.hs
Owners: none

add applyBlockWithEvents
  semantics/executable-spec/src/Control/State/Transition/Extended.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/Validation.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/Combinators.hs
Owners: none

at major PV 5, script stake creds can earn rewards
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Pretty.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/HardForks.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/RewardUpdate.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Rewards.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/EraIndepGenerators.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rewards.hs
Owners: none

Added 2 arg scripts, and associated helper functions.
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  alonzo/test/cardano-ledger-alonzo-test.cabal
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/AlonzoEraGen.hs
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/PlutusScripts.hs
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Examples.hs
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Golden.hs
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Trials.hs
  cabal.project
  cardano-ledger-test/benchProperty/Main.hs
  cardano-ledger-test/cardano-ledger-test.cabal
  nix/haskell.nix
  plutus-preprocessor/src/Main.hs
  plutus-preprocessor/src/PlutusScripts.hs
  shelley-ma/impl/src/Cardano/Ledger/Mary/Value.hs
  shelley-ma/shelley-ma-test/src/Test/Cardano/Ledger/MaryEraGen.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/bench/Shelley/Spec/Ledger/Bench/Gen.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/bench/Shelley/Spec/Ledger/Bench/Rewards.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/shelley-spec-ledger-test.cabal
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Core.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/EraGen.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Presets.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/ScriptClass.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Utxo.hs
Owners: @devops

Added reporting of the cause of Plutus script failures.
  alonzo/impl/src/Cardano/Ledger/Alonzo/PlutusScriptApi.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Examples.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/Examples/TwoPhaseValidation.hs
Owners: none

Organizing Readme links
  README.md
Owners: none

move defaultCostModel to tests
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/PlutusScripts.hs
  cardano-ledger-test/cardano-ledger-test.cabal
  cardano-ledger-test/src/Test/Cardano/Ledger/Alonzo/Tools.hs
Owners: none

NewEpoch event
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Ledger.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Rules/Utxo.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Rules/Utxow.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Deleg.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Ppup.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Prtcl.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Updn.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Utxo.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Utxow.hs
Owners: none

move mock definition of positive interval into mock.cddl
  alonzo/test/cddl-files/alonzo.cddl
  alonzo/test/cddl-files/mock/extras.cddl
Owners: none

Add additional tools for dealing with events.
  semantics/executable-spec/src/Control/State/Transition/Extended.hs
Owners: none

Introduce 'applyBlockOpts'
  semantics/executable-spec/src/Control/State/Transition/Extended.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/Validation.hs
Owners: none

Fold `EventPolicy` into ApplySTSOpts.
  cardano-ledger-core/src/Cardano/Ledger/Rules/ValidationMode.hs
  semantics/executable-spec/src/Control/State/Transition/Extended.hs
  semantics/small-steps-test/src/Control/State/Transition/Trace.hs
Owners: none

end-to-end generated model test.
  cardano-ledger-test/cardano-ledger-test.cabal
  cardano-ledger-test/src/Test/Cardano/Ledger/DependGraph.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/Elaborators.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/ModelChain.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/ModelChain/FeatureSet.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/ModelChain/Properties.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/ModelChain/Script.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/ModelChain/Utils.hs
Owners: none

Update to new Plutus ByteString type.
  alonzo/impl/src/Cardano/Ledger/Alonzo/Data.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  cabal.project
Owners: none

Better InsufficientCollateral failure
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  cardano-ledger-core/src/Cardano/Ledger/Coin.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/Examples/TwoPhaseValidation.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/Generic/Updaters.hs
Owners: none

WIP second iteration pool rankings
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/Wallet.hs
Owners: none

CODEOWNERS:

# code owners are automatically assigned to review PRs

# Shelley Design Spec
shelley/design_spec/ @kantp @brunjlar @dcoutts

# Formal Specs
shelley/chain-and-ledger/formal-spec/ @jcorduan @polinavino
shelley-ma/formal-spec/ @polinavino @WhatisRT
alonzo/formal-spec/ @polinavino @WhatisRT

# CDDL
shelley/chain-and-ledger/shelley-spec-ledger-test/cddl-files/ @redxaxder
shelley-ma/shelley-ma-test/cddl-files/                        @redxaxder

# Set Algebra
semantics/executable-spec/src/Control/Iterate/      @TimSheard
semantics/executable-spec/src/Control/Provenance.hs @TimSheard
semantics/executable-spec/src/Control/SetAlgebra.hs @TimSheard

# Coders library for CBOR encoding and decoding
semantics/executable-spec/src/Data/Coders.hs @TimSheard

# Devops
.buildkite @devops
.github    @devops
nix        @devops
*.nix      @devops
bors.toml  @devops
