Repository IntersectMBO/cardano-ledger, changes with the owners that CODEOWNERS names for each.
All owners: @kantp, @brunjlar, @dcoutts, @jcorduan, @polinavino, @WhatisRT, @redxaxder, @TimSheard, @devops

Compare spec and code
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Data.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/PParams.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/PlutusScriptApi.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxWitness.hs
Owners: none

Remove allow-newer for monoidal-containers:aeson.
  byron/crypto/cardano-crypto-wrapper.cabal
  byron/ledger/impl/cardano-ledger-byron.cabal
  cabal.project
  cardano-ledger-core/cardano-ledger-core.cabal
  nix/sources.json
  semantics/executable-spec/small-steps.cabal
  shelley/chain-and-ledger/executable-spec/shelley-spec-ledger.cabal
  shelley/chain-and-ledger/shelley-spec-ledger-test/shelley-spec-ledger-test.cabal
Owners: @devops

Add some more detailed doc to benchmark.
  cardano-ledger-test/bench/Bench/Cardano/Ledger/EpochBoundary.hs
Owners: none

update plutus
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  alonzo/impl/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/Examples/Utxow.hs
  cabal.project
Owners: none

Comments/edits to sections 1-5
  voltaire/design-doc/goals.tex
  voltaire/design-doc/groups.tex
  voltaire/design-doc/introduction.tex
  voltaire/design-doc/param-update.tex
  voltaire/design-doc/submission.tex
  voltaire/design-doc/workflows.tex
Owners: none

Comments on first half of section 6
  voltaire/design-doc/delegation.tex
Owners: none

VRFs formalisation
  shelley/chain-and-ledger/formal-spec/chain.tex
  shelley/chain-and-ledger/formal-spec/crypto-details.tex
  shelley/chain-and-ledger/formal-spec/crypto-primitives.tex
  shelley/chain-and-ledger/formal-spec/ledger-spec.tex
  shelley/chain-and-ledger/formal-spec/references.bib
Owners: @jcorduan, @polinavino

move txbody network ID check to UTxO rule
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
Owners: none

Alonzo should use the Alonzo txins
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
Owners: none

Alonzo translation
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/cddl-files/alonzo.cddl
  alonzo/impl/src/Cardano/Ledger/Alonzo/PParams.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Translation.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxBody.hs
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/Translation.hs
  alonzo/impl/test/test/Tests.hs
  shelley-ma/shelley-ma-test/cardano-ledger-shelley-ma-test.cabal
  shelley-ma/shelley-ma-test/src/Test/Cardano/Ledger/TranslationTools.hs
  shelley-ma/shelley-ma-test/test/Test/Cardano/Ledger/Mary/Translation.hs
Owners: none

sync
  alonzo/formal-spec/transactions.tex
  alonzo/formal-spec/utxo.tex
Owners: @polinavino, @WhatisRT

Drop 'EraIndependentTx'.
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  cardano-ledger-core/src/Cardano/Ledger/Hashes.hs
  cardano-ledger-core/src/Cardano/Ledger/Tx.hs
Owners: none

Do not serialise full script in errors.
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
Owners: none

Mempool API changes for Alonzo.
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  cardano-ledger-test/bench/Bench/Cardano/Ledger/ApplyTx.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/Mempool.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/EraIndepGenerators.hs
Owners: none

Crypto appendix: formalising hash functions and VRFs (#2252)
  shelley/chain-and-ledger/formal-spec/crypto-details.tex
  shelley/chain-and-ledger/formal-spec/references.bib
Owners: @jcorduan, @polinavino

Add a new example prototype era.
  cabal.project
  example-shelley/Setup.hs
  example-shelley/cardano-ledger-example-shelley.cabal
  example-shelley/src/Cardano/Ledger/Example.hs
  example-shelley/src/Cardano/Ledger/Example/Translation.hs
  example-shelley/test/Test/Cardano/Ledger/Example.hs
  example-shelley/test/Tests.hs
Owners: none

Sync formal spec side
  alonzo/formal-spec/alonzo-changes.tex
  alonzo/formal-spec/constants.tex
  alonzo/formal-spec/protocol-parameters.tex
  alonzo/formal-spec/transactions.tex
  alonzo/formal-spec/utxo.tex
Owners: @polinavino, @WhatisRT

Replace totExunits check with redeemer check
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxWitness.hs
Owners: none

check empty map
  alonzo/formal-spec/utxo.tex
Owners: @polinavino, @WhatisRT

Expand benchmarking to cover UTxO size.
  cardano-ledger-test/bench/Bench/Cardano/Ledger/EpochBoundary.hs
Owners: none

Rewrite the UTxO generator to be much faster!
  cardano-ledger-test/bench/Bench/Cardano/Ledger/EpochBoundary.hs
Owners: none

merged in PK comments
  voltaire/design-doc/delegation.tex
  voltaire/design-doc/goals.tex
  voltaire/design-doc/groups.tex
  voltaire/design-doc/introduction.tex
  voltaire/design-doc/param-update.tex
  voltaire/design-doc/submission.tex
  voltaire/design-doc/workflows.tex
Owners: none

Add some additional mainnet-size benchmarks.
  cardano-ledger-test/bench/Bench/Cardano/Ledger/EpochBoundary.hs
Owners: none

Made functions take (tx) rather than Tx.
  alonzo/impl/src/Cardano/Ledger/Alonzo/PlutusScriptApi.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
Owners: none

Add 'constructValidated' function.
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  semantics/executable-spec/src/Control/State/Transition/Extended.hs
Owners: none

Implement 'validateTx' for Mempool API.
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  shelley/chain-and-ledger/executable-spec/shelley-spec-ledger.cabal
Owners: none

Add the ability to label predicates.
  semantics/executable-spec/src/Control/State/Transition/Extended.hs
Owners: none

Add 'ValidationMode' to cardano-ledger-core.
  cardano-ledger-core/cardano-ledger-core.cabal
  cardano-ledger-core/src/Cardano/Ledger/Rules/ValidationMode.hs
Owners: none

Mark a bunch of checks as being static.
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
Owners: none

added responses to PK comments
  voltaire/design-doc/delegation.tex
  voltaire/design-doc/endorsement.tex
  voltaire/design-doc/goals.tex
  voltaire/design-doc/groups.tex
  voltaire/design-doc/submission.tex
Owners: none

Flip the 2-phase validation check in Utxos
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
Owners: none

Add static labeled checks to Shelley witness rules.
  semantics/executable-spec/src/Control/State/Transition/Extended.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Utxow.hs
Owners: none

Implement 'applyTxInBlock' for Alonzo.
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
Owners: none

Remove thunk from reward pulser
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Pretty.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/RewardUpdate.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/EraIndepGenerators.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rewards.hs
Owners: none

Drop unused and undefined 'translateTxBody'.
  alonzo/impl/src/Cardano/Ledger/Alonzo/Translation.hs
Owners: none

Drop iohk-monitoring-framework dep.
  cabal.project
Owners: none

Split out cardano-ledger-alonzo-test
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Translation.hs
  alonzo/test/cardano-ledger-alonzo-test.cabal
  alonzo/test/cddl-files/alonzo.cddl
  alonzo/test/cddl-files/mock/crypto.cddl
  alonzo/test/cddl-files/mock/extras.cddl
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Examples/Utxow.hs
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Golden.hs
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Serialisation/CDDL.hs
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Serialisation/Tripping.hs
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Translation.hs
  alonzo/test/test/Tests.hs
  cabal.project
  hie.yaml
  nix/haskell.nix
Owners: @devops

Expose AlonzoBbodyPredFail
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Bbody.hs
Owners: none

added security audit report and response
  voltaire/design-doc/param-update.tex
  voltaire/design-doc/security-reviews/2021-05-03-resp.rtf
  voltaire/design-doc/security-reviews/2021-05-03-resp.tex
  voltaire/design-doc/security-reviews/2021-05-03.rtf
  voltaire/design-doc/security-reviews/Response - Automated Parameter Updates and Central Fund Transfers.tex
Owners: none

added security audit report and response
  voltaire/design-doc/security-audit.tex
Owners: none

CODEOWNERS:

# code owners are automatically assigned to review PRs

# Shelley Design Spec
shelley/design_spec/ @kantp @brunjlar @dcoutts

# Formal Specs
shelley/chain-and-ledger/formal-spec/ @jcorduan @polinavino
shelley-ma/formal-spec/ @polinavino @WhatisRT
alonzo/formal-spec/ @polinavino @WhatisRT

# CDDL
shelley/chain-and-ledger/shelley-spec-ledger-test/cddl-files/ @redxaxder
shelley-ma/shelley-ma-test/cddl-files/                        @redxaxder

# Set Algebra
semantics/executable-spec/src/Control/Iterate/      @TimSheard
semantics/executable-spec/src/Control/Provenance.hs @TimSheard
semantics/executable-spec/src/Control/SetAlgebra.hs @TimSheard

# Coders library for CBOR encoding and decoding
semantics/executable-spec/src/Data/Coders.hs @TimSheard

# Devops
.buildkite @devops
.github    @devops
nix        @devops
*.nix      @devops
bors.toml  @devops
