Repository IntersectMBO/cardano-ledger, changes with the owners that CODEOWNERS names for each.
All owners: @mgudemann, @JaredCorduan, @kantp, @nc6, @ruhatch, @mdimjasevic, @dnadales

CODEOWNERS:

# code owners are automatically assigned to review PRs

# The goal is to not have more than 2 people responsible to avoid having too
# many reviewers which often leads to nobody feeling responsible to actually
# perform the review.

shelley/chain-and-ledger/dependencies/non-integer/ @mgudemann
shelley/design_spec/ @JaredCorduan @kantp
shelley/chain-and-ledger/executable-spec/ @mgudemann @JaredCorduan
shelley/chain-and-ledger/formal-spec/ @JaredCorduan @mgudemann
nix/ @nc6 @ruhatch
scripts/ @nc6 @ruhatch
byron/chain/ @nc6 @mdimjasevic
byron/ledger/ @nc6 @dnadales
byron/semantics/ @nc6 @dnadales

Update changelog for design spec.
  shelley/design-spec/CHANGELOG.md
Owners: none

Update changelog for design spec.
  shelley/design-spec/CHANGELOG.md
Owners: none

[#90] Move cardano-crypto tests to hedgehog and remove hspec
  crypto/cardano-crypto-wrapper.cabal
  crypto/src/Cardano/Crypto/HD.hs
  crypto/src/Cardano/Crypto/Signing/Proxy/Signature.hs
  crypto/test/Test/Cardano/Crypto/Arbitrary.hs
  crypto/test/Test/Cardano/Crypto/Arbitrary/Unsafe.hs
  crypto/test/Test/Cardano/Crypto/Bi.hs
  crypto/test/Test/Cardano/Crypto/CryptoSpec.hs
  crypto/test/Test/Cardano/Crypto/CryptoSpec2.hs
  crypto/test/Test/Cardano/Crypto/Gen.hs
  crypto/test/Test/Cardano/Crypto/HD.hs
  crypto/test/Test/Cardano/Crypto/Hashing.hs
  crypto/test/Test/Cardano/Crypto/Keys.hs
  crypto/test/Test/Cardano/Crypto/Limits.hs
  crypto/test/Test/Cardano/Crypto/Random.hs
  crypto/test/Test/Cardano/Crypto/Signing/Proxy.hs
  crypto/test/Test/Cardano/Crypto/Signing/Redeem.hs
  crypto/test/Test/Cardano/Crypto/Signing/Safe.hs
  crypto/test/Test/Cardano/Crypto/Signing/Signing.hs
  crypto/test/cardano-crypto-test.cabal
  crypto/test/test.hs
  nix/.stack.nix/cardano-crypto-test.nix
  nix/.stack.nix/cardano-crypto-wrapper.nix
  src/Cardano/Chain/Block/Header.hs
Owners: @nc6, @ruhatch

Utilize optimized/compact data types in UTxO
  src/Cardano/Chain/Txp/UTxO.hs
  test/Test/Cardano/Chain/Txp/Gen.hs
Owners: none

[#213] Add RTS options to the tests to limit memory usage
  cardano-ledger.cabal
Owners: none

Elaborate on initialising the apparent performance for new pools
  shelley/design-spec/delegation_design_spec.tex
Owners: none

Elaborate on initialising the apparent performance for new pools
  shelley/design-spec/delegation_design_spec.tex
Owners: none

Switch to new notation for assignment/equality
  byron/ledger/formal-spec/blockchain-interface.tex
  byron/ledger/formal-spec/delegation.tex
  byron/ledger/formal-spec/update-mechanism.tex
Owners: @nc6, @dnadales

Introduce notation for the set of rational numbers.
  byron/ledger/formal-spec/notation.tex
  byron/ledger/formal-spec/update-mechanism.tex
Owners: @nc6, @dnadales

Make the transition plan more explicit
  shelley/design-spec/delegation_design_spec.tex
Owners: none

Make the transition plan more explicit
  shelley/design-spec/delegation_design_spec.tex
Owners: none

Implement Haskell version of leader probability calculation
  shelley/chain-and-ledger/dependencies/non-integer/src/NonIntegral.hs
Owners: @mgudemann

Implement Haskell version of leader probability calculation
  shelley/chain-and-ledger/dependencies/non-integer/src/NonIntegral.hs
Owners: @mgudemann

Add benchmarks for leader election calculation
  shelley/chain-and-ledger/dependencies/non-integer/app/Main.hs
Owners: @mgudemann

Add benchmarks for leader election calculation
  shelley/chain-and-ledger/dependencies/non-integer/app/Main.hs
Owners: @mgudemann

Clean up unused variable
  shelley/chain-and-ledger/dependencies/non-integer/reference/non_integral.c
  shelley/chain-and-ledger/dependencies/non-integer/reference/non_integral_test.cpp
Owners: @mgudemann

Clean up unused variable
  shelley/chain-and-ledger/dependencies/non-integer/reference/non_integral.c
  shelley/chain-and-ledger/dependencies/non-integer/reference/non_integral_test.cpp
Owners: @mgudemann

Benchmark partial pre-compute
  shelley/chain-and-ledger/dependencies/non-integer/app/Main.hs
Owners: @mgudemann

Benchmark partial pre-compute
  shelley/chain-and-ledger/dependencies/non-integer/app/Main.hs
Owners: @mgudemann

Add Property-based tests for leader election
  shelley/chain-and-ledger/dependencies/non-integer/test/Spec.hs
Owners: @mgudemann

Add Property-based tests for leader election
  shelley/chain-and-ledger/dependencies/non-integer/test/Spec.hs
Owners: @mgudemann

Add `criterion` results to doc
  shelley/chain-and-ledger/dependencies/non-integer/doc/haskell.png
  shelley/chain-and-ledger/dependencies/non-integer/doc/non-integer-calculations.tex
Owners: @mgudemann

Add `criterion` results to doc
  shelley/chain-and-ledger/dependencies/non-integer/doc/haskell.png
  shelley/chain-and-ledger/dependencies/non-integer/doc/non-integer-calculations.tex
Owners: @mgudemann

Move "stale stake" option to Appendix, and update that section.
  shelley/design-spec/delegation_design_spec.tex
Owners: none

Move "stale stake" option to Appendix, and update that section.
  shelley/design-spec/delegation_design_spec.tex
Owners: none

General Review of design doc
  shelley/design-spec/delegation_design_spec.tex
Owners: none

General Review of design doc
  shelley/design-spec/delegation_design_spec.tex
Owners: none

grammar fix
  shelley/design-spec/delegation_design_spec.tex
Owners: none

grammar fix
  shelley/design-spec/delegation_design_spec.tex
Owners: none

Various changes to UTxO models for hedgehog state machine testing
  byron/chain/executable-spec/src/Cardano/Spec/Chain/STS/Block.hs
  byron/chain/executable-spec/src/Cardano/Spec/Chain/STS/Rule/BHead.hs
  byron/chain/executable-spec/src/Cardano/Spec/Chain/STS/Rule/Chain.hs
  byron/chain/executable-spec/src/Cardano/Spec/Chain/STS/Rule/SigCnt.hs
  byron/chain/executable-spec/src/Cardano/Spec/Consensus/Block.hs
  byron/ledger/executable-spec/cs-ledger.cabal
  byron/ledger/executable-spec/src/Ledger/Core.hs
  byron/ledger/executable-spec/src/Ledger/Signatures.hs
  byron/ledger/executable-spec/src/Ledger/UTxO.hs
  byron/ledger/formal-spec/ledger-spec.tex
  byron/ledger/formal-spec/utxo.tex
Owners: @nc6, @mdimjasevic, @dnadales

Various changes to UTxO models for hedgehog state machine testing
  byron/chain/executable-spec/src/Cardano/Spec/Chain/STS/Block.hs
  byron/chain/executable-spec/src/Cardano/Spec/Chain/STS/Rule/BHead.hs
  byron/chain/executable-spec/src/Cardano/Spec/Chain/STS/Rule/Chain.hs
  byron/chain/executable-spec/src/Cardano/Spec/Chain/STS/Rule/SigCnt.hs
  byron/chain/executable-spec/src/Cardano/Spec/Consensus/Block.hs
  byron/ledger/executable-spec/cs-ledger.cabal
  byron/ledger/executable-spec/src/Ledger/Core.hs
  byron/ledger/executable-spec/src/Ledger/Signatures.hs
  byron/ledger/executable-spec/src/Ledger/UTxO.hs
  byron/ledger/formal-spec/ledger-spec.tex
  byron/ledger/formal-spec/utxo.tex
Owners: @nc6, @mdimjasevic, @dnadales

Update reward calculation functions for revised DDS
  shelley/chain-and-ledger/formal-spec/epoch.tex
Owners: @JaredCorduan, @mgudemann

Update reward calculation functions for revised DDS
  shelley/chain-and-ledger/formal-spec/epoch.tex
Owners: @JaredCorduan, @mgudemann

Remove moving average from STS rules
  shelley/chain-and-ledger/formal-spec/chain.tex
  shelley/chain-and-ledger/formal-spec/delegation.tex
  shelley/chain-and-ledger/formal-spec/epoch.tex
  shelley/chain-and-ledger/formal-spec/non-integral.tex
  shelley/chain-and-ledger/formal-spec/protocol-parameters.tex
Owners: @JaredCorduan, @mgudemann

Remove moving average from STS rules
  shelley/chain-and-ledger/formal-spec/chain.tex
  shelley/chain-and-ledger/formal-spec/delegation.tex
  shelley/chain-and-ledger/formal-spec/epoch.tex
  shelley/chain-and-ledger/formal-spec/non-integral.tex
  shelley/chain-and-ledger/formal-spec/protocol-parameters.tex
Owners: @JaredCorduan, @mgudemann

Remove moving average from the properties
  shelley/chain-and-ledger/formal-spec/appendix.tex
  shelley/chain-and-ledger/formal-spec/properties.tex
Owners: @JaredCorduan, @mgudemann

Remove moving average from the properties
  shelley/chain-and-ledger/formal-spec/appendix.tex
  shelley/chain-and-ledger/formal-spec/properties.tex
Owners: @JaredCorduan, @mgudemann

Update CHANGELOG.md
  shelley/design-spec/CHANGELOG.md
Owners: none

Update CHANGELOG.md
  shelley/design-spec/CHANGELOG.md
Owners: none

Remove obsolete note
  shelley/chain-and-ledger/formal-spec/chain.tex
Owners: @JaredCorduan, @mgudemann
