Repository IntersectMBO/cardano-ledger, changes with the owners that CODEOWNERS names for each.
All owners: @kantp, @brunjlar, @dcoutts, @jcorduan, @polinavino, @WhatisRT, @redxaxder, @TimSheard, @devops

CODEOWNERS:

# code owners are automatically assigned to review PRs

# Shelley Design Spec
shelley/design_spec/ @kantp @brunjlar @dcoutts

# Formal Specs
shelley/chain-and-ledger/formal-spec/ @jcorduan @polinavino
shelley-ma/formal-spec/ @polinavino @WhatisRT
alonzo/formal-spec/ @polinavino @WhatisRT

# CDDL
shelley/chain-and-ledger/shelley-spec-ledger-test/cddl-files/ @redxaxder
shelley-ma/shelley-ma-test/cddl-files/                        @redxaxder

# Set Algebra
semantics/executable-spec/src/Control/Iterate/      @TimSheard
semantics/executable-spec/src/Control/Provenance.hs @TimSheard
semantics/executable-spec/src/Control/SetAlgebra.hs @TimSheard

# Coders library for CBOR encoding and decoding
semantics/executable-spec/src/Data/Coders.hs @TimSheard

# Devops
.buildkite @devops
.github    @devops
nix        @devops
*.nix      @devops
bors.toml  @devops

Update to a more recent Plutus repo version
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  cabal.project
Owners: none

Remove plutus-tx-plugin-dependency
  alonzo/test/cardano-ledger-alonzo-test.cabal
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/AlonzoEraGen.hs
Owners: none

Update plutus version
  cabal.project
Owners: none

Fix Plutus script encoding
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  alonzo/test/cardano-ledger-alonzo-test.cabal
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/AlonzoEraGen.hs
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Examples.hs
  cabal.project
Owners: none

export scriptSpace
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Presets.hs
Owners: none

ShelleyLedgerExamples values for Alonzo
  alonzo/test/cardano-ledger-alonzo-test.cabal
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/Examples/Consensus.hs
  shelley-ma/shelley-ma-test/src/Test/Cardano/Ledger/Mary/Examples/Consensus.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Examples/Consensus.hs
Owners: none

audit issue 2043, formal spec leader check
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/BlockChain.hs
  shelley/chain-and-ledger/formal-spec/leader-value.tex
Owners: @jcorduan, @polinavino

formal spec errata: mis-timed reserve pot
  shelley/chain-and-ledger/formal-spec/errata.tex
  shelley/chain-and-ledger/formal-spec/ledger-spec.tex
Owners: @jcorduan, @polinavino

Added new plutus-preprocessor package
  alonzo/test/cardano-ledger-alonzo-test.cabal
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/AlonzoEraGen.hs
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/PlutusScripts.hs
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Examples.hs
  cabal.project
  plutus-preprocessor/CHANGELOG.md
  plutus-preprocessor/plutus-preprocessor.cabal
  plutus-preprocessor/src/Main.hs
  plutus-preprocessor/src/PlutusScripts.hs
Owners: none

Adjust the CBOR decoder for Rational to match CDDL
  cardano-ledger-core/src/Cardano/Ledger/Serialization.hs
Owners: none

Avoid redefining available function
  alonzo/impl/src/Cardano/Ledger/Alonzo/PParams.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/PParams.hs
Owners: none

Test cases that depict problematic behavior with UnitInterval
  cardano-ledger-core/src/Cardano/Ledger/BaseTypes.hs
  cardano-ledger-test/cardano-ledger-test.cabal
  cardano-ledger-test/src/Test/Cardano/Ledger/BaseTypesSpec.hs
  cardano-ledger-test/test/Tests.hs
Owners: none

Fix ShelleyGenesis golden test case
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Golden/ShelleyGenesis
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Serialisation/Golden/Genesis.hs
Owners: none

Respond to feedback
  cardano-ledger-core/src/Cardano/Ledger/BaseTypes.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Core.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/EraIndepGenerators.hs
Owners: none

Switch `UnitInterval` to use safe-decimal
  alonzo/impl/src/Cardano/Ledger/Alonzo/PParams.hs
  cardano-ledger-core/cardano-ledger-core.cabal
  cardano-ledger-core/src/Cardano/Ledger/BaseTypes.hs
  cardano-ledger-test/cardano-ledger-test.cabal
  cardano-ledger-test/src/Test/Cardano/Ledger/BaseTypes.hs
  cardano-ledger-test/test/Tests.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/BlockChain.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Genesis.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Orphans.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/PParams.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/StabilityWindow.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/bench/Shelley/Spec/Ledger/Bench/Rewards.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Examples/Consensus.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Core.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Delegation.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Update.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/EraIndepGenerators.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/Generators/Genesis.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Utils.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/TwoPools.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rewards.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Serialisation/Golden/Encoding.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Serialisation/Golden/Genesis.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/UnitTests.hs
Owners: none

change Ptr Ix to Word64
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Address.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/CompactAddr.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Credential.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Trace/DCert.hs
Owners: none

ormolise
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Address.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/CompactAddr.hs
Owners: none

formal spec errata: stability window discrepancy
  shelley/chain-and-ledger/formal-spec/chain.tex
  shelley/chain-and-ledger/formal-spec/errata.tex
  shelley/chain-and-ledger/formal-spec/frontmatter.tex
Owners: @jcorduan, @polinavino

formal spec errata: reward aggregation
  shelley/chain-and-ledger/formal-spec/errata.tex
Owners: @jcorduan, @polinavino

audit issue 2040, formal spec reward calculation
  shelley/chain-and-ledger/formal-spec/epoch.tex
  shelley/chain-and-ledger/formal-spec/ledger-spec.tex
Owners: @jcorduan, @polinavino

formal spec errata: byron redeem addresses
  shelley/chain-and-ledger/formal-spec/errata.tex
Owners: @jcorduan, @polinavino

fix formal spec typo
  shelley/chain-and-ledger/formal-spec/ledger.tex
Owners: @jcorduan, @polinavino

changelog update
  shelley/chain-and-ledger/formal-spec/frontmatter.tex
Owners: @jcorduan, @polinavino

audit issue 2113, formal spec
  shelley/chain-and-ledger/formal-spec/epoch.tex
Owners: @jcorduan, @polinavino

formal spec errata: reward calc & stake addresses
  shelley/chain-and-ledger/formal-spec/errata.tex
Owners: @jcorduan, @polinavino

grammar typo
  shelley/chain-and-ledger/formal-spec/errata.tex
Owners: @jcorduan, @polinavino

Account for the ost of storing a script, in addition to the cost of running it.
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/AlonzoEraGen.hs
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Trials.hs
Owners: none

ormolise
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Trials.hs
Owners: none

Add getUTxOSubset to the exported API
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/Wallet.hs
Owners: none

Add getPools to the exported API and change getPoolParameters
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/Wallet.hs
Owners: none

Make a sacrafice to the graceless god: Ormolu the obdurate
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/Wallet.hs
Owners: none

Fixed warnings in Trials.hs
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Trials.hs
Owners: none

Fixes haddock documentation
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Core.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/EraGen.hs
Owners: none

add alonzo CDDL link to the README
  README.md
Owners: none

few adjustments to shelly spec to aling with code
  shelley/chain-and-ledger/formal-spec/epoch.tex
Owners: @jcorduan, @polinavino

rename deposits to deposited in shelley spec
  shelley/chain-and-ledger/formal-spec/epoch.tex
  shelley/chain-and-ledger/formal-spec/utxo.tex
Owners: @jcorduan, @polinavino

remove all references to decaying deposits & exp
  shelley/chain-and-ledger/formal-spec/ledger-spec.tex
  shelley/chain-and-ledger/formal-spec/non-integral.tex
  shelley/chain-and-ledger/formal-spec/properties.tex
  shelley/chain-and-ledger/formal-spec/protocol-parameters.tex
Owners: @jcorduan, @polinavino

shelley spec - consistently use ppup
  shelley/chain-and-ledger/formal-spec/epoch.tex
  shelley/chain-and-ledger/formal-spec/utxo.tex
Owners: @jcorduan, @polinavino

since shelley spec Deleg-MIR rule with code
  shelley/chain-and-ledger/formal-spec/delegation.tex
Owners: @jcorduan, @polinavino

Spec - stakeDistr typo with stake address
  shelley-ma/formal-spec/epoch.tex
  shelley/chain-and-ledger/formal-spec/epoch.tex
Owners: @polinavino, @WhatisRT, @jcorduan
