Repository IntersectMBO/cardano-ledger, changes with the owners that CODEOWNERS names for each.
All owners: @kantp, @brunjlar, @dcoutts, @jcorduan, @polinavino, @WhatisRT, @redxaxder, @TimSheard, @devops

move VRF abstraction to crypto-primitives section
  shelley/chain-and-ledger/formal-spec/chain.tex
  shelley/chain-and-ledger/formal-spec/crypto-primitives.tex
Owners: @jcorduan, @polinavino

hash properties
  shelley/chain-and-ledger/formal-spec/crypto-details.tex
Owners: @jcorduan, @polinavino

test
  README.md
Owners: none

system time params
  alonzo/formal-spec/utxo.tex
Owners: @polinavino, @WhatisRT

Type aliases, mandatory redeemers
  alonzo/formal-spec/alonzo-changes.tex
  alonzo/formal-spec/properties.tex
  alonzo/formal-spec/transactions.tex
  alonzo/formal-spec/txinfo.tex
  alonzo/formal-spec/utxo.tex
  alonzo/formal-spec/value-size.tex
Owners: @polinavino, @WhatisRT

valContext fix
  alonzo/formal-spec/utxo.tex
Owners: @polinavino, @WhatisRT

Specification for serialization
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/cddl-files/alonzo.cddl
  alonzo/impl/cddl-files/mock/crypto.cddl
  alonzo/impl/cddl-files/mock/extras.cddl
  alonzo/impl/cddl/alonzo.cddl
  alonzo/impl/src/Cardano/Ledger/Alonzo/Data.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxBody.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxSeq.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxWitness.hs
  alonzo/impl/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/Serialisation/CDDL.hs
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/Serialisation/Tripping.hs
  alonzo/impl/test/test/Tests.hs
  nix/haskell.nix
  semantics/executable-spec/src/Data/Coders.hs
Owners: @devops, @TimSheard

multi signatures formal definition
  shelley/chain-and-ledger/formal-spec/crypto-details.tex
  shelley/chain-and-ledger/formal-spec/references.bib
Owners: @jcorduan, @polinavino

bug fix: do not fold over range in applyRUpd
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
Owners: none

augmenting the preservation of ada error msg
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/PropertyTests.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rules/TestChain.hs
Owners: none

Moved VRF abstraction to crypto primitives section (#2233)
  shelley/chain-and-ledger/formal-spec/chain.tex
  shelley/chain-and-ledger/formal-spec/crypto-primitives.tex
  shelley/chain-and-ledger/formal-spec/ledger-spec.tex
Owners: @jcorduan, @polinavino

section title should be there
  shelley/chain-and-ledger/formal-spec/crypto-details.tex
Owners: @jcorduan, @polinavino

Multi-signatures formal definition (#2236)
  shelley/chain-and-ledger/formal-spec/crypto-details.tex
  shelley/chain-and-ledger/formal-spec/references.bib
Owners: @jcorduan, @polinavino

Remove work around
  .github/workflows/haskell.yml
Owners: @devops

golden for min-utxo
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/Golden.hs
Owners: none

extra min-utxo golden
  shelley-ma/shelley-ma-test/test/Test/Cardano/Ledger/Mary/Golden.hs
Owners: none

deps
  alonzo/impl/src/Cardano/Ledger/Alonzo/PParams.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/Golden.hs
  shelley-ma/shelley-ma-test/cardano-ledger-shelley-ma-test.cabal
Owners: none

min-utxo doc
  doc/explanations/min-utxo.rst
  shelley-ma/shelley-ma-test/test/Test/Cardano/Ledger/Mary/Golden.hs
Owners: none

test
  shelley-ma/shelley-ma-test/test/Test/Cardano/Ledger/Mary/Golden.hs
Owners: none

min-utxo doc
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/Golden.hs
Owners: none

alonzo min-utxo tests pass
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/Golden.hs
  alonzo/impl/test/test/Tests.hs
  doc/explanations/min-utxo.rst
  shelley-ma/shelley-ma-test/cardano-ledger-shelley-ma-test.cabal
  shelley-ma/shelley-ma-test/src/Test/Cardano/Ledger/Mary/Golden.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/shelley-spec-ledger-test.cabal
Owners: none

ormolu
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/Golden.hs
  alonzo/impl/test/test/Tests.hs
  shelley-ma/shelley-ma-test/cardano-ledger-shelley-ma-test.cabal
  shelley-ma/shelley-ma-test/src/Test/Cardano/Ledger/Mary/Golden.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/shelley-spec-ledger-test.cabal
Owners: none

rm text
  alonzo/impl/cardano-ledger-alonzo.cabal
Owners: none

rm text
  shelley-ma/shelley-ma-test/cardano-ledger-shelley-ma-test.cabal
Owners: none

leave a thunk in the Mark snapshot
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/EpochBoundary.hs
Owners: none

Force the evaluation of the mark snapshot
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Tick.hs
Owners: none

Benchmarks for 'aggregateUTxOCoinByCredential'
  cardano-ledger-test/bench/Bench/Cardano/Ledger/EpochBoundary.hs
  cardano-ledger-test/bench/Main.hs
  cardano-ledger-test/cardano-ledger-test.cabal
Owners: none

Minor performance improvements in UTxO aggregation
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/EpochBoundary.hs
Owners: none

Bump cardano-base dependency
  cabal.project
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Utils.hs
Owners: none

upgrade plutus
  cabal.project
Owners: none

Replaced FakePlutus with RealPlutus
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo/Data.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/FakePlutus.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  alonzo/impl/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
Owners: none

Replaced Language.PlutusTx with PlutusTx, from rebasing on master.
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/Golden.hs
Owners: none

Check length plutus bytestring data, and double check some tests.
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Data.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/PParams.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxBody.hs
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/Serialisation/Tripping.hs
  cardano-ledger-test/bench/Bench/Cardano/Ledger/ApplyTx.hs
  semantics/executable-spec/src/Data/Coders.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/Mempool.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/CompactAddr.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/shelley-spec-ledger-test.cabal
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rewards.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rules/TestChain.hs
Owners: @TimSheard

Store SystemStart in Globals.
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Pretty.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/BaseTypes.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Genesis.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/bench/BenchValidation.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Utils.hs
Owners: none

rename ExUnitsTooSmallUTxO to ExUnitsTooBigUTxO
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
Owners: none

Alonzo UTXOW examples
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/cddl-files/alonzo.cddl
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  alonzo/impl/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/Examples/Utxow.hs
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/Serialisation/Tripping.hs
  alonzo/impl/test/test/Tests.hs
Owners: none

align spec with code
  alonzo/formal-spec/alonzo-changes.tex
  alonzo/formal-spec/constants.tex
  alonzo/formal-spec/introduction.tex
  alonzo/formal-spec/ledger.tex
  alonzo/formal-spec/properties.tex
  alonzo/formal-spec/protocol-parameters.tex
  alonzo/formal-spec/references.bib
  alonzo/formal-spec/transactions.tex
  alonzo/formal-spec/utxo.tex
  alonzo/formal-spec/value-size.tex
Owners: @polinavino, @WhatisRT

align spec with code
  alonzo/formal-spec/alonzo-changes.tex
  alonzo/formal-spec/introduction.tex
  alonzo/formal-spec/protocol-parameters.tex
  alonzo/formal-spec/references.bib
  alonzo/formal-spec/transactions.tex
Owners: @polinavino, @WhatisRT

Run ormolu in Github Actions instead
  .buildkite/pipeline.yml
  .github/workflows/ormolu.yml
  scripts/ormolise.sh
Owners: @devops

Small Shelley design spec fix
  shelley/design-spec/delegation_design_spec.tex
Owners: none

CODEOWNERS:

# code owners are automatically assigned to review PRs

# Shelley Design Spec
shelley/design_spec/ @kantp @brunjlar @dcoutts

# Formal Specs
shelley/chain-and-ledger/formal-spec/ @jcorduan @polinavino
shelley-ma/formal-spec/ @polinavino @WhatisRT
alonzo/formal-spec/ @polinavino @WhatisRT

# CDDL
shelley/chain-and-ledger/shelley-spec-ledger-test/cddl-files/ @redxaxder
shelley-ma/shelley-ma-test/cddl-files/                        @redxaxder

# Set Algebra
semantics/executable-spec/src/Control/Iterate/      @TimSheard
semantics/executable-spec/src/Control/Provenance.hs @TimSheard
semantics/executable-spec/src/Control/SetAlgebra.hs @TimSheard

# Coders library for CBOR encoding and decoding
semantics/executable-spec/src/Data/Coders.hs @TimSheard

# Devops
.buildkite @devops
.github    @devops
nix        @devops
*.nix      @devops
bors.toml  @devops
