Repository IntersectMBO/cardano-ledger, changes with the owners that CODEOWNERS names for each.
All owners: @mgudemann, @JaredCorduan, @kantp, @nc6, @ruhatch, @mdimjasevic, @dnadales

Benchmark exponentiation function
  dependencies/non-integer/app/Main.hs
Owners: @mgudemann

Benchmark exponentiation function
  dependencies/non-integer/app/Main.hs
Owners: @mgudemann

[#188] Implement rules for update endorsement
  cardano-chain.cabal
  src/Cardano/Chain/Update/Validation/Endorsement.hs
  src/Cardano/Chain/Update/Validation/Registration.hs
  src/Cardano/Chain/Update/Validation/Voting.hs
Owners: none

Remove dangling TODO.
  src/Cardano/Chain/Common/BlockCount.hs
Owners: none

Implement `isConfirmedAndStable` [skip ci]
  src/Cardano/Chain/Common/BlockCount.hs
  src/Cardano/Chain/Update/Validation/Endorsement.hs
Owners: none

Fix golden tests.
  cardano-chain.cabal
  src/Cardano/Chain/Common/BlockCount.hs
  src/Cardano/Chain/Common/BlockCount/JSON.hs
Owners: none

Replace `getBlockCount` by `unBlockCount`.
  src/Cardano/Chain/Common/BlockCount.hs
  src/Cardano/Chain/ProtocolConstants.hs
  src/Cardano/Chain/Update/Validation/Endorsement.hs
Owners: none

Update src/Cardano/Chain/Update/Validation/Endorsement.hs
  src/Cardano/Chain/Update/Validation/Endorsement.hs
Owners: none

Update src/Cardano/Chain/Update/Validation/Endorsement.hs
  src/Cardano/Chain/Update/Validation/Endorsement.hs
Owners: none

Appease our mechanic Overlord :raised_hands:
  src/Cardano/Chain/Delegation/Validation.hs
  src/Cardano/Chain/Update/Validation/Endorsement.hs
Owners: none

Bring the endorsement implementation in line with the latest version of the specs.
  src/Cardano/Chain/Delegation/Validation.hs
  src/Cardano/Chain/Update/Validation/Endorsement.hs
Owners: none

Use the total number of genesis keys when computing the adoption threshold.
  src/Cardano/Chain/Update/Validation/Endorsement.hs
Owners: none

I just did what you told me Lord! Why are you still mad at me!
  src/Cardano/Chain/Update/Validation/Endorsement.hs
Owners: none

Revert the change to `getBlockCount`. [skip ci]
  cardano-chain.cabal
  src/Cardano/Chain/Common/BlockCount.hs
  src/Cardano/Chain/Common/BlockCount/JSON.hs
  src/Cardano/Chain/ProtocolConstants.hs
  src/Cardano/Chain/Update/Validation/Endorsement.hs
Owners: none

Incorporate Nick's comments.
  src/Cardano/Chain/Update/Validation/Endorsement.hs
  src/Cardano/Chain/Update/Validation/Interface.hs
Owners: none

Correct typo in `update nonce rules`
  latex/chain.tex
Owners: @JaredCorduan, @mgudemann

Correct typo in `update nonce rules`
  latex/chain.tex
Owners: @JaredCorduan, @mgudemann

Update the `canAdopt` function to use other protocol parameters.
  src/Cardano/Chain/Update/Validation/Endorsement.hs
Owners: none

chain level reward updates in shelley ledger spec
  latex/chain.tex
  latex/crypto-primitives.tex
  latex/epoch.tex
  latex/intro.tex
  latex/references.bib
Owners: @JaredCorduan, @mgudemann

chain level reward updates in shelley ledger spec
  latex/chain.tex
  latex/crypto-primitives.tex
  latex/epoch.tex
  latex/intro.tex
  latex/references.bib
Owners: @JaredCorduan, @mgudemann

Disable nix-tools.tests.cardano-chain.cardano-chain-test.x86_64-darwin
  release.nix
Owners: none

Weeder `delegation` - remove unnecessary build dependencies
  hs/delegation.cabal
Owners: @mgudemann, @JaredCorduan

Weeder `delegation` - remove unnecessary build dependencies
  hs/delegation.cabal
Owners: @mgudemann, @JaredCorduan

Weeder `cs-ledger` - remove unnessecary build dependencies
  specs/ledger/hs/cs-ledger.cabal
Owners: @nc6, @dnadales

Weeder `cs-ledger` - remove unnessecary build dependencies
  specs/ledger/hs/cs-ledger.cabal
Owners: @nc6, @dnadales

Weeder `small-steps` - remove unnecessary build dependencies
  specs/semantics/hs/small-steps.cabal
Owners: @nc6, @dnadales

Weeder `small-steps` - remove unnecessary build dependencies
  specs/semantics/hs/small-steps.cabal
Owners: @nc6, @dnadales

Weeder `cs-blockchain` - remove unnecessary build dependencies
  specs/chain/hs/cs-blockchain.cabal
Owners: @nc6, @mdimjasevic

Weeder `cs-blockchain` - remove unnecessary build dependencies
  specs/chain/hs/cs-blockchain.cabal
Owners: @nc6, @mdimjasevic

Update issue templates
  .github/ISSUE_TEMPLATE/custom.md
Owners: none

Drop servant dependency
  cardano-chain.cabal
  src/Cardano/Chain/Slotting/EpochIndex.hs
Owners: none

Use `Integer` for `Coin` values instead of `Natural`
  hs/src/Coin.hs
  hs/src/LedgerState.hs
  hs/src/PParams.hs
  hs/src/UTxO.hs
  hs/test/Generator.hs
  hs/test/Mutator.hs
  hs/test/PropertyTests.hs
Owners: @mgudemann, @JaredCorduan

Use `Integer` for `Coin` values instead of `Natural`
  hs/src/Coin.hs
  hs/src/LedgerState.hs
  hs/src/PParams.hs
  hs/src/UTxO.hs
  hs/test/Generator.hs
  hs/test/Mutator.hs
  hs/test/PropertyTests.hs
Owners: @mgudemann, @JaredCorduan

Update custom.md
  .github/ISSUE_TEMPLATE/custom.md
Owners: none

[#356] Remove AddrStakeDistribution
  cardano-chain.cabal
  src/Cardano/Chain/Common.hs
  src/Cardano/Chain/Common/AddrAttributes.hs
  src/Cardano/Chain/Common/AddrStakeDistribution.hs
  src/Cardano/Chain/Common/Address.hs
  src/Cardano/Chain/Genesis/Generate.hs
  test/Test/Cardano/Chain/Common/Example.hs
  test/Test/Cardano/Chain/Common/Gen.hs
  test/Test/Cardano/Chain/Txp/Example.hs
  test/golden/json/txp/TxpConfiguration2
Owners: none

Use correct TxFeePolicy
  test/Test/Cardano/Chain/Elaboration/Block.hs
  test/Test/Cardano/Chain/Txp/Bi.hs
  test/Test/Cardano/Chain/Txp/Gen.hs
Owners: none

Benchmark `exp` using pre-computed `ln x`
  dependencies/non-integer/app/Main.hs
Owners: @mgudemann

Benchmark `exp` using pre-computed `ln x`
  dependencies/non-integer/app/Main.hs
Owners: @mgudemann

Remove cardano-chain-test.x86_64-darwin from required hydra jobs
  release.nix
Owners: none

- Implement the UPIREG rule. - Implement the UPIVOTE rule.
  cardano-chain.cabal
  src/Cardano/Chain/Update/Validation/Interface.hs
  src/Cardano/Chain/Update/Validation/Registration.hs
  src/Cardano/Chain/Update/Validation/Voting.hs
Owners: none

CODEOWNERS:

# code owners are automatically assigned to review PRs

# The goal is to not have more than 2 people responsible to avoid having too
# many reviewers which often leads to nobody feeling responsible to actually
# perform the review.

dependencies/non-integer/ @mgudemann
docs/delegation_design_spec/ @JaredCorduan @kantp
hs/ @mgudemann @JaredCorduan
latex/ @JaredCorduan @mgudemann
nix/ @nc6 @ruhatch
scripts/ @nc6 @ruhatch
specs/chain/ @nc6 @mdimjasevic
specs/ledger/ @nc6 @dnadales
specs/semantics/ @nc6 @dnadales
