Repository IntersectMBO/cardano-ledger, changes with the owners that CODEOWNERS names for each.
All owners: @mgudemann, @JaredCorduan, @kantp, @nc6, @ruhatch, @mdimjasevic, @dnadales

CODEOWNERS:

# code owners are automatically assigned to review PRs

# The goal is to not have more than 2 people responsible to avoid having too
# many reviewers which often leads to nobody feeling responsible to actually
# perform the review.

shelley/chain-and-ledger/dependencies/non-integer/ @mgudemann
shelley/design_spec/ @JaredCorduan @kantp
shelley/chain-and-ledger/executable-spec/ @mgudemann @JaredCorduan
shelley/chain-and-ledger/formal-spec/ @JaredCorduan @mgudemann
nix/ @nc6 @ruhatch
scripts/ @nc6 @ruhatch
byron/chain/ @nc6 @mdimjasevic
byron/ledger/ @nc6 @dnadales
byron/semantics/ @nc6 @dnadales

- Reorganize the chain spec so that the related transition system definitions are closer to each other. - Correct error where I was not using `s_last`.
  byron/chain/formal-spec/blockchain-spec.tex
Owners: @nc6, @mdimjasevic

- Reorganize the chain spec so that the related transition system definitions are closer to each other. - Correct error where I was not using `s_last`.
  byron/chain/formal-spec/blockchain-spec.tex
Owners: @nc6, @mdimjasevic

Move bulk chain validation to a package
  cabal.project
  cardano-ledger.cabal
  nix/.stack.nix/bulk-chain-validation.nix
  stack.yaml
  validate-mainnet/LICENSE
  validate-mainnet/README.md
  validate-mainnet/app/Features/Blockchain.hs
  validate-mainnet/app/Main.hs
  validate-mainnet/bulk-chain-validation.cabal
Owners: @nc6, @ruhatch

Add UTxO and Update to mainnet tests
  cardano-ledger.cabal
  src/Cardano/Chain/Block/Block.hs
  src/Cardano/Chain/Block/Header.hs
  src/Cardano/Chain/Block/Validation.hs
  src/Cardano/Chain/Delegation.hs
  src/Cardano/Chain/Delegation/Validation.hs
  src/Cardano/Chain/Delegation/Validation/Activation.hs
  src/Cardano/Chain/Delegation/Validation/Interface.hs
  src/Cardano/Chain/Delegation/Validation/Scheduling.hs
  src/Cardano/Chain/Txp/UTxO.hs
  src/Cardano/Chain/Txp/Validation.hs
  src/Cardano/Chain/Update/Validation/Endorsement.hs
  src/Cardano/Chain/Update/Validation/Interface.hs
  src/Cardano/Chain/Update/Validation/Registration.hs
  src/Cardano/Chain/Update/Validation/Voting.hs
  src/Cardano/Chain/Update/Vote.hs
  test/Test/Cardano/Chain/Txp/Validation.hs
  test/test.hs
  validate-mainnet/app/Features/Blockchain.hs
Owners: none

[#400] Run nix-tools generation
  nix/.stack.nix/cardano-ledger-test.nix
  nix/.stack.nix/cardano-ledger.nix
Owners: @nc6, @ruhatch

[#400] Rename for CBOR split
  cardano-ledger.cabal
  test/Test/Cardano/Chain/Common/CBOR.hs
  test/Test/Cardano/Chain/Slotting/CBOR.hs
  test/cardano-ledger-test.cabal
  test/test.hs
Owners: none

adding RTS flag to view stats in EKG view on http://localhost:12788
  validate-mainnet/bulk-chain-validation.cabal
Owners: none

[#363] Document TestScenario scaling
  README.md
Owners: none

Incorporate Ru's comments: remove unused `pps` in `DELEG` rule.
  byron/chain/formal-spec/blockchain-spec.tex
  byron/ledger/formal-spec/blockchain-interface.tex
  byron/ledger/formal-spec/delegation.tex
Owners: @nc6, @mdimjasevic, @dnadales

Incorporate Ru's comments: remove unused `pps` in `DELEG` rule.
  byron/chain/formal-spec/blockchain-spec.tex
  byron/ledger/formal-spec/blockchain-interface.tex
  byron/ledger/formal-spec/delegation.tex
Owners: @nc6, @mdimjasevic, @dnadales

Add `-synctex=1` to delegation spec Makfile
  shelley/design-spec/Makefile
Owners: none

Add `-synctex=1` to delegation spec Makfile
  shelley/design-spec/Makefile
Owners: none

Bump iohk-nix, use newer stack resolver.
  .stack-to-nix.cache
  iohk-nix.json
  nix/.stack.nix/canonical-json.nix
  nix/.stack.nix/cardano-crypto.nix
  nix/.stack.nix/cborg.nix
  nix/.stack.nix/cs-blockchain.nix
  nix/.stack.nix/cs-ledger.nix
  nix/.stack.nix/default.nix
  nix/.stack.nix/delegation.nix
  nix/.stack.nix/hedgehog.nix
  nix/.stack.nix/non-integer.nix
  nix/.stack.nix/small-steps.nix
  nix/default.nix
  stack.yaml
Owners: @nc6, @ruhatch

Bump iohk-nix, use newer stack resolver.
  .stack-to-nix.cache
  iohk-nix.json
  nix/.stack.nix/canonical-json.nix
  nix/.stack.nix/cardano-crypto.nix
  nix/.stack.nix/cborg.nix
  nix/.stack.nix/cs-blockchain.nix
  nix/.stack.nix/cs-ledger.nix
  nix/.stack.nix/default.nix
  nix/.stack.nix/delegation.nix
  nix/.stack.nix/hedgehog.nix
  nix/.stack.nix/non-integer.nix
  nix/.stack.nix/small-steps.nix
  nix/default.nix
  stack.yaml
Owners: @nc6, @ruhatch

- Declare `k` and `t` as abstract functions and remove them from the chain environment.
  byron/chain/formal-spec/blockchain-spec.tex
Owners: @nc6, @mdimjasevic

- Declare `k` and `t` as abstract functions and remove them from the chain environment.
  byron/chain/formal-spec/blockchain-spec.tex
Owners: @nc6, @mdimjasevic

remove the old reward pot, total pot to reward pot
  shelley/chain-and-ledger/formal-spec/epoch.tex
  shelley/chain-and-ledger/formal-spec/intro.tex
  shelley/chain-and-ledger/formal-spec/properties.tex
Owners: @JaredCorduan, @mgudemann

remove the old reward pot, total pot to reward pot
  shelley/chain-and-ledger/formal-spec/epoch.tex
  shelley/chain-and-ledger/formal-spec/intro.tex
  shelley/chain-and-ledger/formal-spec/properties.tex
Owners: @JaredCorduan, @mgudemann

adding boostrap addresses
  shelley/chain-and-ledger/formal-spec/address.tex
  shelley/chain-and-ledger/formal-spec/ledger-spec.tex
Owners: @JaredCorduan, @mgudemann

adding boostrap addresses
  shelley/chain-and-ledger/formal-spec/address.tex
  shelley/chain-and-ledger/formal-spec/ledger-spec.tex
Owners: @JaredCorduan, @mgudemann

Make `ngk` an abstract function and remove it from the environment.
  byron/chain/formal-spec/blockchain-spec.tex
Owners: @nc6, @mdimjasevic

Make `ngk` an abstract function and remove it from the environment.
  byron/chain/formal-spec/blockchain-spec.tex
Owners: @nc6, @mdimjasevic

Finish moving environment constants to abstract functions in the ledger spec.
  byron/chain/formal-spec/blockchain-spec.tex
  byron/ledger/formal-spec/blockchain-interface.tex
  byron/ledger/formal-spec/delegation.tex
  byron/ledger/formal-spec/update-mechanism.tex
Owners: @nc6, @mdimjasevic, @dnadales

Finish moving environment constants to abstract functions in the ledger spec.
  byron/chain/formal-spec/blockchain-spec.tex
  byron/ledger/formal-spec/blockchain-interface.tex
  byron/ledger/formal-spec/delegation.tex
  byron/ledger/formal-spec/update-mechanism.tex
Owners: @nc6, @mdimjasevic, @dnadales

- Correct what's mentioned [here](https://github.com/input-output-hk/cardano-ledger-specs/issues/365#issuecomment-482100743)
  byron/chain/formal-spec/blockchain-spec.tex
Owners: @nc6, @mdimjasevic

- Correct what's mentioned [here](https://github.com/input-output-hk/cardano-ledger-specs/issues/365#issuecomment-482100743)
  byron/chain/formal-spec/blockchain-spec.tex
Owners: @nc6, @mdimjasevic

Remove accounting transition properties
  shelley/chain-and-ledger/formal-spec/properties.tex
Owners: @JaredCorduan, @mgudemann

Remove accounting transition properties
  shelley/chain-and-ledger/formal-spec/properties.tex
Owners: @JaredCorduan, @mgudemann

Derive a Semigroup instance for PairSet
  byron/ledger/executable-spec/src/Ledger/Core.hs
  byron/ledger/executable-spec/src/Ledger/Update.hs
Owners: @nc6, @dnadales

Derive a Semigroup instance for PairSet
  byron/ledger/executable-spec/src/Ledger/Core.hs
  byron/ledger/executable-spec/src/Ledger/Update.hs
Owners: @nc6, @dnadales

Replace Map with Bimap in the delegation state
  byron/chain/executable-spec/cs-blockchain.cabal
  byron/chain/executable-spec/src/Cardano/Spec/Chain/STS/Rule/BHead.hs
  byron/chain/executable-spec/src/Cardano/Spec/Chain/STS/Rule/Chain.hs
  byron/chain/executable-spec/src/Cardano/Spec/Chain/STS/Rule/SigCnt.hs
  byron/ledger/executable-spec/cs-ledger.cabal
  byron/ledger/executable-spec/src/Ledger/Core.hs
  byron/ledger/executable-spec/src/Ledger/Delegation.hs
  byron/ledger/executable-spec/test/Ledger/Delegation/Examples.hs
  byron/ledger/executable-spec/test/Ledger/Delegation/Properties.hs
  nix/.stack.nix/cs-blockchain.nix
  nix/.stack.nix/cs-ledger.nix
Owners: @nc6, @mdimjasevic, @dnadales, @ruhatch

Replace Map with Bimap in the delegation state
  byron/chain/executable-spec/cs-blockchain.cabal
  byron/chain/executable-spec/src/Cardano/Spec/Chain/STS/Rule/BHead.hs
  byron/chain/executable-spec/src/Cardano/Spec/Chain/STS/Rule/Chain.hs
  byron/chain/executable-spec/src/Cardano/Spec/Chain/STS/Rule/SigCnt.hs
  byron/ledger/executable-spec/cs-ledger.cabal
  byron/ledger/executable-spec/src/Ledger/Core.hs
  byron/ledger/executable-spec/src/Ledger/Delegation.hs
  byron/ledger/executable-spec/test/Ledger/Delegation/Examples.hs
  byron/ledger/executable-spec/test/Ledger/Delegation/Properties.hs
  nix/.stack.nix/cs-blockchain.nix
  nix/.stack.nix/cs-ledger.nix
Owners: @nc6, @mdimjasevic, @dnadales, @ruhatch

Use dom rather than Map.keysSet in definition of union override
  byron/ledger/executable-spec/src/Ledger/Core.hs
Owners: @nc6, @dnadales

Use dom rather than Map.keysSet in definition of union override
  byron/ledger/executable-spec/src/Ledger/Core.hs
Owners: @nc6, @dnadales

Use dom rather than Map.keysSet in Ledger.UTxO.utxoInductive
  byron/ledger/executable-spec/src/Ledger/UTxO.hs
Owners: @nc6, @dnadales

Use dom rather than Map.keysSet in Ledger.UTxO.utxoInductive
  byron/ledger/executable-spec/src/Ledger/UTxO.hs
Owners: @nc6, @dnadales

Update Environments to match latest specifications
  src/Cardano/Chain/Block/Validation.hs
  src/Cardano/Chain/Delegation/Validation/Interface.hs
  src/Cardano/Chain/Delegation/Validation/Scheduling.hs
  src/Cardano/Chain/Update/Validation/Interface.hs
  src/Cardano/Chain/Update/Validation/Interface/ProtocolVersionBump.hs
Owners: none

Update mainnet mirror to epoch 112
  cabal.project
  stack.yaml
Owners: none
