Repository IntersectMBO/cardano-ledger, changes with the owners that CODEOWNERS names for each.
All owners: @kantp, @brunjlar, @dcoutts, @jcorduan, @polinavino, @WhatisRT, @redxaxder, @TimSheard, @devops

CODEOWNERS:

# code owners are automatically assigned to review PRs

# Shelley Design Spec
shelley/design_spec/ @kantp @brunjlar @dcoutts

# Formal Specs
shelley/chain-and-ledger/formal-spec/ @jcorduan @polinavino
shelley-ma/formal-spec/ @polinavino @WhatisRT
alonzo/formal-spec/ @polinavino @WhatisRT

# CDDL
shelley/chain-and-ledger/shelley-spec-ledger-test/cddl-files/ @redxaxder
shelley-ma/shelley-ma-test/cddl-files/                        @redxaxder

# Set Algebra
semantics/executable-spec/src/Control/Iterate/      @TimSheard
semantics/executable-spec/src/Control/Provenance.hs @TimSheard
semantics/executable-spec/src/Control/SetAlgebra.hs @TimSheard

# Coders library for CBOR encoding and decoding
semantics/executable-spec/src/Data/Coders.hs @TimSheard

# Devops
.buildkite @devops
.github    @devops
nix        @devops
*.nix      @devops
bors.toml  @devops

expand MissingRequiredDatums failure details
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/Examples/TwoPhaseValidation.hs
Owners: none

allow pool influence (a0) to be zero
  shelley/chain-and-ledger/formal-spec/frontmatter.tex
  shelley/chain-and-ledger/formal-spec/protocol-parameters.tex
Owners: @jcorduan, @polinavino

Update to a more recent Plutus repo version
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  cabal.project
Owners: none

Fix Plutus compilation issues
  cabal.project
Owners: none

Add missing sha in cabal.project
  cabal.project
Owners: none

Don't generate negative constructor tags
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
Owners: none

new predicate for non-output supplimentary datums
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/Examples/TwoPhaseValidation.hs
Owners: none

Remove invalid flag conditional from the cabal file introduced in 5aef7374
  shelley/chain-and-ledger/dependencies/non-integer/shelley-spec-non-integral.cabal
Owners: none

Fix potential memory leak
  cardano-ledger-core/src/Cardano/Ledger/Val.hs
Owners: none

Initial implementation of `SubCoin`
  alonzo/impl/src/Cardano/Ledger/Alonzo/PParams.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/AlonzoEraGen.hs
  cardano-ledger-core/cardano-ledger-core.cabal
  cardano-ledger-core/src/Cardano/Ledger/Coin.hs
  cardano-ledger-core/src/Cardano/Ledger/Val.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Pretty.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/shelley-spec-ledger-test.cabal
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/EraIndepGenerators.hs
Owners: none

Update CDDL for prices
  alonzo/test/cddl-files/alonzo.cddl
Owners: none

ormolise
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
Owners: none

Fix broken link to extended utxo spec. Make bibtex entry better.
  alonzo/formal-spec/frontmatter.tex
  alonzo/formal-spec/introduction.tex
  alonzo/formal-spec/references.bib
  shelley-ma/formal-spec/references.bib
  shelley/chain-and-ledger/dependencies/non-integer/doc/references.bib
  shelley/chain-and-ledger/formal-spec/multi-sig.tex
  shelley/chain-and-ledger/formal-spec/references.bib
  shelley/chain-and-ledger/formal-spec/scripts-multicurrency.tex
  shelley/design-spec/references.bib
Owners: @polinavino, @WhatisRT, @jcorduan

Switch to ceiling rounding for SubCoin
  cardano-ledger-core/src/Cardano/Ledger/Coin.hs
Owners: none

ormolize
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/AlonzoEraGen.hs
Owners: none

Revert coerce change
  cardano-ledger-core/src/Cardano/Ledger/Val.hs
Owners: none

Haddocks for the reward calculation provenance
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/RewardProvenance.hs
Owners: none

Add comment to cddl spec
  alonzo/test/cddl-files/alonzo.cddl
Owners: none

Bound SubCoin during deserialization. Remove Val instance
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/AlonzoEraGen.hs
  cardano-ledger-core/src/Cardano/Ledger/Coin.hs
  cardano-ledger-core/src/Cardano/Ledger/Val.hs
Owners: none

cardano-ledger-core: parameterize the type of epochInfoWithError
  cardano-ledger-core/src/Cardano/Ledger/BaseTypes.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Pretty.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/Types.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/Validation.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/Wallet.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Chain.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Deleg.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Pool.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Upec.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Trace/Chain.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Utils.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/Federation.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/PoolLifetime.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/PoolReReg.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/TwoPools.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rewards.hs
Owners: none

added discussion of enterprise addresses and token locking
  voltaire/design-doc/goals.tex
  voltaire/design-doc/introduction.tex
  voltaire/design-doc/notes.tex
Owners: none

Restrict poolmetadata hash starting at PV 5
  cardano-ledger-test/src/Test/Cardano/Ledger/Examples/TwoPhaseValidation.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Pool.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/SoftForks.hs
Owners: none

put txInfo inside a monad
  alonzo/impl/src/Cardano/Ledger/Alonzo/PlutusScriptApi.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/Examples/TwoPhaseValidation.hs
Owners: none

make Language bounded and indexable
  alonzo/impl/src/Cardano/Ledger/Alonzo/Language.hs
Owners: none

have totalDeposits take predicate instead of pools
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Rules/Utxo.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Utxo.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/UTxO.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Trace/DCert.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Utxo.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rules/TestChain.hs
Owners: none

trace calls to 'discard'.
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Trials.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Utxo.hs
Owners: none

Adjusted the max number of disscards that can be toleratedon the relevantCasesAreCovered test.
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Trials.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/PropertyTests.hs
Owners: none

reverting use of the optimized isBootstrapRedeemer
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/CompactAddr.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Address/CompactAddr.hs
Owners: none

fixed typos that prevented build.
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/PropertyTests.hs
Owners: none

use bounded integer values
  alonzo/test/cddl-files/alonzo.cddl
Owners: none

Remove dead code
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Trials.hs
Owners: none

Simplify by using `Set.map`
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
Owners: none

Fix a missing check for empty datums. This was a mismatch with the spec
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
Owners: none

Fix test cases to ensure that supplimentary datum affect wppHash value
  cardano-ledger-test/src/Test/Cardano/Ledger/Examples/TwoPhaseValidation.hs
Owners: none

Improve test failure reporting
  semantics/small-steps-test/src/Control/State/Transition/Trace.hs
Owners: none

Avoid redefining available function
  alonzo/impl/src/Cardano/Ledger/Alonzo/PParams.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/PParams.hs
Owners: none

Test cases that depict problematic behavior with UnitInterval
  cardano-ledger-core/src/Cardano/Ledger/BaseTypes.hs
  cardano-ledger-test/cardano-ledger-test.cabal
  cardano-ledger-test/src/Test/Cardano/Ledger/BaseTypesSpec.hs
  cardano-ledger-test/test/Tests.hs
Owners: none

Remove invalid flag conditional from the cabal file introduced in 5aef7374
  shelley/chain-and-ledger/dependencies/non-integer/shelley-spec-non-integral.cabal
Owners: none

Switch `Prices` to `NonNegativeInterval`. Rename `scriptfee` to `txscriptfee`
  alonzo/impl/src/Cardano/Ledger/Alonzo/PParams.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/AlonzoEraGen.hs
Owners: none

Update CDDL to reflect prices as fractionals
  alonzo/test/cddl-files/alonzo.cddl
Owners: none
