Repository IntersectMBO/cardano-ledger, changes with the owners that CODEOWNERS names for each.
All owners: @kantp, @brunjlar, @dcoutts, @jcorduan, @polinavino, @WhatisRT, @redxaxder, @TimSheard, @devops

Reproduce doctest error
  README.md
Owners: none

Enable doctests. Disable other tests
  alonzo/impl/cardano-ledger-alonzo.cabal
  byron/chain/executable-spec/byron-spec-chain.cabal
  byron/crypto/cardano-crypto-wrapper.cabal
  byron/ledger/executable-spec/byron-spec-ledger.cabal
  byron/ledger/executable-spec/test/DoctestDiscover.hs
  byron/ledger/impl/cardano-ledger-byron.cabal
  semantics/executable-spec/small-steps.cabal
  semantics/executable-spec/test/DoctestDiscover.hs
  semantics/small-steps-test/small-steps-test.cabal
  semantics/small-steps-test/test/DoctestDiscover.hs
  shelley-ma/shelley-ma-test/cardano-ledger-shelley-ma-test.cabal
  shelley/chain-and-ledger/dependencies/non-integer/shelley-spec-non-integral.cabal
  shelley/chain-and-ledger/shelley-spec-ledger-test/shelley-spec-ledger-test.cabal
Owners: none

add reqSignerHashes to Alonzo tx body
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxBody.hs
  alonzo/impl/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
Owners: none

Added the file TxInfo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
Owners: none

Added module Cardano.Ledger.Alonzo.FakePlutus
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo/Data.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/FakePlutus.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
Owners: none

ormolise
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
Owners: none

Added module RunPlutus, wrote function valContext.
  alonzo/impl/src/Cardano/Ledger/Alonzo/RunPlutus.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
Owners: none

Added to FakePlutus
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo/FakePlutus.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/RunPlutus.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
Owners: none

Added the type Context and ScriptPurpose to FakePlutus.
  alonzo/impl/src/Cardano/Ledger/Alonzo/FakePlutus.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/PlutusScriptApi.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
Owners: none

Added transValue, imported Plutus data and the IsData class.
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
Owners: none

WIP began writing transTx:: Tx era -> Plutus.TxInfo
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
Owners: none

Cleaned up, Added comments
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/PlutusScriptApi.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  alonzo/impl/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
Owners: none

ormolise
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
Owners: none

Renamed RunPlutus, completed ValidateScript, evalScripts.
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/PlutusScriptApi.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/RunPlutus.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Timelocks.hs
Owners: none

Addressed comments by Alex, Jared, and Polina
  alonzo/impl/src/Cardano/Ledger/Alonzo/FakePlutus.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/PlutusScriptApi.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
Owners: none

Downgrade cabal file version to 2.4 because 3.0 is incompatible with stack
  alonzo/impl/cardano-ledger-alonzo.cabal
  cardano-ledger-test/cardano-ledger-test.cabal
Owners: none

AddedPlutusScriptAPI, evalScripts, TxInfo, valContext etc. (#2192)
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Data.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/FakePlutus.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/PlutusScriptApi.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  alonzo/impl/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Timelocks.hs
Owners: none

Encode a Plutus Script as a ShortByteString
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo/PlutusScriptApi.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
Owners: none

Add FromCBOR/ToCBOR instances for Config and related types
  byron/crypto/src/Cardano/Crypto/ProtocolMagic.hs
  byron/crypto/src/Cardano/Crypto/Signing/Redeem/Compact.hs
  byron/ledger/impl/src/Cardano/Chain/Genesis/AvvmBalances.hs
  byron/ledger/impl/src/Cardano/Chain/Genesis/Config.hs
  byron/ledger/impl/src/Cardano/Chain/Genesis/Data.hs
  byron/ledger/impl/src/Cardano/Chain/Genesis/Delegation.hs
  byron/ledger/impl/src/Cardano/Chain/Genesis/KeyHashes.hs
  byron/ledger/impl/src/Cardano/Chain/Genesis/NonAvvmBalances.hs
  byron/ledger/impl/src/Cardano/Chain/UTxO/UTxOConfiguration.hs
  cabal.project
Owners: none

Export Adapots
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Chain.hs
Owners: none

Use wire encoding of redeemers in WitnessPPData
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo/Language.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/PParams.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxWitness.hs
  alonzo/impl/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/Serialisation/Tripping.hs
Owners: none

Use Strict datatypes from `strict-containers`.
  alonzo/impl/cardano-ledger-alonzo.cabal
  cabal.project
  semantics/executable-spec/small-steps.cabal
  semantics/executable-spec/src/Control/Provenance.hs
  semantics/executable-spec/src/Data/Coders.hs
  semantics/executable-spec/src/Data/MemoBytes.hs
  semantics/small-steps-test/small-steps-test.cabal
  shelley-ma/impl/cardano-ledger-shelley-ma.cabal
  shelley-ma/shelley-ma-test/cardano-ledger-shelley-ma-test.cabal
  shelley/chain-and-ledger/executable-spec/shelley-spec-ledger.cabal
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/BaseTypes.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Orphans.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/shelley-spec-ledger-test.cabal
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Delegation.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/EraGen.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Utxo.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/EraIndepGenerators.hs
Owners: @TimSheard

Extract common things to `cardano-ledger-core`.
  cabal.project
  cardano-ledger-core/CHANGELOG.md
  cardano-ledger-core/cardano-ledger-core.cabal
  cardano-ledger-core/src/Cardano/Ledger/AuxiliaryData.hs
  cardano-ledger-core/src/Cardano/Ledger/Coin.hs
  cardano-ledger-core/src/Cardano/Ledger/Compactible.hs
  cardano-ledger-core/src/Cardano/Ledger/Core.hs
  cardano-ledger-core/src/Cardano/Ledger/Crypto.hs
  cardano-ledger-core/src/Cardano/Ledger/Era.hs
  cardano-ledger-core/src/Cardano/Ledger/Hashes.hs
  cardano-ledger-core/src/Cardano/Ledger/SafeHash.hs
  cardano-ledger-core/src/Cardano/Ledger/Val.hs
  hie.yaml
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Torsor.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Scripts.hs
Owners: none

Remove error calls, export type families from Era defining modules.
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  alonzo/impl/src/Cardano/Ledger/DescribeEras.hs
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/Serialisation/Tripping.hs
  cardano-ledger-core/src/Cardano/Ledger/Crypto.hs
  shelley-ma/impl/src/Cardano/Ledger/Allegra.hs
  shelley-ma/impl/src/Cardano/Ledger/Mary.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA.hs
  shelley/chain-and-ledger/executable-spec/shelley-spec-ledger.cabal
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Shelley.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Serialisation/Golden/Address.hs
Owners: none

ormolise after rebasing on master.
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Data.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
Owners: none

Restructured Alonzo.AuxiliaryData so its simiar in shape to Mary.AuxiliaryData
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Data.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
Owners: none

maxValSize in bytes
  alonzo/formal-spec/protocol-parameters.tex
  alonzo/formal-spec/utxo.tex
  shelley-ma/formal-spec/chain.tex
  shelley-ma/formal-spec/properties.tex
  shelley-ma/formal-spec/utxo.tex
  shelley-ma/formal-spec/value-size.tex
  shelley-ma/formal-spec/value.tex
Owners: @polinavino, @WhatisRT

add maxValPerc, min-value calc
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo/PParams.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
  cardano-ledger-core/src/Cardano/Ledger/Val.hs
  shelley-ma/impl/cardano-ledger-shelley-ma.cabal
  shelley-ma/impl/src/Cardano/Ledger/Mary/Value.hs
Owners: none

Rebased on top of master,
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/DescribeEras.hs
  cardano-ledger-core/cardano-ledger-core.cabal
  shelley/chain-and-ledger/executable-spec/shelley-spec-ledger.cabal
Owners: none

cardano-ledger-shelley-ma: Expose TxBody fields via pattern
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/TxBody.hs
  shelley-ma/shelley-ma-test/src/Test/Cardano/Ledger/Mary.hs
Owners: none

comment
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
Owners: none

comment
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
Owners: none

Remove error calls, export type families from Era defining modules. (#2209)
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Data.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  alonzo/impl/src/Cardano/Ledger/DescribeEras.hs
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/Serialisation/Tripping.hs
  cardano-ledger-core/cardano-ledger-core.cabal
  cardano-ledger-core/src/Cardano/Ledger/Crypto.hs
  shelley-ma/impl/src/Cardano/Ledger/Allegra.hs
  shelley-ma/impl/src/Cardano/Ledger/Mary.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Shelley.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Serialisation/Golden/Address.hs
Owners: none

cardano-ledger-shelley-ma: Expose TxBody fields via pattern (#2191)
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/TxBody.hs
  shelley-ma/shelley-ma-test/src/Test/Cardano/Ledger/Mary.hs
Owners: none

add scripts needed size check
  alonzo/formal-spec/alonzo-changes.xdv
  alonzo/formal-spec/utxo.tex
Owners: @polinavino, @WhatisRT

filter out plutus scripts for phase 1 validation
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
Owners: none

spec updates
  alonzo/formal-spec/transactions.tex
  alonzo/formal-spec/utxo.tex
Owners: @polinavino, @WhatisRT

txinfo
  alonzo/formal-spec/alonzo-changes.xdv
  alonzo/formal-spec/txinfo.tex
  alonzo/formal-spec/utxo.tex
Owners: @polinavino, @WhatisRT

Upgrade to cabal-3.4.0.0
  .github/workflows/haskell.yml
Owners: @devops

checkRedeemers
  alonzo/formal-spec/utxo.tex
Owners: @polinavino, @WhatisRT

CODEOWNERS:

# code owners are automatically assigned to review PRs

# Shelley Design Spec
shelley/design_spec/ @kantp @brunjlar @dcoutts

# Formal Specs
shelley/chain-and-ledger/formal-spec/ @jcorduan @polinavino
shelley-ma/formal-spec/ @polinavino @WhatisRT
alonzo/formal-spec/ @polinavino @WhatisRT

# CDDL
shelley/chain-and-ledger/shelley-spec-ledger-test/cddl-files/ @redxaxder
shelley-ma/shelley-ma-test/cddl-files/                        @redxaxder

# Set Algebra
semantics/executable-spec/src/Control/Iterate/      @TimSheard
semantics/executable-spec/src/Control/Provenance.hs @TimSheard
semantics/executable-spec/src/Control/SetAlgebra.hs @TimSheard

# Coders library for CBOR encoding and decoding
semantics/executable-spec/src/Data/Coders.hs @TimSheard

# Devops
.buildkite @devops
.github    @devops
nix        @devops
*.nix      @devops
bors.toml  @devops
