Repository IntersectMBO/cardano-ledger, changes with the owners that CODEOWNERS names for each.
All owners: @kantp, @brunjlar, @dcoutts, @jcorduan, @polinavino, @WhatisRT, @redxaxder, @TimSheard, @devops

add a more coherent (less random) block generator
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/EraIndepGenerators.hs
Owners: none

Added all the missing property tests to Alonzo
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/AlonzoEraGen.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Utxo.hs
Owners: none

checkInstantaneousRewards test to handle alonzo
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/AlonzoEraGen.hs
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Trials.hs
  alonzo/test/test/Tests.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Rules/Utxo.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Trace/Ledger.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Utxo.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rules/TestChain.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rules/TestDeleg.hs
Owners: none

Adding some instances needed for consensus.
  alonzo/impl/src/Cardano/Ledger/Alonzo/Translation.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Shelley.hs
Owners: none

cleanup, revert ShelleyMA Utxo file
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Trials.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Rules/Utxo.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Utxo.hs
Owners: none

add isBootstrapRedeemer for CompactAddr
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/CompactAddr.hs
Owners: none

add test for isBootstrapRedeemer for CompactAddr
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Address/CompactAddr.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/PropertyTests.hs
Owners: none

use new isBootstrapRedeemer
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
Owners: none

small cleanup
  alonzo/formal-spec/utxo.tex
  alonzo/impl/src/Cardano/Ledger/Alonzo/PParams.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxWitness.hs
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
Owners: @polinavino, @WhatisRT

Added comments to the Utxo rule.
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
Owners: none

re-export Plutus' validateCostModelParams
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
Owners: none

Added more comments, stylized as written in Specification.
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Bbody.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Utxow.hs
Owners: none

Enable the Alonzo nightly tests, disable Byron
  .buildkite/nightly-tests.sh
  alonzo/test/test/Tests.hs
Owners: @devops

Added comments to the Utxo rule. (#2286)
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Bbody.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Utxow.hs
Owners: none

optimize the performance of isBootstrapRedeemer (#2284)
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/CompactAddr.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Address/CompactAddr.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/PropertyTests.hs
Owners: none

rename metadata_hash in cddl
  alonzo/test/cddl-files/alonzo.cddl
Owners: none

enlarged diagrams
  voltaire/design-doc/StoryBoard2.pdf
  voltaire/design-doc/StoryBoard2.pptx
  voltaire/design-doc/introduction.tex
  voltaire/design-doc/todo.tex
  voltaire/design-doc/transition.tex
Owners: none

Add To/From CBOR instances for AlonzoGenesis
  alonzo/impl/src/Cardano/Ledger/Alonzo/Translation.hs
Owners: none

Bump Plutus to latest version.
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Examples/Utxow.hs
  cabal.project
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rules/TestDeleg.hs
Owners: none

All Plutus imports from Plutus.V1.Ledger.Api
  alonzo/test/cardano-ledger-alonzo-test.cabal
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Examples/Utxow.hs
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Golden.hs
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Serialisation/Tripping.hs
Owners: none

Implement 'CanStartFromGenesis' for Alonzo.
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Genesis.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/PParams.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Translation.hs
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Translation.hs
Owners: none

remove some typeclasses
  semantics/executable-spec/src/Control/State/Transition/Extended.hs
Owners: none

hacky
  semantics/executable-spec/small-steps.cabal
  semantics/executable-spec/src/Control/State/Transition/Extended.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Pool.hs
Owners: none

let it build
  semantics/executable-spec/src/Control/State/Transition/Extended.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Pool.hs
Owners: none

exports
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  semantics/executable-spec/src/Control/State/Transition/Extended.hs
Owners: none

style
  semantics/executable-spec/src/Control/State/Transition/Extended.hs
Owners: none

push back event policy
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  cardano-ledger-core/src/Cardano/Ledger/Rules/ValidationMode.hs
  semantics/executable-spec/src/Control/State/Transition/Extended.hs
  semantics/small-steps-test/src/Control/State/Transition/Trace.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Utils.hs
Owners: none

non-trivial plutus script example
  alonzo/test/cardano-ledger-alonzo-test.cabal
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Examples/Utxow.hs
  cabal.project
Owners: none

use explicit budget for plutus script examples
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Examples/Utxow.hs
Owners: none

example illustration reward cycle image in spec
  shelley/chain-and-ledger/formal-spec/epoch.tex
  shelley/chain-and-ledger/formal-spec/frontmatter.tex
Owners: @jcorduan, @polinavino

add Event to STS typeclass
  byron/chain/executable-spec/src/Byron/Spec/Chain/STS/Rule/BBody.hs
  byron/chain/executable-spec/src/Byron/Spec/Chain/STS/Rule/Bupi.hs
  byron/chain/executable-spec/src/Byron/Spec/Chain/STS/Rule/Chain.hs
  byron/chain/executable-spec/src/Byron/Spec/Chain/STS/Rule/Epoch.hs
  byron/chain/executable-spec/src/Byron/Spec/Chain/STS/Rule/Pbft.hs
  byron/chain/executable-spec/src/Byron/Spec/Chain/STS/Rule/SigCnt.hs
  byron/ledger/executable-spec/src/Byron/Spec/Ledger/Delegation.hs
  byron/ledger/executable-spec/src/Byron/Spec/Ledger/STS/UTXO.hs
  byron/ledger/executable-spec/src/Byron/Spec/Ledger/STS/UTXOW.hs
  byron/ledger/executable-spec/src/Byron/Spec/Ledger/STS/UTXOWS.hs
  byron/ledger/executable-spec/src/Byron/Spec/Ledger/Update.hs
  byron/ledger/executable-spec/test/Test/Byron/Spec/Ledger/Delegation/Properties.hs
  byron/ledger/executable-spec/test/Test/Byron/Spec/Ledger/Update/Properties.hs
  semantics/executable-spec/src/Control/State/Transition/Extended.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Bbody.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Chain.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Deleg.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Delegs.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Delpl.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Epoch.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Ledger.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Ledgers.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Mir.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/NewEpoch.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Newpp.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Ocert.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Overlay.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Pool.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/PoolReap.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Ppup.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Prtcl.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Rupd.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Snap.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Tick.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Tickn.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Updn.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Upec.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Utxo.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Utxow.hs
Owners: none

rn wrapEvents
  byron/chain/executable-spec/src/Byron/Spec/Chain/STS/Rule/BBody.hs
  byron/chain/executable-spec/src/Byron/Spec/Chain/STS/Rule/Bupi.hs
  byron/chain/executable-spec/src/Byron/Spec/Chain/STS/Rule/Chain.hs
  byron/chain/executable-spec/src/Byron/Spec/Chain/STS/Rule/Epoch.hs
  byron/chain/executable-spec/src/Byron/Spec/Chain/STS/Rule/Pbft.hs
  byron/ledger/executable-spec/src/Byron/Spec/Ledger/Delegation.hs
  byron/ledger/executable-spec/src/Byron/Spec/Ledger/STS/UTXOW.hs
  byron/ledger/executable-spec/src/Byron/Spec/Ledger/STS/UTXOWS.hs
  byron/ledger/executable-spec/src/Byron/Spec/Ledger/Update.hs
  byron/ledger/executable-spec/test/Test/Byron/Spec/Ledger/Delegation/Properties.hs
  byron/ledger/executable-spec/test/Test/Byron/Spec/Ledger/Update/Properties.hs
  semantics/executable-spec/src/Control/State/Transition/Extended.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Bbody.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Chain.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Delegs.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Delpl.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Epoch.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Ledger.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Ledgers.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/NewEpoch.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Overlay.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Prtcl.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Tick.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Upec.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Utxo.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Utxow.hs
Owners: none

ormolise
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Bbody.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Chain.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Ledger.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/NewEpoch.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Pool.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Prtcl.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Tick.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Upec.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Utxo.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Utxow.hs
Owners: none

translate slots to POSIX for plutus
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  cabal.project
Owners: none

Use plutus library serializations for Data
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo/Data.hs
  alonzo/test/cddl-files/alonzo.cddl
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Serialisation/Tripping.hs
Owners: none

finish instances
  semantics/small-steps-test/test/Control/State/Transition/Examples/CommitReveal.hs
  semantics/small-steps-test/test/Control/State/Transition/Examples/GlobalSum.hs
  semantics/small-steps-test/test/Control/State/Transition/Examples/Sum.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Rules/Utxo.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Rules/Utxow.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Ledger.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Trace/DCert.hs
Owners: none

formatting
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Ledger.hs
Owners: none

Introduces era parmetric Fields, and updaters
  alonzo/test/cardano-ledger-alonzo-test.cabal
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Examples.hs
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Examples/Bbody.hs
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Examples/Utxow.hs
  alonzo/test/test/Tests.hs
  cardano-ledger-test/cardano-ledger-test.cabal
  cardano-ledger-test/src/Test/Cardano/Ledger/Examples/TwoPhaseValidation.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/Generic/Indexed.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/Generic/Proof.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/Generic/Updaters.hs
  cardano-ledger-test/test/Tests.hs
Owners: none

doctest
  semantics/small-steps-test/src/Control/State/Transition/Trace.hs
Owners: none

doctest
  semantics/small-steps-test/src/Control/State/Transition/Trace.hs
Owners: none

CODEOWNERS:

# code owners are automatically assigned to review PRs

# Shelley Design Spec
shelley/design_spec/ @kantp @brunjlar @dcoutts

# Formal Specs
shelley/chain-and-ledger/formal-spec/ @jcorduan @polinavino
shelley-ma/formal-spec/ @polinavino @WhatisRT
alonzo/formal-spec/ @polinavino @WhatisRT

# CDDL
shelley/chain-and-ledger/shelley-spec-ledger-test/cddl-files/ @redxaxder
shelley-ma/shelley-ma-test/cddl-files/                        @redxaxder

# Set Algebra
semantics/executable-spec/src/Control/Iterate/      @TimSheard
semantics/executable-spec/src/Control/Provenance.hs @TimSheard
semantics/executable-spec/src/Control/SetAlgebra.hs @TimSheard

# Coders library for CBOR encoding and decoding
semantics/executable-spec/src/Data/Coders.hs @TimSheard

# Devops
.buildkite @devops
.github    @devops
nix        @devops
*.nix      @devops
bors.toml  @devops
