Repository IntersectMBO/cardano-ledger, changes with the owners that CODEOWNERS names for each.
All owners: @kantp, @brunjlar, @dcoutts, @jcorduan, @polinavino, @WhatisRT, @redxaxder, @TimSheard, @devops

Added missing instances, Generalized ValidateScript class.
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxBody.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Timelocks.hs
  shelley-ma/shelley-ma-test/test/Test/Cardano/Ledger/ShelleyMA/Serialisation/Golden/Encoding.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Shelley.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Address.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/BlockChain.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Scripts.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Tx.hs
Owners: none

Added a start on the Utxow rules.
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Data.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxBody.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Rules/Utxo.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Rules/Utxow.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/AuxiliaryData.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Era.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Shelley.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Shelley/Constraints.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Utxo.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Utxow.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Tx.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/UTxO.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/PropertyTests.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rules/ClassifyTraces.hs
Owners: none

Moved the class ValidateScript, Roundtrip tests on PredicateFailures
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/Serialisation/Tripping.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA.hs
  shelley-ma/shelley-ma-test/src/Test/Cardano/Ledger/Allegra.hs
  shelley-ma/shelley-ma-test/src/Test/Cardano/Ledger/Mary.hs
  shelley-ma/shelley-ma-test/test/Test/Cardano/Ledger/ShelleyMA/Serialisation/Golden/Encoding.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Era.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Shelley.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Address.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/BlockChain.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Scripts.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Tx.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Delegation.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/EraGen.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/ScriptClass.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Utxo.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/EraIndepGenerators.hs
Owners: none

Completed the Utxow rule, Completed Alonzo Scripts.
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo/Data.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Rules/Utxow.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Utxow.hs
Owners: none

changed include to input
  voltaire/design-doc/param-update.tex
Owners: none

added notes file
  voltaire/design-doc/notes.tex
  voltaire/design-doc/param-update.tex
Owners: none

separated changelog
  voltaire/design-doc/changelog.tex
  voltaire/design-doc/frontmatter.tex
Owners: none

split off changelog file
  voltaire/design-doc/frontmatter.tex
Owners: none

Half way through addressing comments
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/Serialisation/Tripping.hs
  cabal.project
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/AuxiliaryData.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/TxBody.hs
Owners: none

Remove an unevaluated thunk in RewardPulser
  semantics/executable-spec/src/Data/Pulse.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Pretty.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/RewardUpdate.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rewards.hs
Owners: none

Completed addressing comments, changed project file to get latest plutus code.
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/Serialisation/Tripping.hs
  cabal.project
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/TxBody.hs
Owners: none

Remove problematic apt-get repository
  .github/workflows/haskell.yml
Owners: @devops

Generalized DelegsEnv, Added Alonzo ledger rule.
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Ledger.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Delegs.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Ledger.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Trace/Ledger.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/PropertyTests.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rules/TestChain.hs
Owners: none

minor edit
  voltaire/design-doc/todo.tex
Owners: none

remove annotators from PParams FromCBOR instances
  alonzo/impl/src/Cardano/Ledger/Alonzo/PParams.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Scripts.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxBody.hs
  alonzo/impl/test/test/Test/Cardano/Ledger/Alonzo/Serialisation/Tripping.hs
  cardano-ledger-test/bench/Bench/Cardano/Ledger/ApplyTx.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/TxBody.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Shelley/Constraints.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/Validation.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/PParams.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/TxBody.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Serialisation/CDDL.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Serialisation/Golden/Encoding.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Serialisation/Tripping/CBOR.hs
Owners: none

Alternative way of running doctests
  .github/workflows/haskell.yml
Owners: @devops

Update index-state
  byron/chain/executable-spec/byron-spec-chain.cabal
  byron/crypto/cardano-crypto-wrapper.cabal
  byron/crypto/test/cardano-crypto-test.cabal
  byron/ledger/executable-spec/byron-spec-ledger.cabal
  byron/ledger/impl/cardano-ledger-byron.cabal
  byron/ledger/impl/test/cardano-ledger-byron-test.cabal
  cabal.project
  semantics/small-steps-test/small-steps-test.cabal
  shelley/chain-and-ledger/shelley-spec-ledger-test/shelley-spec-ledger-test.cabal
Owners: none

Fix doctest errors
  .github/workflows/haskell.yml
  byron/ledger/executable-spec/src/Byron/Spec/Ledger/Update.hs
  semantics/executable-spec/src/Control/State/Transition/Extended.hs
  semantics/executable-spec/src/Data/AbstractSize.hs
  semantics/small-steps-test/src/Control/State/Transition/Trace.hs
Owners: @devops

Remove ghc-8.6.5 from Github Actions build. Relax lowerbound for hedgehog because the version of ormolu we use requires a snapshot that doesn't include hedgehog-1.0.5 yet
  .github/workflows/haskell.yml
  byron/chain/executable-spec/byron-spec-chain.cabal
  byron/crypto/cardano-crypto-wrapper.cabal
  byron/crypto/test/cardano-crypto-test.cabal
  byron/ledger/executable-spec/byron-spec-ledger.cabal
  byron/ledger/impl/cardano-ledger-byron.cabal
  byron/ledger/impl/test/cardano-ledger-byron-test.cabal
  cabal.project
  semantics/small-steps-test/small-steps-test.cabal
  shelley/chain-and-ledger/shelley-spec-ledger-test/shelley-spec-ledger-test.cabal
Owners: @devops

ux.pdf
  voltaire/design-doc/ux.pdf
Owners: none

ux.pdf
  voltaire/design-doc/ux.pdf
Owners: none

Minor fix to Alonzo spec
  alonzo/formal-spec/transactions.tex
Owners: @polinavino, @WhatisRT

Added the new type family Core.Witnesses,
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Core.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Shelley.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/BlockChain.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Bbody.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Tx.hs
Owners: none

Fixed the missing (PreAlonzo era) in tests
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Bbody.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/EmptyBlock.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/TwoPools.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Serialisation/Golden/Encoding.hs
Owners: none

Generalized DelegsEnv, Added prototype Alonzo ledger rule.
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Ledger.hs
Owners: none

Decided how to interpret the four Bytes fields in TxSeq
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Era.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Shelley.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/BlockChain.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Bbody.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Core.hs
Owners: none

Added many Core.Tx ~ Tx, because of changes to BlockChain, mostly in tests.
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Bbody.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/BlockChain.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Block.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Core.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Trace/Chain.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/EraIndepGenerators.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/PropertyTests.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rules/ClassifyTraces.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rules/TestChain.hs
Owners: none

wip
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/BlockChain.hs
Owners: none

wip
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/BlockChain.hs
Owners: none

Adding ExUnit tests
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Bbody.hs
Owners: none

Fixed seriliaisation of blocks.
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Era.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/BlockChain.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Bbody.hs
Owners: none

Fixed the benchmark. Cleaned up BlockChain.hs.
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/BlockChain.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/bench/BenchValidation.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/bench/Shelley/Spec/Ledger/Bench/Gen.hs
Owners: none

Generalized TxSeq to take Core.Tx. Added prototype BBody rule for Alonzo.
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Bbody.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Core.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Era.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Shelley.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/BlockChain.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Bbody.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Ledger.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Tx.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Block.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Core.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Trace/Chain.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/EraIndepGenerators.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/PropertyTests.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rules/ClassifyTraces.hs
Owners: none

Addressed conversations on PR
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Bbody.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/BlockChain.hs
Owners: none

some edits
  alonzo/formal-spec/alonzo-changes.tex
  alonzo/formal-spec/chain.tex
  alonzo/formal-spec/frontmatter.tex
  alonzo/formal-spec/introduction.tex
  alonzo/formal-spec/protocol-parameters.tex
  alonzo/formal-spec/transactions.tex
  alonzo/formal-spec/utxo.tex
  alonzo/formal-spec/value-size.tex
Owners: @polinavino, @WhatisRT

Use new UtxoEnv type in Alonzo
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Ledger.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  shelley-ma/impl/src/Cardano/Ledger/Allegra.hs
  shelley-ma/impl/src/Cardano/Ledger/Mary.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Rules/Utxow.hs
  shelley-ma/shelley-ma-test/src/Test/Cardano/Ledger/ShelleyMA/Serialisation/Roundtrip.hs
  shelley-ma/shelley-ma-test/test/Test/Cardano/Ledger/Mary/Examples.hs
  shelley-ma/shelley-ma-test/test/Tests.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/Mempool.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/Validation.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Utxo.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Utxow.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/bench/BenchValidation.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/bench/Main.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/bench/Shelley/Spec/Ledger/Bench/Gen.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/bench/Shelley/Spec/Ledger/Bench/Rewards.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/BenchmarkFunctions.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Block.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Trace/Chain.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Utils.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rules/TestChain.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/UnitTests.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Tests.hs
Owners: none

Validate pool reward account net ID at major pv 5
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/HardForks.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Pool.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/shelley-spec-ledger-test.cabal
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/NetworkID.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/STSTests.hs
Owners: none

Alonzo BBody Rule and Generalized TxSeq
  alonzo/impl/cardano-ledger-alonzo.cabal
  alonzo/impl/src/Cardano/Ledger/Alonzo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Bbody.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Core.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Era.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Shelley.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/BlockChain.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Bbody.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Tx.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/bench/BenchValidation.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/bench/Shelley/Spec/Ledger/Bench/Gen.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Block.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Core.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Trace/Chain.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/EraIndepGenerators.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/EmptyBlock.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/TwoPools.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/PropertyTests.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rules/ClassifyTraces.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rules/TestChain.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Serialisation/Golden/Encoding.hs
Owners: none

fix timelocks and interval
  alonzo/formal-spec/alonzo-changes.tex
  alonzo/formal-spec/txinfo.tex
  alonzo/formal-spec/value-size.tex
  shelley-ma/formal-spec/TODO
  shelley-ma/formal-spec/frontmatter.tex
  shelley-ma/formal-spec/protocol-parameters.tex
  shelley-ma/formal-spec/shelley-ma.tex
  shelley-ma/formal-spec/timelock-language.tex
  shelley-ma/formal-spec/transactions.tex
  shelley-ma/formal-spec/utxo.tex
  shelley-ma/formal-spec/value-size.tex
  shelley-ma/formal-spec/value.tex
Owners: @polinavino, @WhatisRT

use wppHash instead of sdHash (variable name)
  alonzo/formal-spec/utxo.tex
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxBody.hs
Owners: @polinavino, @WhatisRT

CODEOWNERS:

# code owners are automatically assigned to review PRs

# Shelley Design Spec
shelley/design_spec/ @kantp @brunjlar @dcoutts

# Formal Specs
shelley/chain-and-ledger/formal-spec/ @jcorduan @polinavino
shelley-ma/formal-spec/ @polinavino @WhatisRT
alonzo/formal-spec/ @polinavino @WhatisRT

# CDDL
shelley/chain-and-ledger/shelley-spec-ledger-test/cddl-files/ @redxaxder
shelley-ma/shelley-ma-test/cddl-files/                        @redxaxder

# Set Algebra
semantics/executable-spec/src/Control/Iterate/      @TimSheard
semantics/executable-spec/src/Control/Provenance.hs @TimSheard
semantics/executable-spec/src/Control/SetAlgebra.hs @TimSheard

# Coders library for CBOR encoding and decoding
semantics/executable-spec/src/Data/Coders.hs @TimSheard

# Devops
.buildkite @devops
.github    @devops
nix        @devops
*.nix      @devops
bors.toml  @devops
