Repository IntersectMBO/cardano-ledger, changes with the owners that CODEOWNERS names for each.
All owners: @mgudemann, @JaredCorduan, @kantp, @nc6, @ruhatch, @mdimjasevic, @dnadales

Remove obsolete note
  shelley/chain-and-ledger/formal-spec/chain.tex
Owners: @JaredCorduan, @mgudemann

[285] Implement bulk chain validation with logging and UTxO size estimation
  .stack-to-nix.cache
  app/Features/Blockchain.hs
  app/Main.hs
  cardano-ledger.cabal
  configuration/log-configuration.yaml
  mainnet-genesis.json
  nix/.stack-pkgs.nix
  nix/.stack.nix/cardano-ledger.nix
  nix/.stack.nix/cardano-shell.nix
  nix/.stack.nix/cardano-sl-x509.nix
  nix/.stack.nix/contra-tracer.nix
  nix/.stack.nix/default.nix
  nix/.stack.nix/iohk-monitoring.nix
  src/Cardano/Chain/Block/Block.hs
  src/Cardano/Chain/Block/Validation.hs
  src/Cardano/Chain/Common/NetworkMagic.hs
  src/Cardano/Chain/Epoch/File.hs
  src/Cardano/Chain/Epoch/Validation.hs
  src/Cardano/Chain/Genesis/Config.hs
  src/Cardano/Chain/Genesis/Generate.hs
  src/Cardano/Chain/Txp/UTxO.hs
  stack.yaml
  test/Test/Cardano/Chain/Block/Validation.hs
  test/Test/Cardano/Chain/Config.hs
  test/Test/Cardano/Chain/Epoch/File.hs
  test/Test/Cardano/Chain/Txp/Validation.hs
Owners: @nc6, @ruhatch

Fix some typos / style changes
  shelley/design-spec/delegation_design_spec.tex
Owners: none

Fix some typos / style changes
  shelley/design-spec/delegation_design_spec.tex
Owners: none

[#363] Use scenario-configurable `withTestsTS` in a module
  test/Test/Cardano/Chain/Block/Bi.hs
  test/Test/Cardano/Chain/Common/Compact.hs
  test/test.hs
Owners: none

[#363] Use new scenario-configurable `eachOf` in one module
  stack.yaml
  test/Test/Cardano/Chain/Block/Bi.hs
  test/Test/Options.hs
  test/cardano-ledger-test.cabal
  test/test.hs
Owners: none

[#363] Print out TestScenario in test executable
  test/Test/Options.hs
  test/test.hs
Owners: none

[#363] Switch to using `ts_` stem for `TSProperty`s
  stack.yaml
  test/Test/Cardano/Chain/Block/Validation.hs
  test/Test/Cardano/Chain/Block/Validation/Spec.hs
  test/Test/Cardano/Chain/Common/Address.hs
  test/Test/Cardano/Chain/Common/Lovelace.hs
  test/Test/Cardano/Chain/Delegation/Bi.hs
  test/Test/Cardano/Chain/Elaboration/Delegation.hs
  test/Test/Cardano/Chain/Genesis/Json.hs
  test/Test/Cardano/Chain/Slotting/Properties.hs
  test/Test/Cardano/Chain/Txp/Bi.hs
  test/Test/Cardano/Chain/Txp/Compact.hs
  test/Test/Cardano/Chain/Txp/Json.hs
  test/Test/Cardano/Chain/Update/Bi.hs
  test/Test/Cardano/Chain/Update/Json.hs
  test/Test/Cardano/Chain/Update/Properties.hs
  test/test.hs
Owners: none

Adapt the meaning of `upAdpThd` to coincide with the actual implementation (#379)
  .gitignore
  byron/ledger/formal-spec/Makefile
  byron/ledger/formal-spec/blockchain-interface.tex
  byron/ledger/formal-spec/delegation.tex
  byron/ledger/formal-spec/notation.tex
  byron/ledger/formal-spec/update-mechanism.tex
Owners: @nc6, @dnadales

Adapt the meaning of `upAdpThd` to coincide with the actual implementation (#379)
  .gitignore
  byron/ledger/formal-spec/Makefile
  byron/ledger/formal-spec/blockchain-interface.tex
  byron/ledger/formal-spec/delegation.tex
  byron/ledger/formal-spec/notation.tex
  byron/ledger/formal-spec/update-mechanism.tex
Owners: @nc6, @dnadales

Run nix-tools generation
  .stack-to-nix.cache
  nix/.stack.nix/cardano-ledger-test.nix
  nix/.stack.nix/cardano-prelude-test.nix
  nix/.stack.nix/cardano-prelude.nix
  nix/.stack.nix/cardano-shell.nix
Owners: @nc6, @ruhatch

Integrate reviewer comments
  shelley/chain-and-ledger/formal-spec/epoch.tex
Owners: @JaredCorduan, @mgudemann

Integrate reviewer comments
  shelley/chain-and-ledger/formal-spec/epoch.tex
Owners: @JaredCorduan, @mgudemann

Remove reward pot to use total pot instead
  shelley/chain-and-ledger/formal-spec/epoch.tex
  shelley/chain-and-ledger/formal-spec/intro.tex
  shelley/chain-and-ledger/formal-spec/utxo.tex
Owners: @JaredCorduan, @mgudemann

Remove the note about total pot change
  shelley/chain-and-ledger/formal-spec/epoch.tex
Owners: @JaredCorduan, @mgudemann

Fix total/reward pot naming error
  shelley/chain-and-ledger/formal-spec/epoch.tex
  shelley/chain-and-ledger/formal-spec/intro.tex
  shelley/chain-and-ledger/formal-spec/utxo.tex
Owners: @JaredCorduan, @mgudemann

Make monetary expansion dependent on the number of blocks per epoch
  shelley/chain-and-ledger/formal-spec/epoch.tex
Owners: @JaredCorduan, @mgudemann

Make monetary expansion dependent on the number of blocks per epoch
  shelley/chain-and-ledger/formal-spec/epoch.tex
Owners: @JaredCorduan, @mgudemann

Changes requested during review by Aikaterina
  shelley/design-spec/delegation_design_spec.tex
Owners: none

Changes requested during review by Aikaterina
  shelley/design-spec/delegation_design_spec.tex
Owners: none

Add: Expose the validation state fields.
  src/Cardano/Chain/Block/Validation.hs
Owners: none

fixed Katerina's remark #8
  shelley/design-spec/delegation_design_spec.tex
Owners: none

fixed Katerina's remark #8
  shelley/design-spec/delegation_design_spec.tex
Owners: none

fixed Katerina's remark #10
  shelley/design-spec/delegation_design_spec.tex
Owners: none

fixed Katerina's remark #10
  shelley/design-spec/delegation_design_spec.tex
Owners: none

Fix arrows in the reward calc diagram
  shelley/chain-and-ledger/formal-spec/epoch.tex
Owners: @JaredCorduan, @mgudemann

Fix prose to not mention unrealized rewards any more.
  shelley/chain-and-ledger/formal-spec/epoch.tex
Owners: @JaredCorduan, @mgudemann

Fix prose to not mention unrealized rewards any more.
  shelley/chain-and-ledger/formal-spec/epoch.tex
Owners: @JaredCorduan, @mgudemann

Remove the epoch from the update interface state and transitions, since it is the chain layer who controls the epoch change now.
  byron/ledger/formal-spec/blockchain-interface.tex
Owners: @nc6, @dnadales

Remove the epoch from the update interface state and transitions, since it is the chain layer who controls the epoch change now.
  byron/ledger/formal-spec/blockchain-interface.tex
Owners: @nc6, @dnadales

Make previous hash of a boundary block an Either
  cardano-ledger.cabal
  src/Cardano/Chain/Block/Block.hs
  src/Cardano/Chain/Block/Validation.hs
  src/Cardano/Chain/Epoch/File.hs
  src/Cardano/Chain/Genesis/Hash.hs
  test/Test/Cardano/Chain/Block/Bi.hs
  test/Test/Cardano/Chain/Block/Validation.hs
  test/Test/Cardano/Chain/Elaboration/Block.hs
Owners: none

nix: Change stack compiler to ghc864, update iohk-nix
  iohk-nix.json
  scripts/nix/stack-shell.nix
Owners: @nc6, @ruhatch

Update dependencies
  cabal.project
  stack.yaml
Owners: none

- Make the Byron chain and ledger spec match. - Remove all references to `elens`.
  byron/chain/formal-spec/blockchain-spec.tex
  byron/ledger/formal-spec/update-mechanism.tex
Owners: @nc6, @mdimjasevic, @dnadales

- Make the Byron chain and ledger spec match. - Remove all references to `elens`.
  byron/chain/formal-spec/blockchain-spec.tex
  byron/ledger/formal-spec/update-mechanism.tex
Owners: @nc6, @mdimjasevic, @dnadales

- Add missing environments. - Change the type of `k` from `SlotCount` to `N` in the delegation environment declaration.
  byron/chain/formal-spec/blockchain-spec.tex
  byron/ledger/formal-spec/blockchain-interface.tex
  byron/ledger/formal-spec/delegation.tex
Owners: @nc6, @mdimjasevic, @dnadales

- Add missing environments. - Change the type of `k` from `SlotCount` to `N` in the delegation environment declaration.
  byron/chain/formal-spec/blockchain-spec.tex
  byron/ledger/formal-spec/blockchain-interface.tex
  byron/ledger/formal-spec/delegation.tex
Owners: @nc6, @mdimjasevic, @dnadales

Fix arrows in the reward calc diagram
  shelley/chain-and-ledger/formal-spec/epoch.tex
Owners: @JaredCorduan, @mgudemann

Adapt to revised incentives and remove moving average
  shelley/chain-and-ledger/executable-spec/src/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/STS/PoolReap.hs
Owners: @mgudemann, @JaredCorduan

Adapt to revised incentives and remove moving average
  shelley/chain-and-ledger/executable-spec/src/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/STS/PoolReap.hs
Owners: @mgudemann, @JaredCorduan

CODEOWNERS:

# code owners are automatically assigned to review PRs

# The goal is to not have more than 2 people responsible to avoid having too
# many reviewers which often leads to nobody feeling responsible to actually
# perform the review.

shelley/chain-and-ledger/dependencies/non-integer/ @mgudemann
shelley/design_spec/ @JaredCorduan @kantp
shelley/chain-and-ledger/executable-spec/ @mgudemann @JaredCorduan
shelley/chain-and-ledger/formal-spec/ @JaredCorduan @mgudemann
nix/ @nc6 @ruhatch
scripts/ @nc6 @ruhatch
byron/chain/ @nc6 @mdimjasevic
byron/ledger/ @nc6 @dnadales
byron/semantics/ @nc6 @dnadales
