Repository IntersectMBO/cardano-ledger, changes with the owners that CODEOWNERS names for each.
All owners: @kantp, @brunjlar, @dcoutts, @jcorduan, @polinavino, @WhatisRT, @redxaxder, @TimSheard, @devops

CODEOWNERS:

# code owners are automatically assigned to review PRs

# Shelley Design Spec
shelley/design_spec/ @kantp @brunjlar @dcoutts

# Formal Specs
shelley/chain-and-ledger/formal-spec/ @jcorduan @polinavino
shelley-ma/formal-spec/ @polinavino @WhatisRT
alonzo/formal-spec/ @polinavino @WhatisRT

# CDDL
shelley/chain-and-ledger/shelley-spec-ledger-test/cddl-files/ @redxaxder
shelley-ma/shelley-ma-test/cddl-files/                        @redxaxder

# Set Algebra
semantics/executable-spec/src/Control/Iterate/      @TimSheard
semantics/executable-spec/src/Control/Provenance.hs @TimSheard
semantics/executable-spec/src/Control/SetAlgebra.hs @TimSheard

# Coders library for CBOR encoding and decoding
semantics/executable-spec/src/Data/Coders.hs @TimSheard

# Devops
.buildkite @devops
.github    @devops
nix        @devops
*.nix      @devops
bors.toml  @devops

make minmax params an argument.
  cardano-ledger-test/src/Test/Cardano/Ledger/DependGraph.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/ModelChain/Properties.hs
Owners: none

redeemers check mistake
  alonzo/formal-spec/utxo.tex
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/Examples/TwoPhaseValidation.hs
Owners: @polinavino, @WhatisRT

absolutely minimum possible shrinking.
  cardano-ledger-test/src/Test/Cardano/Ledger/DependGraph.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/ModelChain.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/ModelChain/Properties.hs
Owners: none

better testing of evaluateTransactionFee
  cardano-ledger-test/src/Test/Cardano/Ledger/Examples/TwoPhaseValidation.hs
  cardano-ledger-test/test/Tests.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Fees.hs
Owners: none

bump plutus and fix breaking changes mainly updating ByteString to BuiltinByteString
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  cabal.project
Owners: none

remove duplicate entry in cabal.project
  cabal.project
Owners: none

Remove usage of MD5 in favor of Blake in testing
  cabal.project
  shelley-ma/shelley-ma-test/src/Test/Cardano/Ledger/EraBuffet.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Cardano/Crypto/VRF/Fake.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/ConcreteCryptoTypes.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Fees.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rewards.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/SafeHash.hs
Owners: none

Remove duplicate definitions of crypto types
  shelley-ma/shelley-ma-test/src/Test/Cardano/Ledger/EraBuffet.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/ConcreteCryptoTypes.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/SafeHash.hs
Owners: none

Fix Fees and GenesisShelley golden tests. Improve failed test reporting.
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/GoldenUtils.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Golden/ShelleyGenesis
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Fees.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Serialisation/Golden/Genesis.hs
Owners: none

Switch some golden tests to use StandardCrypto
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Fees.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Serialisation/Golden/Genesis.hs
Owners: none

Improve assertion on mismatched decoding. Fix Golden test
  cabal.project
  cardano-ledger-test/src/Test/Cardano/Ledger/Examples/TwoPhaseValidation.hs
  shelley-ma/shelley-ma-test/cardano-ledger-shelley-ma-test.cabal
  shelley-ma/shelley-ma-test/test/Test/Cardano/Ledger/ShelleyMA/Serialisation/Golden/Encoding.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/GoldenUtils.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Fees.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/SafeHash.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Serialisation/Golden/Encoding.hs
Owners: none

rename wpphash & friends to scriptIntegrityHash
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxBody.hs
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/AlonzoEraGen.hs
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/Examples/Consensus.hs
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
  cardano-ledger-core/src/Cardano/Ledger/Hashes.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/Examples/TwoPhaseValidation.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/Generic/Updaters.hs
Owners: none

Update to new Plutus ByteString type.
  alonzo/impl/src/Cardano/Ledger/Alonzo/Data.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  cabal.project
Owners: none

Rerun plutus-preprocessor and ormolise
  alonzo/impl/src/Cardano/Ledger/Alonzo/Data.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/PlutusScripts.hs
Owners: none

Bump plutus to an actual master commit
  cabal.project
Owners: none

Fix preprocessor
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/PlutusScripts.hs
  plutus-preprocessor/src/Main.hs
Owners: none

reward event
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Chain.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Epoch.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/NewEpoch.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Tick.hs
Owners: none

Small fixes & changes from the audit
  alonzo/formal-spec/chain.tex
  alonzo/formal-spec/properties.tex
  alonzo/formal-spec/protocol-parameters.tex
  alonzo/formal-spec/utxo.tex
  shelley/chain-and-ledger/formal-spec/chain.tex
Owners: @polinavino, @WhatisRT, @jcorduan

Rename txInfoForge
  alonzo/impl/src/Cardano/Ledger/Alonzo/Data.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  cabal.project
Owners: none

rename rewards event constructor
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/NewEpoch.hs
Owners: none

fix shrinking of epochs to work correctly
  cardano-ledger-test/src/Test/Cardano/Ledger/ModelChain/Properties.hs
Owners: none

Spell checking
  alonzo/formal-spec/introduction.tex
  alonzo/formal-spec/properties.tex
  alonzo/formal-spec/protocol-parameters.tex
  alonzo/formal-spec/transactions.tex
  alonzo/formal-spec/utxo.tex
Owners: @polinavino, @WhatisRT

Minor optimization
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxSeq.hs
Owners: none

Minor syntactic improvement
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/EraIndepGenerators.hs
Owners: none

Fix `Ord` instance for `WitVKey`
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
  cardano-ledger-core/src/Cardano/Ledger/Keys.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/TxBody.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Utxo.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/EraIndepGenerators.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Utils.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/PropertyTests.hs
Owners: none

Add a comment on peculiarities of Ord instance. Remove dead code
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/TxBody.hs
Owners: none

Rename txInfoForge
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  cabal.project
Owners: none

Sync Alonzo scriptsNeeded with Shelley
  alonzo/impl/src/Cardano/Ledger/Alonzo/PlutusScriptApi.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Tx.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/UTxO.hs
Owners: none

add events for applyRUpd rewards and totR + totT
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Mir.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/NewEpoch.hs
Owners: none

remove heapWords from size calculations
  alonzo/impl/src/Cardano/Ledger/Alonzo/Data.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  shelley-ma/impl/src/Cardano/Ledger/Mary/Value.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Rules/Utxo.hs
Owners: none

Add more event types (#2417)
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Ledger.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxo.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxos.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Rules/Utxo.hs
  shelley-ma/impl/src/Cardano/Ledger/ShelleyMA/Rules/Utxow.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Chain.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Deleg.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Epoch.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Mir.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/NewEpoch.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Ppup.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Prtcl.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Tick.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Updn.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Utxo.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Utxow.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/Combinators.hs
Owners: none

Remove usage of partial `decodeUtf8`
  byron/ledger/impl/src/Cardano/Chain/Common/Address.hs
  shelley-ma/impl/src/Cardano/Ledger/Mary/Value.hs
Owners: none

Remove usage of partial `decodeUtf8` (#2422)
  byron/ledger/impl/src/Cardano/Chain/Common/Address.hs
  shelley-ma/impl/src/Cardano/Ledger/Mary/Value.hs
Owners: none

Make AlonzoGenesis fields strict
  alonzo/impl/src/Cardano/Ledger/Alonzo/Genesis.hs
Owners: none

Shrank epochs down to transactions
  cardano-ledger-test/src/Test/Cardano/Ledger/ModelChain/Properties.hs
Owners: none

update plutus to alonzo/rc-1
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/PlutusScripts.hs
  cabal.project
Owners: none

Bump to alonzo/rc-2 and add sha for flat
  cabal.project
Owners: none

Reorganized some things to make mutual dependencies less likely when things are moved.
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Trials.hs
  cardano-ledger-test/src/Test/Cardano/Ledger/Examples/TwoPhaseValidation.hs
  shelley-ma/shelley-ma-test/test/Test/Cardano/Ledger/ShelleyMA/Serialisation/Golden/Encoding.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/TxBody.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/bench/BenchValidation.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/bench/Shelley/Spec/Ledger/Bench/Gen.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/bench/Shelley/Spec/Ledger/Bench/Rewards.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/BenchmarkFunctions.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/EraGen.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Presets.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/EraIndepGenerators.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Address/Bootstrap.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/GenesisDelegation.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/Mir.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/PoolLifetime.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/PoolReReg.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/TwoPools.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/Updates.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Fees.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/MultiSigExamples.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rules/ClassifyTraces.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rules/TestChain.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Serialisation/Golden/Encoding.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/UnitTests.hs
Owners: none

update plutus to alonzo/rc-2
  alonzo/test/cddl-files/alonzo.cddl
  alonzo/test/cddl-files/mock/extras.cddl
  alonzo/test/lib/Test/Cardano/Ledger/Alonzo/PlutusScripts.hs
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Serialisation/Tripping.hs
  cabal.project
Owners: none

moving alonzo trace classifier test to nightly
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Trials.hs
Owners: none
