Repository IntersectMBO/cardano-ledger, changes with the owners that CODEOWNERS names for each.
All owners: @kantp, @brunjlar, @dcoutts, @jcorduan, @polinavino, @WhatisRT, @redxaxder, @TimSheard, @devops

CODEOWNERS:

# code owners are automatically assigned to review PRs

# Shelley Design Spec
shelley/design_spec/ @kantp @brunjlar @dcoutts

# Formal Specs
shelley/chain-and-ledger/formal-spec/ @jcorduan @polinavino
shelley-ma/formal-spec/ @polinavino @WhatisRT
alonzo/formal-spec/ @polinavino @WhatisRT

# CDDL
shelley/chain-and-ledger/shelley-spec-ledger-test/cddl-files/ @redxaxder
shelley-ma/shelley-ma-test/cddl-files/                        @redxaxder

# Set Algebra
semantics/executable-spec/src/Control/Iterate/      @TimSheard
semantics/executable-spec/src/Control/Provenance.hs @TimSheard
semantics/executable-spec/src/Control/SetAlgebra.hs @TimSheard

# Coders library for CBOR encoding and decoding
semantics/executable-spec/src/Data/Coders.hs @TimSheard

# Devops
.buildkite @devops
.github    @devops
nix        @devops
*.nix      @devops
bors.toml  @devops

Introduce the notion of a Token algebra
  shelley-ma/formal-spec/introduction.tex
  shelley-ma/formal-spec/notation.tex
  shelley-ma/formal-spec/shelley-ma.tex
  shelley-ma/formal-spec/transactions.tex
  shelley-ma/formal-spec/utxo.tex
  shelley-ma/formal-spec/valmonoid-examples.tex
  shelley-ma/formal-spec/value.tex
Owners: @polinavino, @WhatisRT

Fix transaction cddl to include IsValid
  alonzo/test/cddl-files/alonzo.cddl
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Serialisation/CDDL.hs
Owners: none

Add a test that events are sufficiently lazy.
  semantics/small-steps-test/test/Control/State/Transition/Examples/GlobalSum.hs
Owners: none

Revert "Refactored RewardSnapShot, and added Pulsing to SnapShots."
  alonzo/impl/src/Cardano/Ledger/Alonzo/PlutusScriptApi.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Rules/Utxow.hs
  alonzo/impl/src/Cardano/Ledger/Alonzo/Translation.hs
  cardano-ledger-core/src/Cardano/Ledger/Era.hs
  example-shelley/src/Cardano/Ledger/Example/Translation.hs
  shelley-ma/impl/src/Cardano/Ledger/Allegra/Translation.hs
  shelley-ma/impl/src/Cardano/Ledger/Mary/Translation.hs
  shelley/chain-and-ledger/executable-spec/src/Cardano/Ledger/Pretty.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/API/Wallet.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/EpochBoundary.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/LedgerState.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/RewardUpdate.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Epoch.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/NewEpoch.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Snap.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Tick.hs
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/UTxO.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Trace/Chain.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/EraIndepGenerators.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/Combinators.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Serialisation/Golden/Encoding.hs
Owners: none

remove redundant imports
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Generator/Trace/Chain.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/src/Test/Shelley/Spec/Ledger/Serialisation/EraIndepGenerators.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Examples/Combinators.hs
Owners: none

RetiredPools event
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/PoolReap.hs
Owners: none

Bump cardano base
  cabal.project
Owners: none

associate accouns with rewards
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/PoolReap.hs
Owners: none

fix instances
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/Epoch.hs
Owners: none

use unionWith (<>)
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/PoolReap.hs
Owners: none

fix bullet points
  doc/explanations/token-bundles.rst
Owners: none

fix script example
  doc/explanations/features.rst
Owners: none

fix typo
  doc/explanations/faq.rst
Owners: none

fix typo
  doc/explanations/faq.rst
Owners: none

Fix for returning budget
  alonzo/impl/src/Cardano/Ledger/Alonzo/TxInfo.hs
  alonzo/test/test/Test/Cardano/Ledger/Alonzo/Examples.hs
  cabal.project
Owners: none

add `epochNo` to `RetiredPools`
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/STS/PoolReap.hs
Owners: none

fix typo in faq.rst
  doc/explanations/faq.rst
Owners: none

Few minor improvements and a fix for 'Reward Provenance' property test:
  shelley/chain-and-ledger/executable-spec/src/Shelley/Spec/Ledger/Rewards.hs
  shelley/chain-and-ledger/shelley-spec-ledger-test/test/Test/Shelley/Spec/Ledger/Rewards.hs
Owners: none

Rename `lib` -> `src`
  alonzo/test/cardano-ledger-alonzo-test.cabal
  alonzo/test/src/Test/Cardano/Ledger/Alonzo/AlonzoEraGen.hs
  alonzo/test/src/Test/Cardano/Ledger/Alonzo/Examples/Consensus.hs
  alonzo/test/src/Test/Cardano/Ledger/Alonzo/PlutusScripts.hs
  alonzo/test/src/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
  alonzo/test/src/Test/Cardano/Ledger/Alonzo/Trace.hs
Owners: none

Rename `shelley-ma/shelley-ma-test` -> `shelley-ma/test-suite`
  cabal.project
  shelley-ma/test-suite/.ghcid
  shelley-ma/test-suite/cardano-ledger-shelley-ma-test.cabal
  shelley-ma/test-suite/cddl-files/mock/crypto.cddl
  shelley-ma/test-suite/cddl-files/mock/extras.cddl
  shelley-ma/test-suite/cddl-files/real/crypto
  shelley-ma/test-suite/cddl-files/real/extras.cddl
  shelley-ma/test-suite/cddl-files/shelley-ma.cddl
  shelley-ma/test-suite/src/Test/Cardano/Ledger/Allegra/Examples/Consensus.hs
  shelley-ma/test-suite/src/Test/Cardano/Ledger/AllegraEraGen.hs
  shelley-ma/test-suite/src/Test/Cardano/Ledger/EraBuffet.hs
  shelley-ma/test-suite/src/Test/Cardano/Ledger/Mary/Examples/Consensus.hs
  shelley-ma/test-suite/src/Test/Cardano/Ledger/Mary/Golden.hs
  shelley-ma/test-suite/src/Test/Cardano/Ledger/MaryEraGen.hs
  shelley-ma/test-suite/src/Test/Cardano/Ledger/ShelleyMA/Serialisation/Coders.hs
  shelley-ma/test-suite/src/Test/Cardano/Ledger/ShelleyMA/Serialisation/Generators.hs
  shelley-ma/test-suite/src/Test/Cardano/Ledger/ShelleyMA/Serialisation/Roundtrip.hs
  shelley-ma/test-suite/src/Test/Cardano/Ledger/ShelleyMA/TxBody.hs
  shelley-ma/test-suite/src/Test/Cardano/Ledger/TranslationTools.hs
  shelley-ma/test-suite/test/Test/Cardano/Ledger/Allegra/ScriptTranslation.hs
  shelley-ma/test-suite/test/Test/Cardano/Ledger/Allegra/Translation.hs
  shelley-ma/test-suite/test/Test/Cardano/Ledger/Mary/Examples.hs
  shelley-ma/test-suite/test/Test/Cardano/Ledger/Mary/Examples/Cast.hs
  shelley-ma/test-suite/test/Test/Cardano/Ledger/Mary/Examples/MultiAssets.hs
  shelley-ma/test-suite/test/Test/Cardano/Ledger/Mary/Translation.hs
  shelley-ma/test-suite/test/Test/Cardano/Ledger/Mary/Value.hs
  shelley-ma/test-suite/test/Test/Cardano/Ledger/ShelleyMA/Serialisation.hs
  shelley-ma/test-suite/test/Test/Cardano/Ledger/ShelleyMA/Serialisation/CDDL.hs
  shelley-ma/test-suite/test/Test/Cardano/Ledger/ShelleyMA/Serialisation/Golden/Encoding.hs
  shelley-ma/test-suite/test/Test/Cardano/Ledger/ShelleyMA/Serialisation/Timelocks.hs
  shelley-ma/test-suite/test/Tests.hs
Owners: none

Rename `alonzo/test` -> `alonzo/test-suite`
  alonzo/test-suite/cardano-ledger-alonzo-test.cabal
  alonzo/test-suite/cddl-files/alonzo.cddl
  alonzo/test-suite/cddl-files/alonzo_extra.cddl
  alonzo/test-suite/cddl-files/mock/crypto.cddl
  alonzo/test-suite/cddl-files/mock/extras.cddl
  alonzo/test-suite/src/Test/Cardano/Ledger/Alonzo/AlonzoEraGen.hs
  alonzo/test-suite/src/Test/Cardano/Ledger/Alonzo/Examples/Consensus.hs
  alonzo/test-suite/src/Test/Cardano/Ledger/Alonzo/PlutusScripts.hs
  alonzo/test-suite/src/Test/Cardano/Ledger/Alonzo/Serialisation/Generators.hs
  alonzo/test-suite/src/Test/Cardano/Ledger/Alonzo/Trace.hs
  alonzo/test-suite/test/Test/Cardano/Ledger/Alonzo/Examples.hs
  alonzo/test-suite/test/Test/Cardano/Ledger/Alonzo/Golden.hs
  alonzo/test-suite/test/Test/Cardano/Ledger/Alonzo/PropertyTests.hs
  alonzo/test-suite/test/Test/Cardano/Ledger/Alonzo/Serialisation/CDDL.hs
  alonzo/test-suite/test/Test/Cardano/Ledger/Alonzo/Serialisation/Canonical.hs
  alonzo/test-suite/test/Test/Cardano/Ledger/Alonzo/Serialisation/Tripping.hs
  alonzo/test-suite/test/Test/Cardano/Ledger/Alonzo/Translation.hs
  alonzo/test-suite/test/Test/Cardano/Ledger/Alonzo/Trials.hs
  alonzo/test-suite/test/Tests.hs
  cabal.project
Owners: none

Move `plutus-preprocessor` -> `libraries/plutus-preprocessor`
  cabal.project
  libraries/plutus-preprocessor/CHANGELOG.md
  libraries/plutus-preprocessor/plutus-preprocessor.cabal
  libraries/plutus-preprocessor/src/Debug.hs
  libraries/plutus-preprocessor/src/Main.hs
  libraries/plutus-preprocessor/src/PlutusScripts.hs
Owners: none

Remove `cardano-prelude` from `cardano-ledger-shelley-ma-test` dependencies
  shelley-ma/test-suite/cardano-ledger-shelley-ma-test.cabal
Owners: none

Move `semantics/executable-spec` -> `libraries/small-steps`, `semantics/small-step-test` -> `libraries/small-step-test`
  cabal.project
  libraries/small-steps-test/.ghcid
  libraries/small-steps-test/Setup.hs
  libraries/small-steps-test/small-steps-test.cabal
  libraries/small-steps-test/src/Control/State/Transition/Generator.hs
  libraries/small-steps-test/src/Control/State/Transition/Invalid/Trace.hs
  libraries/small-steps-test/src/Control/State/Transition/Trace.hs
  libraries/small-steps-test/src/Control/State/Transition/Trace/Generator/QuickCheck.hs
  libraries/small-steps-test/src/Hedgehog/Extra/Manual.hs
  libraries/small-steps-test/test/Control/State/Transition/Examples/CommitReveal.hs
  libraries/small-steps-test/test/Control/State/Transition/Examples/GlobalSum.hs
  libraries/small-steps-test/test/Control/State/Transition/Examples/Sum.hs
  libraries/small-steps-test/test/examples/Main.hs
  libraries/small-steps/.ghcid
  libraries/small-steps/CHANGELOG.md
  libraries/small-steps/Setup.hs
  libraries/small-steps/default.nix
  libraries/small-steps/small-steps.cabal
  libraries/small-steps/src/Control/Iterate/Collect.hs
  libraries/small-steps/src/Control/Iterate/SetAlgebra.hs
  libraries/small-steps/src/Control/Provenance.hs
  libraries/small-steps/src/Control/SetAlgebra.hs
  libraries/small-steps/src/Control/State/Transition.hs
  libraries/small-steps/src/Control/State/Transition/Extended.hs
  libraries/small-steps/src/Control/State/Transition/Simple.hs
  libraries/small-steps/src/Data/AbstractSize.hs
  libraries/small-steps/src/Data/CanonicalMaps.hs
  libraries/small-steps/src/Data/Coders.hs
  libraries/small-steps/src/Data/MemoBytes.hs
  libraries/small-steps/src/Data/Pulse.hs
  libraries/small-steps/src/Data/Relation.hs
Owners: @devops

Move `example-shelley` -> `libraries/cardano-ledger-example-shelley`
  cabal.project
  libraries/cardano-ledger-example-shelley/Setup.hs
  libraries/cardano-ledger-example-shelley/cardano-ledger-example-shelley.cabal
  libraries/cardano-ledger-example-shelley/src/Cardano/Ledger/Example.hs
  libraries/cardano-ledger-example-shelley/src/Cardano/Ledger/Example/Translation.hs
  libraries/cardano-ledger-example-shelley/test/Test/Cardano/Ledger/Example.hs
  libraries/cardano-ledger-example-shelley/test/Tests.hs
Owners: none

Move `shelley/chain-and-ledger/dependencies/non-integer` -> `libraries/shelley-spec-non-integral`.
  cabal.project
  default.nix
  docs/non-integer-calculations/IOHKCoverPage.sty
  docs/non-integer-calculations/Makefile
  docs/non-integer-calculations/cf_exp.png
  docs/non-integer-calculations/d2-depends.pdf
  docs/non-integer-calculations/default.nix
  docs/non-integer-calculations/habbrv.bst
  docs/non-integer-calculations/haskell.png
  docs/non-integer-calculations/iohk-share-logo.jpg
  docs/non-integer-calculations/iohk.sty
  docs/non-integer-calculations/ln_cf.png
  docs/non-integer-calculations/ln_taylor.png
  docs/non-integer-calculations/non-integer-calculations.tex
  docs/non-integer-calculations/references.bib
  docs/non-integer-calculations/taylor_exp.png
  libraries/shelley-spec-non-integral/ChangeLog.md
  libraries/shelley-spec-non-integral/README.md
  libraries/shelley-spec-non-integral/Setup.hs
  libraries/shelley-spec-non-integral/app/Main.hs
  libraries/shelley-spec-non-integral/reference/Makefile
  libraries/shelley-spec-non-integral/reference/non_integral.c
  libraries/shelley-spec-non-integral/reference/non_integral.h
  libraries/shelley-spec-non-integral/reference/non_integral.hpp
  libraries/shelley-spec-non-integral/reference/non_integral_test.cpp
  libraries/shelley-spec-non-integral/reference/randomize.cpp
  libraries/shelley-spec-non-integral/shelley-spec-non-integral.cabal
  libraries/shelley-spec-non-integral/src/Shelley/Spec/NonIntegral.hs
  libraries/shelley-spec-non-integral/test/Tests.hs
  libraries/shelley-spec-non-integral/test/Tests/Shelley/Spec/NonIntegral.hs
  shelley/chain-and-ledger/dependencies/non-integer/stack.yaml
Owners: @devops

Move `pool-ranking` and `semantics` specs into their own folder `docs`:
  default.nix
  docs/pool-ranking/Makefile
  docs/pool-ranking/default.nix
  docs/pool-ranking/habbrv.bst
  docs/pool-ranking/pool-ranking.tex
  docs/pool-ranking/references.bib
  docs/small-step-semantics/Makefile
  docs/small-step-semantics/default.nix
  docs/small-step-semantics/small-step-semantics.tex
Owners: @devops
